# Fix versions of django and directly related components:
Django==1.5.5
django-debug-toolbar==0.9.4
django-celery==3.0.11
# Functionality introduced at these versions is required:
python-magic>=0.4.0
# These should (!) have stable APIs, so let upgrades happen
Markdown
python-dateutil
mock
pytz
# Not sure about:
south
# for easy_thumbnails:
six
# For generating non-html copy for mailout etc:
html2text
