# Fix versions of django and directly related components:
Django==1.8.18
django-debug-toolbar==1.5.0
celery==3.1.20
django-celery==3.1.17
easy_thumbnails==2.2
# Functionality introduced at these versions is required:
python-magic>=0.4.0
# These should (!) have stable APIs, so let upgrades happen
python-dateutil
mock
fixtures<4
pytz
# For general python 3 compatiblity:
six
# For generating non-html copy for mailout etc:
html2text==3.200.3
# CMS:
wagtail<1.13
# Pin to version before Django 1.8 support was droppped:
djangorestframework<3.7
# Needed for Django < 1.9 to allow circular template refs, for customising
# wagtail admin:
django-overextends<0.5

# The MySQL-python library requires a C build chain (gcc, etc.) and the mysql
# library headers to be installed, which isn't desirable on deployment hosts.
# Instead we ensure that the corresponding OS package is installed, and the
# virtualenv is created with --system-site-packages
# MySQL-python
