{% extends "base.html" %}
{% load repeat %}

{% block css %}
<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,500' rel='stylesheet' type='text/css'>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:400" /> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:100" /> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:100italic" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:300" /> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:300italic" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:500" /> 
<![endif]-->
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900" rel="stylesheet">
<link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock css %}

{% block script %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/respond.min.js" ></script>
    <script src="{{ STATIC_URL }}js/lib/masonry.pkgd.min.js" ></script>
    <script src="{{ STATIC_URL }}js/lib/imagesloaded.pkgd.min.js" ></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.touchSwipe.min.js"></script>
    <script src="{{ STATIC_URL }}js/site-common.js"></script>
    {% block script-page-setup %}
    <script>
    setup_page(false);
    </script>
    {% endblock script-page-setup %}
{% endblock script %}

{% block header %}
{{ block.super }}
<div id="container" class="body">
    <div id="sidebar" class="panel">
      <div class="nav-wrap">
          <a href="{% url "default-view" %}"><img src="{{ STATIC_URL }}{{ VENUE.nav_menu_img }}" alt="{{ VEMUE.name }} logo" width="175" height="168"></a>
          <div id="site-title" class="clearfix">
              {% capture navmenu-title %}
              {% block navmenu-title %}
              {% endblock navmenu-title %}
              {% endcapture %}
          </div><!-- end #site-title -->
          <div class="site-description">
              {% capture site-description %}
              {% block site-description %}{% endblock %}
              {% endcapture %}
          </div><!-- end #site-description -->
      </div><!-- end .nav-wrap -->
      <nav id="site-nav" class="clearfix">
          <div id="navmenu" class="menu-wrap">
            {% include "fragment_navmenu.html" %}
            {% block navmenu-footer %}
                {% include "fragment_sociallinks.html" %}
            {% endblock navmenu-footer %}
          </div><!-- end .menu-wrap -->
      </nav><!-- end #site-nav -->
    </div><!-- end #sidebar -->
    <div class="grid">
        <div class="black_overlay"></div>
        <div class="navigation-wrap">
            <div class="mobile-wrap">
              <a href="#nav-mobile" data-toggle=".grid" id="mobile-menu-btn"><i class="fa fa-bars"></i><span>Menu</span></a>
            </div><!-- end #mobile-wrap -->
            <div id="site-title" class="clearfix">
                {% retrieve navmenu-title %}
            </div><!-- end #site-title -->
            <div class="site-description">
              {% retrieve site-description %}
            </div><!-- end .site-description -->
        </div><!-- end .nav-wrap -->
{% endblock header%}

{% block footer %}
    </div><!-- end .grid -->
</div><!-- end #container .body -->

<!-- Fluid Width Video -->
<script>
!function(e,t){for(var i=t.getElementsByTagName("iframe"),a=0;a<i.length;a++){var o=i[a],l=/www.youtube.com|player.vimeo.com/;if(o.src.search(l)>0){var s=o.height/o.width*100;o.style.position="absolute",o.style.top="0",o.style.left="0",o.width="100%",o.height="100%";var r=t.createElement("div");r.className="fluid-vids",r.style.width="100%",r.style.position="relative",r.style.paddingTop=s+"%";var d=o.parentNode;d.insertBefore(r,o),r.appendChild(o)}}}(window,document);
</script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats2.xtreamlab.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '{{ VENUE.piwik_id }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats2.xtreamlab.net/piwik.php?idsite={{ VENUE.piwik_id }}&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

{{ block.super }}
{% endblock footer %}
