{% extends "base_admin.html" %}

{% block css %}
  {{ block.super }}
  <style type="text/css">
    @import url('{{ STATIC_URL }}css/lib/flatpickr.min.css');
    a#{{ event_field }}_link {
        font-weight: bold;
        color: black;
        text-decoration: none;
    }
  </style>
{% endblock %}
{% block script %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/lib/flatpickr.js"></script>
  <script type="text/javascript">
    "use strict";
    let fromDatePicker, toDatePicker;
    $(document).ready(function() {
	    console.log("Configuring date picker controls");
        // Add date picker:
        fromDatePicker = flatpickr('#id_from_date', {
            dateFormat : 'd-m-Y',
            onChange : dateRangeSelected,
        });
        toDatePicker = flatpickr('#id_to_date', {
            dateFormat : 'd-m-Y',
            onChange : dateRangeSelected,
        });
        $('#daterange')[0].onsubmit = function() {
            dateRangeSelected();
            return false;
        }
    });
    function dateRangeSelected(dateText, inst) {
        const fromDate = fromDatePicker.selectedDates[0];
        const toDate = toDatePicker.selectedDates[0];
        if(!fromDate || !toDate) {
            console.error("fromDate or toDate is null", fromDate, toDate);
	    return;
        }
        // Calculate days between those two dates:
        let daysAhead = Math.ceil((toDate.getTime() - fromDate.getTime())/86400000);
        if(daysAhead <= 0) {
            daysAhead = 0;
        }
        window.location.href = "{% url "view_event_field" event_field %}/" +
            (fromDate.getYear() + 1900) + "/" + (fromDate.getMonth() + 1) + "/" +
            fromDate.getDate() + "?daysahead=" + daysAhead {% if search %} +
            "&search={{ search|urlencode }}"{% endif %};
    }
  </script>
{% endblock %}

{% block body %}
  <div id='eventfield_header'>
    <form id='daterange'>
      <p align='center'><label for="id_from_date">{{ event_field|capfirst }} from </label><input type="text" name="from_date" value="{{ start_date|date:'j-m-Y'}}" id="id_from_date" />
      <label for="id_to_date"> to </label><input type="text" name="to_date" value="{{ end_date|date:'j-m-Y'}}" id="id_to_date" />
      </p>
      <p align='center'>
      <a id="copy_link" href="{% url "view_event_field" field="copy" %}/{{ start_date.year }}/{{ start_date.month }}/{{ start_date.day }}/?daysahead={{ days_ahead }}">Copy Report</a> |
      <a id="terms_link" href="{% url "view_event_field" field="terms" %}/{{ start_date.year }}/{{ start_date.month }}/{{ start_date.day }}/?daysahead={{ days_ahead }}">Terms Report</a> |
      <a id="copy_summary_link" href="{% url "view_event_field" field="copy_summary" %}/{{ start_date.year }}/{{ start_date.month }}/{{ start_date.day }}/?daysahead={{ days_ahead }}">Copy Summary Report</a></p>
    </form>
  </div>
{% endblock %}

