{% extends "base.html" %}
{% load noprefix_url %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}
{{ VENUE_LONGNAME }} role rota
{% endblock %}

{% block css %}
<style type="text/css">
    @import url('{{ STATIC_URL }}css/lib/smoothness/jquery-ui.css');
    body { font-family:Arial,Helvetica,sans-serif; }

    .rota-wrapper{
        max-width: 1280px;
    }

    h1, h2 { margin: 1mm; }
    h1 { font-size: 16pt; }
    h2 { font-size: 14pt; }

    .na {
        color: lightgray;
        cursor: pointer;
    }
    .rota_name {
        cursor: pointer;
    }
    .showing_title a, .title_row a:visited{
        color: blue;
        text-decoration: none;
    }
    .showing_title a:hover {
        text-decoration: underline;
    }
    .showing_rota_notes, .past_showing_rota_notes {
        border-top: thin dashed lightgray;
        border-bottom: thin solid lightgray;
        width: 90%;
        font-family: monospace;
        white-space: pre-wrap;
        padding: 0.4em 1em;
        margin-left: 3em;
        overflow: auto;
    }
    .showing_rota_notes span {
        cursor: pointer;
    }
    .past_showing, .past_showing a, .past_showing a:visited {
       color: darkgray;
    }
    ul.rota li{
      list-style-type: none;
    }
    .rota_role {
      display: inline-block;
      width: 50%;
      font-weight: bold;
      height: 0.65cm;
    }
    .rota_name form {
        display: inline;
    }
    @media screen and (min-width: 640px) {
        ul.rota {
            display: flex;
            flex-flow: row wrap;
        }
        ul.rota li{
            width: 50%;
        }
    }
    @media screen and (min-width: 800px) {
        .rota_role {
          width: 30%;
        }
    }
</style>
{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}js/lib/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/jquery.jeditable.mini.js"></script>
<script src="{{ STATIC_URL }}diary/js/edit_rota.js"> </script>
<script>
edit_rota(
    jQuery,
    "{% url "rota-edit" %}",
    "{{ edit_showing_notes_url_prefix }}",
    "{{ csrf_token }}"
);
</script>
{% endblock %}

{% block body %}
<div class="rota-wrapper">
    <form id='daterange'>
    <p align='center'><label for="id_from_date">{{ VENUE_LONGNAME }} Rota from </label><input type="text" name="from_date" value="{{ start_date|date:'j-m-Y'}}" id="id_from_date" />
    <label for="id_to_date"> to </label><input type="text" name="to_date" value="{{ end_date|date:'j-m-Y'}}" id="id_to_date" />
    </p>
    </form>

    {% with placeholder_text="<span class='na'>Click to edit</span>" %}
    {% for showing in showings %}
        {% ifchanged %}<h2>{{ showing.start|date:"F Y" }}</h2>{% endifchanged %}
        <h3 class="showing_title{% if showing.in_past %} past_showing{% endif %}">
            {{ showing.start|date:"D j H:i"}}
            <a href="{% noprefix_url "single-showing-view" showing.pk %}">{{ showing.event.name.upper }}</a>
        </h3>
        <ul class="rota">
        {% for rota_entry in showing.rotaentry_set.all %}
            <li>
            <span class="rota_role">{{ rota_entry.role.name }}-{{ rota_entry.rank }}</span>
            &nbsp;
            {% if showing.in_past %}
                {{ rota_entry.name }}
            {% else %}
                <span class="rota_name" id="{{ rota_entry.pk }}">{{ rota_entry.name|default:placeholder_text }}</span>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
        <p class="{% if showing.in_past %}past_{% endif %}showing_rota_notes"><span id="showing_rota_notes_{{ showing.pk }}">{{ showing.rota_notes }}</span></p>
    {% endfor %}
    {% endwith %}
    </div>
{% endblock %}

