{% extends "base.html" %}
{% load hash_filter %}

{% block title %}
Editing {{ event_list_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
<style type="text/css">
  @import url('{{ STATIC_URL }}css/lib/smoothness/jquery-ui.css');
  .private {
  font-style: italic;
  }
  .external {
  font-weight: bold;
  }
  .discounted {
    color: #a000FF;
  }
  .cancelled {
    color: red;
  }
  .daytime {
    background-color: #FFFF99;
  }
  h3 { font-family: Arial; }

  table { border-collapse: collapse; }
  tr:nth-child(odd) td {
      background-color: #d0d0d0;
  }
  tr:nth-child(even) td {
      background-color: #c0c0c0;
  }
  td:first-child {
      text-align: right;
      width: 100px;
      padding-right: 10px;
  }
  #controls {
      border: thick solid black;
      padding: 10px;
      float: right;
      position: absolute;
      top: 0;
      right: 10px;
  }
  .ideas {
      white-space: pre-line;
  }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui.min.js"></script>
<script type="text/javascript">
var edit_prefs = { {% for p,v in edit_prefs.iteritems %}
    "{{ p }}" : "{{ v }}"{% if not forloop.last %},{% endif %}
{% endfor %}};
$(document).ready(function() {
        // Add date picker:
        $('#id_lookahead_to').datepicker({
            dateFormat : 'dd-mm-yy',
            onSelect : dateRangeSelected,
            minDate : 0,
        });

        prefs_updated(edit_prefs);
});
function dateRangeSelected(dateText, inst) {
    var enddate = $.datepicker.parseDate('dd-mm-yy', dateText);
    var startdate = new Date({{start.year}}, {{start.month}} - 1, {{start.day}});
    // Calculate days between those two dates:
    var days_ahead = Math.ceil((enddate.getTime() - startdate.getTime())/86400000);
    if(days_ahead <= 0) {
        days_ahead = 0;
    }
    window.location.href = "{% url "day-edit" year=start.year day=start.day month=start.month %}?daysahead=" + days_ahead;
}
function set_edit_pref(pref, value) {
    if(edit_prefs[pref] !== value) {
        edit_prefs[pref] = value;
        $.getJSON('{% url "set_edit_preferences" %}', edit_prefs, prefs_updated);
    }
}
function prefs_updated(data) {
    edit_prefs = data;
    if(edit_prefs['popups'] === 'false') {
        $('#set_inline').replaceWith('<b id="set_inline">this window</b>');
        $('#set_popups').replaceWith('<a id="set_popups" href="#">pop-ups</a>');
        $('#set_popups').click(function() { set_edit_pref('popups',true); });
        // Clear click handlers on links in table
        $('table a').off('click');
    } else {
        $('#set_inline').replaceWith('<a id="set_inline" href="#">this window</a>');
        $('#set_inline').click(function() { set_edit_pref('popups',false); });
        $('#set_popups').replaceWith('<b id="set_popups">pop-ups</b>');
        // Change links in table to open in a new window:
        $('table a').click(function(e) {
            window.open(e.currentTarget.href,"edit_form","height=800,width=800,scrollbars,resizable,toolbar");
            return false;
        });
    }
}
</script>
{% endblock %}

{% block body %}
<img src="{{ STATIC_URL }}diary/diary_edit_list_header.gif" alt="Cube Microplex" width="150px">
<h3>CUBE events diary</h3>
<p id="controls"><a href="{% url "logout" %}">Log out</a><br>
Edit in: <a id="set_popups" href="#">pop-ups</a> | <a id="set_inline" href="#">this window</a></p>

<p><a name="top"></a></p>
<h4>Key:</h4>
<p><span class="private">Private events are in italics</span><br>
<span class="external">Outside hires are bolded</span><br>
<span class="discounted">Discounted events (like TTT) are magenta</span><br>
<span class="cancelled">Cancelled events are red</span><br>
<span class="daytime">Daytime (before 6pm) events have a light background</span></p>

<div class="programme"><p align='center'><a href="{% url "day-edit" year=start.year day=start.day month=start.month %}?daysahead=90">See 3 months</a> |
<a href="{% url "day-edit" year=start.year day=start.day month=start.month %}?daysahead=183">See 6 months</a> |
<a href="{% url "day-edit" year=start.year day=start.day month=start.month %}?daysahead=365">See 12 months</a></p>
<p align='center'><label for="id_start">See from now until:</label> <input type="text" name="lookahead_to" value="{{ end|date:'j-m-Y'}}" id="id_lookahead_to" /></p>

{% include "messages.html" %}

<table class="summary">
<tr><td></td><td colspan="3"><a href="{% url "add-event" %}">New event</a></td></tr>
{% for day, showings in dates.items %}
    {% ifchanged %}<tr class="row_year"><td><h1>{{ day|date:"Y" }} </h1></td><td colspan="3"></td></tr>{% endifchanged %}
    {% ifchanged %}<tr class="row_month"><td><h2>{{ day|date:"F" }}</h2></td><td colspan="3"></td></tr></tr>
    {% endifchanged %}
    {% if day in ideas %}
    <tr><td><a href="{% url "edit-ideas" year=day.year month=day.month %}">IDEAS</a></td><td colspan="3" class="ideas">{{ ideas|lookup:day }}</td></tr>
    {% endif %}

    {% for showing in showings %}
        <tr>
        {% if forloop.first %}
            {# First showing of the day, blank row plus add an event link #}
            <td colspan="4">&nbsp;</td></tr>
            <tr><td><a href="{% url "add-event" %}?date={{day|date:"j-m-Y"}}">{{ day|date:"D j"}}</a></td>
        {% else %}
            {# Subsequent showings for this day #}
            <td>&nbsp;</td>
        {% endif %}
        <td>
        <a href="{% url "edit-showing" showing_id=showing.pk %}" {% if showing.start.hour <= 17 %}class="daytime"{% endif %}>{{ showing.start|date:"H:i" }}</a>
        </td>
        <td class="table_gap">&nbsp;</td>
        <td>{{ showing.booked_by }} <a href="{% url "edit-event-details-view" pk=showing.event.pk %}"
                class="{% if showing.cancelled %}cancelled{% endif %}{% if showing.discounted %} discounted{% endif %}{% if showing.event.private %} private{% endif %}{% if showing.event.outside_hire %} external{% endif %}{% if showing.start.hour <= 17 %} daytime{% endif %}">
            {% if showing.confirmed %}
            {{ showing.event.name|upper }}
            {% else %}
            {{ showing.event.name }}
            {% endif %}{% if showing.discounted %}(TTT){% endif %}{% if showing.cancelled %}(CANCELLED){% endif %}
        </a></td>
        </tr>
    {% empty %}
        {# No showings on this day, but show the day anyway (with a link to add an event) #}
        <tr><td><a href="{% url "add-event" %}?date={{day|date:"j-m-Y"}}">{{ day|date:"D j"}}</a></td><td colspan="3"></td></tr>
    {% endfor %}
{% endfor %}
</table>
</div>

{% endblock %}

