{% extends "base.html" %}
{% load hash_filter %}

{% block title %}
Event diary
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
<link rel='stylesheet' href='{{ STATIC_URL }}diary/js/lib/fullcalendar/fullcalendar.min.css' />
<link rel="stylesheet" href="{{ STATIC_URL }}diary/js/lib/fancybox/jquery.fancybox.css" />
<style type="text/css">
  @import url('{{ STATIC_URL }}css/lib/smoothness/jquery-ui.css');
  .s_private {
      font-style: italic;
  }
  .s_external {
      font-weight: bold;
  }
  .s_discounted div::after {
      content: " TTT";
  }
  .s_cancelled {
     /* color: red; */
     text-decoration: line-through;
  }
  #controls {
      padding: 10px;
      position: absolute;
      left: 10px;
      top: 10px;
  }
  #calendar {
        max-width: 1000px;
        max-height: 500px;
        margin: auto;
  }
</style>
{% endblock %}

{% block script %}
<script src='{{ STATIC_URL }}diary/js/lib/fullcalendar/lib/jquery.min.js'></script>
<script src='{{ STATIC_URL }}diary/js/lib/fullcalendar/lib/moment.min.js'></script>
<script src='{{ STATIC_URL }}diary/js/lib/fullcalendar/fullcalendar.min.js'></script>
<script src='{{ STATIC_URL }}diary/js/lib/fancybox/jquery.fancybox.js'></script>

<script type="text/javascript">
$(document).ready(function() {
    var add_event_url = "{% url "add-event" %}";
    var calendar = $('#calendar');
    var fb_target = $("#fb_target");
    var currentDate = $.fullCalendar.moment('{{ display_time|date:"Y-m-d" }}');
    var currentView = "{{ defaultView }}"

    /* Dirty hack to ensure popups is true: */
    $.getJSON('{% url "set_edit_preferences" %}', {
        "daysahead" : "365",
        "popups" : "true"
    });

    function onEventClick(calEvent, jsEvent, view) {
        fb_target.attr('href', calEvent.url);
        fb_target.click();
        return false;
    }

    function onDayClick(date) {
        if(date.isBefore(moment())) {
            return;
        }
        if(date.hasTime()) {
            // User clicked on a timeslot in week / day view: this is handled
            // by onSelect, so do nothing
            return;
        }
        var url = add_event_url + "?date=" + date.format("D-M-YYYY");
        fb_target.attr('href', url);
        fb_target.click();
    }

    function onSelect(start, end) {
        var url = add_event_url + "?date=" + start.format("D-M-YYYY");
        // Don't allow new events in the past. This is also enforced
        // server-side.
        if(start.isBefore(moment())) {
            calendar.fullCalendar('unselect');
            return;
        }
        if(start.hasTime() && end.hasTime()) {
            // User clicked on a timeslot in week / day view
            url += "&time=" + start.format("H:m");
            url += "&duration=" + (end.unix() - start.unix());
        };
        fb_target.attr('href', url);
        fb_target.click();
    }

    function onViewRender(view, element) {
        var newDate = calendar.fullCalendar('getDate');
        if(view.name === 'month') {
            var newUrl = '{% url "diary-edit-calendar" %}/' + newDate.year()
                         + '/' + (newDate.month() + 1) + '/';

            if(!currentDate.isSame(newDate, 'month') || (currentView != view.name)) {
                history.replaceState(null, document.title, newUrl);
            }
        } else if(view.name === "agendaWeek") {
            var newUrl = '{% url "diary-edit-calendar" %}/' + newDate.year()
                         + '/' + (newDate.month() + 1)
                         + '/' + newDate.date();

            if(!currentDate.isSame(newDate, 'day') || (currentView != view.name)) {
                history.replaceState(null, document.title, newUrl);
            }
        }
        currentView = view.name;
        currentDate = newDate;
    }


    fb_target.fancybox({
        openEffect: 'none',
        closeEffect: 'none',
        afterClose: function() {
            calendar.fullCalendar('refetchEvents');
        },
        iframe : {
            preload: false
        }
    });


    calendar.fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek'
        },
        allDaySlot: false,
        defaultDate: '{{ display_time|date:"Y-m-d" }}',
        defaultView: '{{ defaultView }}',
        editable: false,
        selectable: true,
        selectHelper: true,
        // Force events to a single day. It is valid to have a duration > 24hr,
        // but historically we've not done that to indicate multi-day events,
        // so nothing else is expecting it.
        selectConstraint: {
            start: '0:00',
            end: '23:59'
        },
        select: onSelect,
        eventLimit: true,
        timeFormat: 'H:mm',
        scrollTime: '18:00:00',
        nowIndicator: true,
        // The server will provide localised time. Don't mess with them:
        timezone: false,
        views: {
            agenda: {
                scrollTime: '10:00:00'
            },
            month: {
                scrollTime: '10:00:00'
            }
        },
        events: '{% url "edit-diary-data" %}',
        eventClick: onEventClick,
        dayClick: onDayClick,
        viewRender: onViewRender
    });
});
</script>
{% endblock %}

{% block body %}
<a style="display: none;" class="fancybox" data-fancybox-type="iframe" id="fb_target" href="http://cubecinema.com/"></a>
<p id="controls">
<a href="{% url "toolkit-index" %}">Toolkit home</a><br>
<a href="{% url "logout" %}">Log out</a>
</p>
<div id='calendar'></div>
{% endblock %}

