{% extends "base.html" %}

{% block title %}
CUBE role rota
{% endblock %}

{% block css %}
<style type="text/css">
    @import url('{{ STATIC_URL }}css/lib/smoothness/jquery-ui.css');
    body {font-family:Arial,Helvetica,sans-serif; }
    h1, h2 { margin: 1mm; }
    h1 { font-size: 16pt; }
    h2 { font-size: 14pt; }

    td.cell_day {
        font-weight: bold;
        text-align: right;
        color: blue;
    }
    td.event_name {
        font-weight: bold;
        color: blue;
    }
    .right {
        text-align: right;
    }
    td.rota_box {
        width: 6cm;
        height: 0.65cm;
        border-style: solid;
        border-width: 0px;
        border-color: gray;
    }
    .na { color: lightgray; }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.jeditable.mini.js"></script>
<script>
 $(document).ready(function() {
         volunteer_list = {{ json_active_volunteer_list }};
         // All valid keys will contain '_'
         volunteer_list['noselection'] = '------';
         volunteer_list['deletesignup'] = 'Un-sign-up';
         volunteer_list['selected'] = 'noselection';
         $('.rota_name').editable('', {
            width: "5cm",
            type: "select",
            data: volunteer_list,
            placeholder: '{{ placeholder_text }}',
            submit: "OK",
            submitdata: {
                csrfmiddlewaretoken: "{{ csrf_token }}"
            }
         });
 });
</script>
{% endblock %}

{% block body %}
<table border="0" cellspacing="0">

{% for showing in showings %}
    {% ifchanged %}<tr><td><h1>{{ showing.start|date:"Y" }} </h1></td><td colspan="6"></td></tr>{% endifchanged %}
    {% ifchanged %}<tr><td></td><td><h2>{{ showing.start|date:"F" }}</h2></td><td colspan="5"></td></tr>{% endifchanged %}
    <tr>
        <td></td>
        <td class="cell_day">{{ showing.start|date:"D"}}&nbsp;{{ showing.start|date:"j" }}</td>
        <td class="cell_day">{{ showing.start|date:"H:i" }}</td><td class="event_name" colspan="4">{{ showing.event.name.upper }} </td>
    </tr>
    {% for rota_entry in showing.rotaentry_set.all %}
        {% if forloop.counter|divisibleby:2 %}
        <td class="rota_box">
        {{ rota_entry.role.name }}-{{ rota_entry.rank }} </td>
        <td class="rota_box"><span class="rota_name" id="{{ rota_entry.pk }}">{{ rota_entry.volunteer.member.name|default:placeholder_text }}</span></td>
        </tr>
        {% else %}
        <tr>
        <td colspan="3"></td>
        <td class="rota_box">
        {{ rota_entry.role.name }}-{{ rota_entry.rank }} </td>
        <td class="rota_box"><span class="rota_name" id="{{ rota_entry.pk }}">{{ rota_entry.volunteer.member.name|default:placeholder_text }}</span></td>
            {% if forloop.last %}
                <td colspan="2"></td></tr>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}

</table>

{% endblock %}

