{% extends "base_admin.html" %}
{% load hash_filter tz %}

{% block title %}
Editing {{ event_list_name }}
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
<style type="text/css">
  @import url('{{ STATIC_URL }}css/lib/smoothness/jquery-ui.css');
  .private {
      font-style: italic;
  }
  .external {
      font-weight: bold;
  }
  .discounted {
      color: #a000FF;
  }
  .cancelled {
      color: red;
  }
  .unconfirmed {
      text-decoration: underline wavy black;
  }
  .daytime {
      background-color: #FFFF99;
  }
  a {
      color: #2a00ff;
  }
  td:first-child {
      text-align: right;
  }
  #controls {
      border: thick solid black;
      padding: 10px;
      float: right;
      position: absolute;
      top: 5rem;
      right: 10px;
  }
  .ideas {
      white-space: pre-line;
      cursor: pointer;
  }
</style>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/lib/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/jquery.jeditable.mini.js"></script>
<script>
var edit_prefs = { {% for p,v in edit_prefs.items %}
    "{{ p }}" : "{{ v }}"{% if not forloop.last %},{% endif %}
{% endfor %}};
$(document).ready(function() {
        // Add date picker:
        $('#id_lookahead_to').datepicker({
            dateFormat : 'dd-mm-yy',
            onSelect : dateRangeSelected,
            minDate : 0,
        });

        // Filter widget:
        $('#id_input_filter').keyup(filter_events);
        filter_events();

        prefs_updated(edit_prefs);

        // Idea in-place edits
        var idea_url = '{% url "edit-ideas" year=9999 month=0 %}'.replace("/9999/0", "");
        $('.idea-edit').each(function() {
            var element = $(this);
            var date_re = /idea-edit-(\d+)-(\d+)/;
            var date_match = date_re.exec(element.attr('id'));
            var year, month;
            if (date_match) {
                year = date_match[1];
                month = date_match[2];
                element.editable(
                    idea_url + year + "/" + month + "/",
                    {
                        width: "5cm",
                        name: 'ideas',
                        placeholder: 'Click to add ideas',
                        submit: "Save",
                        type: 'textarea',
                        rows: 5,
                        width: "auto",
                        submitdata: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            source: 'inline',
                        }
                    }
                );
            }

        });
});
function dateRangeSelected(dateText, inst) {
    var enddate = $.datepicker.parseDate('dd-mm-yy', dateText);
    var startdate = new Date({{start.year}}, {{start.month}} - 1, {{start.day}});
    // Calculate days between those two dates:
    var days_ahead = Math.ceil((enddate.getTime() - startdate.getTime())/86400000);
    if(days_ahead <= 0) {
        days_ahead = 0;
    }
    window.location.href = "{% url "day-edit" year=start.year day=start.day month=start.month %}?daysahead=" + days_ahead;
}

var filter_timer = null;
var DEBOUNCE_TIMEOUT = 150; // milliseconds
function filter_events() {
    // use a timer to 'debounce' input (i.e. wait 150ms to see if the user has
    // stopped typing)
    if(filter_timer !== null) {
        window.clearTimeout(filter_timer);
    }
    filter_timer = window.setTimeout(function() {
        var filter_text = $('#id_input_filter').val();
        if(filter_text === undefined)
            return true;

        filter_text = filter_text.toLowerCase();

        var event_rows = $('tr');

        event_rows.each(function(index, el) {
            var jq_el = $(el);
            var header_row = jq_el.hasClass("row_month") || jq_el.hasClass("row_year");
            if(!header_row) {
                var name_cell = jq_el.children(':nth-child(3)');
                if(name_cell.text().toLowerCase().indexOf(filter_text) !== -1) {
                    // NB: if filter text is "" then this will always match, and
                    //     everything will be shown
                    jq_el.show();
                } else {
                    jq_el.hide();
                }
            }
        });
    }, DEBOUNCE_TIMEOUT);
}
function set_edit_pref(pref, value) {
    if(edit_prefs[pref] !== value) {
        edit_prefs[pref] = value;
        $.getJSON('{% url "set_edit_preferences" %}', edit_prefs, prefs_updated);
    }
}
function prefs_updated(data) {
    edit_prefs = data;
    if(edit_prefs['popups'] === 'false') {
        $('#set_inline').replaceWith('<b id="set_inline">this window</b>');
        $('#set_popups').replaceWith('<a id="set_popups" href="#">pop-ups</a>');
        $('#set_popups').click(function() { set_edit_pref('popups',true); });
        // Clear click handlers on links in table
        $('table a').off('click');
    } else {
        $('#set_inline').replaceWith('<a id="set_inline" href="#">this window</a>');
        $('#set_inline').click(function() { set_edit_pref('popups',false); });
        $('#set_popups').replaceWith('<b id="set_popups">pop-ups</b>');
        // Change links in table to open in a new window:
        $('table a').click(function(e) {
            window.open(e.currentTarget.href,"edit_form","height=800,width=800,scrollbars,resizable,toolbar");
            return false;
        });
    }
}
</script>
{% endblock %}

{% block body %}
<p id="controls">
Edit in: <a id="set_popups" href="#">pop-ups</a> | <a id="set_inline" href="#">this window</a></p>

<p><a name="top"></a></p>
<b>Key:</b>
<p>
<span class="unconfirmed">unconfirmed are lower case and wiggly underlined</span><br>
<span class="confirmed">CONFIRMED ARE UPPER CASE</span><br>
<span class="private">Private events are in italics</span><br>
<span class="external">Outside hires are bolded</span><br>
<span class="discounted">Discounted events (like cheap night) are magenta and have an *</span><br>
<span class="cancelled">Cancelled events are red</span><br>
<span class="daytime">Daytime (before 6pm) events have a light background</span></p>

<div class="programme">
<p align='center'>See: <a href="{% url "day-edit" year=start.year day=start.day month=start.month %}?daysahead=183">6 months</a> |
<a href="{% url "day-edit" year=start.year day=start.day month=start.month %}?daysahead=365">1 year</a> |
<a href="{% url "day-edit" year=start.year day=start.day month=start.month %}?daysahead=730">2 years</a> |
<label>until: <input type="text" name="lookahead_to" value="{{ end|date:'j-m-Y'}}" id="id_lookahead_to"></label><br>
<label>Filter events: <input type="text" placeholder="by title/booker column" id="id_input_filter" autofocus></label></p>

{% include "messages.html" %}

{% with room_columns=rooms|length %}
<p><a href="{% url "add-event" %}">New event</a></p>
<table class="table table-striped">
{% if multiroom_enabled %}
<tr><td colspan="2"></td>
{% for room in rooms %}
    <th>{{ room.name|default:"<!-- No Room -->" }}</th>
{% endfor %}
</tr>
{% endif %}
{% for day, showings in dates.items %}
    {% ifchanged %}
        <tr class="row_month">
            <td colspan="{{ room_columns|add:2 }}"><h2>{{ day|date:"F Y" }}</h2></td>
        </tr>
    {% endifchanged %}
    {% if day in ideas %}
        <tr>
            <td><a href="{% url "edit-ideas" year=day.year month=day.month %}">IDEAS</a></td>
            <td colspan="{{ room_columns|add:1 }}" class="ideas"><div class="idea-edit" id="idea-edit-{{day.year}}-{{day.month}}">{{ ideas|lookup:day }}</div></td>
        </tr>
    {% endif %}

    {% for showing in showings %}
        <tr>
            <td>
        {% if forloop.first %}
            {# First showing of the day, show the date (which has the link to add an event) #}
            <a href="{% url "add-event" %}?date={{day|date:"j-m-Y"}}">{{ day|date:"D\&\n\b\s\p;j"|safe }}</a>
        {% else %}
            {# Subsequent showings for this day #}
            &nbsp;
        {% endif %}
            </td>
        {% with showing.start|localtime as start_localtime %}
            <td>
                <a href="{% url "edit-event-details-view" pk=showing.event.pk %}" {% if start_localtime.hour <= 17 %}class="daytime"{% endif %}>{{ showing.start|date:"H:i" }}</a>
            </td>

        {% for room in rooms %}
            {# if multiroom_enabled is false then rooms will only have one item, so there shouldn't be any repeats! #}
            {% if showing.room == room or not multiroom_enabled %}
            <td>{{ showing.booked_by }} <a href="{% url "edit-event-details-view" pk=showing.event.pk %}"
                    class="{{ showing.cancelled|yesno:"cancelled," }}
                           {{ showing.discounted|yesno:"discounted," }}
                           {{ showing.event.private|yesno:"private," }}
                           {{ showing.event.outside_hire|yesno:"external," }}
                           {{ showing.confirmed|yesno:"confirmed,unconfirmed" }}
                           {% if start_localtime.hour <= 17 %}daytime{% endif %}">
                {% if showing.confirmed %}
                    {{ showing.event.pre_title|upper }} {{ showing.event.name|upper }} {{ showing.event.post_title|upper }}
                {% else %}
                    {{ showing.event.name }}
                {% endif %}
                {{ showing.discounted|yesno:"*," }}
                {{ showing.cancelled|yesno:"(CANCELLED)," }}
                </a>
                {{ showing.sold_out|yesno:"(marked SOLD OUT)," }}
            </td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
        {% endfor %}
        </tr>
        {% endwith %}
    {% empty %}
        {# No showings on this day, but show the day anyway (with a link to add an event) #}
        <tr>
            <td><a href="{% url "add-event" %}?date={{day|date:"j-m-Y"}}">{{ day|date:"D j"}}</a></td>
            <td colspan="{{ room_columns|add:1 }}"></td>
        </tr>
    {% endfor %}
{% endfor %}
</table>
</div>

{% endwith %}

{% endblock %}

