{% load hash_filter %}
{% load thumbnail %}
<span id="event_{{ event.id }}">
{# backwards-compatible anchor: #}{% if event.legacy_id %}<a name="{{ event.legacy_id }}"></a>{% endif %}
<h2>{{ event.name|capfirst}}</h2>

{% with event.media.all.0 as media_item %}
{% if media_item %}
<p><a href="{{ media_url }}{{ media_item.media_file }}"><img src="{{ media_item.media_file|thumbnail_url:'std' }}" alt="Picture for event {{ showing.event.name }}"></a></p>
{% if media_item.credit %}
<p class="image_caption">Image by: {{ media_item.credit }}</p>
{% endif %}
{% endif %}
{% endwith %}

<p>
{% for showing in showings %}
{% if showing.cancelled %}<span class="cancelled">{% endif %}
    {% if showing.discounted %}<span class="discounted">{{ showing.start|date:"D jS M, P" }} <abbr title="Ticket Tout Tuesday">TTT</abbr></span>
    {% else %}
    {{ showing.start|date:"D jS M, P" }} {% endif %}
    {% if showing.cancelled %} (cancelled)</span>{% endif %}<br>
{% endfor %}
</p>

<p>{{ event.copy_html }}</p>
{# <p>{% for tag in event.tags.all %}{{tag.name}} {% endfor %}</p> #}

</span>
