{% extends "form_base.html" %}
{% block title %}
Details for: {{ event.name }}
{% endblock %}
{% block css %}
{{ block.super }}
<style>
    h3 { font-family: Arial; }
    div#title {
        margin: 0 16px ;
        width: 95%;
        background-color: #d0d0d0;
    }
    div#title h1 {
        font-family: Arial;
        font-size: 18pt;
        margin: 0;
        padding: 5px;
    }
    div#title p {
        margin: 0;
        padding: 5px;
    }
    div#forms {
        margin: 0 16px;
        width: 95%;
    }
    div#forms p {
        margin: 0;
        padding: 5px;
    }
    div#forms p:nth-child(odd) {
        background-color: #d0d0d0;
    }
    div#forms p:nth-child(even) {
        background-color: #c0c0c0;
    }
    form label {
        font-weight: bold;
        vertical-align: top;
        text-align: right;
        padding-right: 5pt;
        display: block;
        float: left;
        width: 15%;
    }
    div#forms textarea, form input[type=text] {
        width: 75%;
        display: block;
    }
    span#image_edit {
        width: 75%;
        display: block;
        padding-left: 15.5%;
    }
    #image_edit label {
        display: inline;
        float: none;
        font-weight: bold;
    }
    /* Collection of hacky CSS for WYSIHTML5 copy editor: */
    div.wysihtml5_django_wrapper {
        border: thin solid #d0d0d0;
        padding-left: 16%;
        background-color: #d0d0d0;
    }
    textarea#id_copy {
      border: thin solid black;
      padding: 5px;
      width: 75%;
      height: 280px;
      font-family: Verdana;
      font-size: 11px;
    }
    #toolbar-id_copy {
        background-color: #f0f0f0;
        font-family: Verdana;
        font-size: 12px;
        padding: 4px 0;
        margin: 4px;
        border: thin solid gray;
        border-radius: 3px;
        width: 71%;
        text-align: center;
    }
    #toolbar-id_copy div {
        width: auto;
        border: none;

    }
    /* Clear inherited styles */
    #toolbar-id_copy div label{
        display: inline;
        float: none;
    }
    /* OK / Cancel buttons on link edit */
    #toolbar-id_copy div a {
        border: thin solid black;
        border-radius: 3px;
        padding: 2px 3px;
        color: black:;
        background-color: #d0d0d0;
        font-family: sans;
        font-size: 12px;
        cursor: default;
    }

</style>
{% endblock %}

{% block body %}
<img src="{{ STATIC_URL }}diary/diary_edit_list_header.gif" alt="Cube Microplex" width="150px">
<h3>CUBE events diary</h3>

<div id="title">
<h1>Edit details for "{{ event.name }}"</h1>
<p>
{% for showing in event.showings.all %}
Booked for: {{ showing.start|date:"H:i d/m/Y"  }} <br>
{% endfor %}
</p>
</div>
<div id="forms">
<form action="{% url "edit-event-details" event_id=event.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        {{ media_form.media_file.label_tag }}
        <span id="image_edit">{{ media_form.media_file.errors }} {{ media_form.media_file }}</span>
    </p>
    <p>{{media_form.credit.errors }} {{ media_form.credit.label_tag }} {{ media_form.credit }}</p>
    <p>
        <input type="submit" value="Update" /> <a href="{% url "edit-event-details-view" pk=event.pk %}">Cancel</a>
    </p>
</form>
</div>

{% endblock %}

