{% extends "form_base.html" %}
{% block title %}
Details for: {{ showing.event.name }}
{% endblock %}
{% block script %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
        $('#delete_form').bind("submit", function() {
            return confirm("Delete event: are you sure?\nThis cannot be undone!");
        });
        $('input.rota_count').spinner({ min: 0, max: {{ max_role_assignment_count }}});
});
</script>
{% endblock %}
{% block css %}
{{ block.super }}
<style>
    @import url('{{ STATIC_URL }}css/lib/ui.spinner.css');

    table {
        width: 500px;
        border-spacing: 0;
        border-collapse: collapse; /* IE<7 */
    }

    h3 { font-family: Arial; }
    h2, h5 {
        margin: 2px 0 22px 0;
    }

    tr:nth-child(odd) td, th {
        background-color: #d0d0d0;
    }
    tr:nth-child(even) td, tr:nth-child(even) th {
        background-color: #c0c0c0;
    }
    #delete_form input[type=text], #clone_form input[type=text] {
        width: 90%;
    }
    th {
        font-weight: normal;
        text-align: left;
        padding: 5px 5px 5px 50px;
        width: 100px;
    }
    td {
        padding: 5px;
    }
    td.spacer {
       height: 20px;
    }
    input.rota_count {
        width: 40px;
    }
    #rota_form_cell p {
        text-align: right;
        padding: 0 20% 0 0;
        margin: 2px 0;
    }
    #rota_form_cell select {
        display: block;
        float: right;
        height: 120pt;
        width: 70%
    }
    #rota_form_cell span.helptext {
        display: block;
        float: right;
        width: 70%;
    }
</style>
{% endblock %}

{% block body %}
<h3>{{ VENUE.name }} events diary</h3>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form id="clone_form" action="{% url "add-showing" event_id=showing.event.id %}?copy_from={{showing.id}}" method="post">
<table>
    <tr><td colspan="2" /></tr>
        <tr><td colspan="2" /><h2>BOOKING: <a href="{% url "edit-event-details-view" pk=showing.event_id %}">{{ showing.event.name }}</a></h2></tr>
    <tr><td colspan="2" /></tr>

    <tr><th colspan="2"><h5>Clone booking.</h5></th></tr>
    <tr><td colspan="2" />{% csrf_token %}</tr>
    <tr><th>Event:</th><td>{{ showing.event.name }}</td>
    {{ clone_showing_form.as_table }}
    <tr><th colspan="2">
        <input type="submit" value="Clone" /> <a href="{% url "cancel-edit" %}">Cancel</a>
    </th></tr>
    <tr><td colspan="2" class="spacer"/></tr>
</table>
</form>

<form id="delete_form" action="{% url "delete-showing" showing_id=showing.id %}" method="post">
<table>
    <tr><th colspan="2"><h5>Delete booking.</h5></th></tr>
    <tr><th>Date:</th><td>{{ showing.start|date:"d F Y" }}</td></tr>
    <tr><th>Time:</th><td>{{ showing.start|date:"H:i" }}</td></tr>
    <tr><th>Event:</th><td>{{ showing.event.name }}</td></tr>
    <tr><th colspan="2" />
            <input type="submit" value="Delete" /> <a href="{% url "cancel-edit" %}">Cancel</a>
    </th></tr>
    <tr><td colspan="2" />{% csrf_token %}</tr>
    </table>
</form>

<form action="{% url "edit-showing" showing_id=showing.id %}" method="post">
    <table>
    <tr><th colspan="2"><h5>Edit booking.</h5></th></tr>
    <tr><th>Event:</th><td>{{ showing.event.name }}{% csrf_token %}</td>
    {{ form.as_table }}
    <tr>
        <th colspan="2">Rota:</th>
    </tr>
    <tr><td colspan="2" id="rota_form_cell">
        {{ rota_form.as_p }}
    </td></tr>
    <tr><th colspan="2">
        <input type="submit" value="Update" /> <a href="{% url "cancel-edit" %}">Cancel</a>
    </th></tr>
    </table>
</form>
{% endblock %}

