{% extends "form_base.html" %}
{% block css %}
{{ block.super }}
<style type="text/css">
    textarea {
        height: 120ex;
    }
    form input[type=text] {
        width: 90ex;
        display: block;
    }
    form input[type=number] {
        width: 4em;
    }

</style>
{% endblock %}

{% block body %}
<p><img src="{{ STATIC_URL }}members/cube_microplex_logo.gif" width="200"></p>
<h3>Cube member's mailout.</h3>
<form method="GET">
    <p><label for="id_daysahead">Days of listings: </label>
    <input type="number" id="id_daysahead" name="daysahead" min="0" value="{{ days_ahead }}">
    <label for="id_copydaysahead">Days of copy: </label>
    <input type="number" id="id_copydaysahead" name="copydaysahead" min="0" value="{{ copy_days_ahead }}">
    <input type="submit" value="Regenerate mailout (lose any edits)"></p>
</form>
<p>Total of <b>{{ email_count }}</b> member emails to send from cube microplex</p>
<form method="POST">
    {% csrf_token %}
    <p>{{ form.subject.label_tag }} {{ form.subject.errors }} {{ form.subject }}</p>
    <h3><label for="{{ form.body.id_for_label }}">Body of email</label></h3>
    {{ form.body.errors }}
    {{ form.body }}
    <p><input type="submit" value="Send Mailout"></p>
</form>
{% endblock %}

