{% extends "base.html" %}
{% block title %}
Details for: {{ event.name }}
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript">
$(document).ready(function() {
        $('#id_start').datetimepicker({ dateFormat : 'yy-mm-dd', timeFormat : 'hh:mm:ss', minDate : 0});
        $('#id_clone_start').datetimepicker({ dateFormat : 'yy-mm-dd', timeFormat : 'hh:mm:ss', minDate : 0});
        $('#delete_form').bind("submit", function() {
            return confirm("Delete event: are you sure?");
        });
});
</script>
{% endblock %}
{% block css %}
<style>
    @import url('{{ STATIC_URL }}css/lib/smoothness/jquery-ui.css');
    @import url('{{ STATIC_URL }}css/lib/timepicker.css');
    form textarea, form input[type=text] {
        width: 80%;
    }

    table {
        width: 500px;
        border-spacing: 0;
        border-collapse: collapse; /* IE<7 */
    }

    h3 { font-family: Arial; }
    h2, h5 {
        margin: 2px 0 22px 0;
    }

    tr:nth-child(odd) td, th {
        background-color: #d0d0d0;
    }
    tr:nth-child(even) td, tr:nth-child(even) th {
        background-color: #c0c0c0;
    }
    form textarea, form input[type=text] {
        width: 90%;
    }
    th {
        font-weight: normal;
        text-align: left;
        padding: 5px 5px 5px 127px;
        width: 25%;
    }
    td {
        padding: 5px;
    }
    td.spacer {
       height: 20px;
    }
</style>
{% endblock %}

{% block body %}
<img src="{{ STATIC_URL }}diary/diary_edit_list_header.gif" alt="Cube Microplex" width="150px">
<h3>CUBE events diary</h3>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<table>
    <tr><td colspan="2" /></tr>
        <tr><td colspan="2" /><h2>BOOKING: <a href="{% url edit-event-details-view pk=showing.event_id %}">{{ showing.event.name }}</a></h2></tr>
    <tr><td colspan="2" /></tr>

    <tr><th colspan="2"><h5>Clone booking.</h5></td></tr>
    <tr><td colspan="2" /></tr>

    <form action="{% url add-showing event_id=showing.event.id %}?copy_from={{showing.id}}" method="post">
    {% csrf_token %}
    <tr><th>Event:</th><td>{{ showing.event.name }}</td>
    {{ clone_showing_form.as_table }}
    <tr><th colspan="2">
        <input type="submit" value="Clone" />
    </td></tr>
    </form>
    <tr><td colspan="2" class="spacer"/></tr>
    <tr><th colspan="2"><h5>Delete booking.</h5></td></tr>
    <tr><th>Date:</th><td>{{ showing.start|date:"d F Y" }}</td></tr>
    <tr><th>Time:</th><td>{{ showing.start|date:"H:i" }}</td></tr>
    <tr><th>Event:</th><td>{{ showing.event.name }}</td></tr>
    <tr><th colspan="2" />
        <form id="delete_form" action="{% url delete-showing showing_id=showing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete" />
        </form>
    </td></tr>
    <tr><td colspan="2" class="spacer"/></tr>

    <tr><th colspan="2"><h5>Edit booking.</h5></td></tr>
    <tr><th>Event:</th><td>{{ showing.event.name }}</td>
    <form action="{% url edit-showing showing_id=showing.id %}" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <tr><th colspan="2">
        <input type="submit" value="Update" />
    </td></tr>
    </form>
</table>
{% endblock %}

