{% extends "form_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Event Details for {{ event.name }}
{% endblock %}
{% block css %}
{{ block.super }}
<style>
    .asteriskField { display: none; }
    #remaining_chars { font-weight: bold; }
</style>
{% endblock %}

{% block script %}
{{ block.super }}
<script>

var COPY_LIMIT = {{ programme_copy_summary_max_chars }};

$(document).ready(function() {
    var copy_summary = $('#id_copy_summary');
    var copy_summary_label = $('div#div_id_copy_summary label');
    var count_span;

    copy_summary_label.html("Copy summary:<br>(<span id='remaining_chars'></span>)");
    count_span = $('#remaining_chars');

    function update_character_count() {
        var used = copy_summary.val().length;
        var remaining = COPY_LIMIT - used;
        if(remaining < 0) {
            count_span.html(used + " characters, " + (used - COPY_LIMIT) + " over limit");
        } else {
            count_span.text(remaining + " remaining");
        }
    }

    copy_summary.bind('input propertychange', update_character_count);
    update_character_count();
});
</script>
{% endblock %}

{% block body %}
<div id="title">
<h1>Edit details for "{{ event.name }}"</h1>
{% include "messages.html" %}
<p>
{% for showing in event.showings.all %}
Booked for: {{ showing.start|date:"H:i d/m/Y"  }} <br>
{% endfor %}
</p>
</div>
{% if event_form.errors or media_form.errors %}
<div class="alert alert-danger">Missing or invalid information - see below for errors</div>
{% endif %}
<div id="forms">
<form action="{% url "edit-event-details" event_id=event.id %}" method="post" enctype="multipart/form-data">
    {% crispy event_form %}
    {% crispy media_form %}
    <p>
        <button type="submit" class="btn btn-primary">Update</button> <a href="{% url "edit-event-details-view" event_id=event.pk %}">Cancel</a>
    </p>
</form>
</div>

{% endblock %}

