{% extends "form_base.html" %}
{% block title %}
Event Details for {{ event.name }}
{% endblock %}
{% block css %}
{{ block.super }}
<style>
    /* Slightly OTT way to stop bootstrap's fetish box-sizing from breaking
       the chosen layout. There's probably a better way to do this: */
    * {
        box-sizing: content-box;
    }
    div#title {
        background-color: #d0d0d0;
    }
    div#title h1 {
        font-size: 18pt;
        margin: 0;
        padding: 5px;
    }
    div#title p {
        margin: 0;
        padding: 5px;
    }
    div#forms {
        font-size: 11pt;
    }
    div#forms p {
        margin: 0;
        padding: 5px;
    }
    div#forms p:nth-child(odd) {
        background-color: #d0d0d0;
    }
    div#forms p:nth-child(even) {
        background-color: #c0c0c0;
    }
    form label {
        font-weight: bold;
        vertical-align: top;
        text-align: right;
        padding-right: 5pt;
        width: 15%;
    }
    #media_file-clear_id + label{
        font-weight: bold;
        text-align: left;
        width: auto;
    }
    div#forms textarea, form input[type=text], form input[type=url] {
        width: 80%;
    }
    span#image_edit {
        display: inline-block;
    }
    /* Collection of hacky CSS for WYSIHTML5 copy editor: */
    div.ckeditor_django_wrapper {
        border: thin solid #d0d0d0;
        padding-left: 16%;
        background-color: #d0d0d0;
    }
    textarea#id_copy {
      border: thin solid black;
      padding: 5px;
      width: 80%;
      height: 280px;
      font-family: Verdana;
      font-size: 11px;
    }

</style>
{% endblock %}

{% block script %}
{{ block.super }}
<script>

var COPY_LIMIT = {{ programme_copy_summary_max_chars }};

$(document).ready(function() {
    var copy_summary = $('#id_copy_summary');
    var copy_summary_label = copy_summary.prev();
    var count_span;

    copy_summary_label.html("Copy summary:<br>(<span id='remaining_chars'></span>)");
    count_span = $('#remaining_chars');

    function update_character_count() {
        var used = copy_summary.val().length;
        var remaining = COPY_LIMIT - used;
        if(remaining < 0) {
            count_span.html(used + " characters, " + (used - COPY_LIMIT) + " over limit");
        } else {
            count_span.text(remaining + " remaining");
        }
    }

    copy_summary.bind('input propertychange', update_character_count);
    update_character_count();
});
</script>
{% endblock %}

{% block body %}
<h3>{{ VENUE.longname }} Events Diary</h3>

<div id="title">
<h1>Edit details for "{{ event.name }}"</h1>
<p>
{% for showing in event.showings.all %}
Booked for: {{ showing.start|date:"H:i d/m/Y"  }} <br>
{% endfor %}
</p>
</div>
<div id="forms">
<form action="{% url "edit-event-details" event_id=event.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        {{ media_form.media_file.label_tag }}
        <span id="image_edit">{{ media_form.media_file.errors }} {{ media_form.media_file }}</span>
    </p>
    <p>{{media_form.credit.errors }} {{ media_form.credit.label_tag }} {{ media_form.credit }}</p>
    <p>
        <input type="submit" value="Update" /> <a href="{% url "edit-event-details-view" pk=event.pk %}">Cancel</a>
    </p>
</form>
</div>

{% endblock %}

