{% extends "base.html" %}
{% block title %}
Details for: {{ event.name }}
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript">
$(document).ready(function() {
        $('#id_start').datetimepicker({ dateFormat : 'yy-mm-dd', timeFormat : 'hh:mm:ss', minDate : 0});
        $('#delete_form').bind("submit", function() {
            return confirm("Delete event: are you sure?");
        });
});
</script>
{% endblock %}
{% block css %}
<style>
    @import url('/static/css/smoothness/jquery-ui.css');
    @import url('/static/css/timepicker.css');
    form label {
        font-weight: bold;
        vertical-align: top;
        text-align: right;
        padding-right: 5pt;
        float: left;
        width: 15%;
    }
    form textarea, form input[type=text] {
        width: 80%;
    }
    form p {
        margin-top: 3px;
        margin-bottom: 3px;
    }
</style>
{% endblock %}

{% block body %}
<h1>Booking</h1>
<h2>Edit</h2>

<form action="{% url edit-showing showing_id=showing.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>

<h2>Delete</h2>

<form id="delete_form" action="{% url delete-showing showing_id=showing.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete" />
</form>


<h2>Clone (add) Booking</h2>

<form action="{% url add-showing event_id=showing.event.id %}?copy_from={{showing.id}}" method="post">
    {% csrf_token %}
    {{ new_showing_form.as_p }}
    <input type="submit" value="Add" />
</form>


{% endblock %}

