<div class="social-media">
    <p>Social:</p>
    {% if venue.twitter %}<a href="{{ venue.twitter }}" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
    {% if venue.facebook %}<a href="{{ venue.facebook }}" title="Facebook"><i class="fa fa-facebook-official"></i></a>{% endif %}
    {% if venue.instagram %}<a href="{{ venue.instagram }}" title="Instagram"><i class="fa fa-instagram"></i></a>{% endif %}
    {% if venue.flickr %}<a href="{{ venue.flickr }}" title="Flickr"><i class="fa fa-flickr"></i></a>{% endif %}
    {% if venue.vimeo %}<a href="{{ venue.vimeo }}" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>{% endif %}
    {% if venue.youtube %}<a href="{{ venue.youtube }}" title="Youtube"><i class="fa fa-youtube"></i></a>{% endif %}
</div><!-- end .social-media -->