<div class="social-media">
    <p>Social:</p>
    {% if VENUE.instagram %}<a href="{{ VENUE.instagram }}" title="Instagram"><i class="fa-brands fa-instagram"></i></a>{% endif %}
    {% if VENUE.mastodon %}<a href="{{ VENUE.mastodon }}#" title="Mastodon"><i class="fa-brands fa-mastodon"></i></a>{% endif %}
    {% if VENUE.facebook %}<a href="{{ VENUE.facebook }}" title="Facebook"><i class="fa-brands fa-square-facebook"></i></a>{% endif %}
    {% if VENUE.flickr %}<a href="{{ VENUE.flickr }}" title="Flickr"><i class="fa-brands fa-flickr"></i></a>{% endif %}
    {% if VENUE.vimeo %}<a href="{{ VENUE.vimeo }}" title="Vimeo"><i class="fa-brands fa-vimeo-square"></i></a>{% endif %}
    {% if VENUE.youtube %}<a href="{{ VENUE.youtube }}" title="Youtube"><i class="fa-brands fa-youtube"></i></a>{% endif %}
</div><!-- end .social-media -->
