{% load wagtailcore_tags %}
<ul>
    <li><a href="//www.cubecinema.com/">Home</a></li>
    <li><a href="{% url "default-view" %}">Programme</a>
        <ul class="sub-menu">
            {% for tag in promoted_tags %}
            <li><a href="{% url "type-view" tag.slug %}"><span>{{ tag.name|title }}</span></a></li>
            {% endfor %}
            <li><a href="{% url "default-view" %}"><span>All</span></a></li>
        </ul>
    </li>
    {% for top_level_child in request.site.root_page.get_children.live.in_menu %}
    {# Don't actually link to the top_level_child content (as there isn't any!) #}
    <li><a href="#">{{ top_level_child.seo_title|default:top_level_child.title }}</a>
        <ul class="sub-menu">
            {% for child in top_level_child.get_children.live.in_menu %}
            <li><a href="{% pageurl child %}">{{ child.seo_title|default:child.title }}</a></li>
            {% endfor %}
            {# unmanaged links: #}
            {% for link in top_level_child.sectionrootwithlinks.links.all %}
            <li><a href="{{ link.link }}">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
