<div class="social-media">
    <p>Social:</p>
    {% if VENUE.twitter %}<a href="{{ VENUE.twitter }}" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
    {% if VENUE.facebook %}<a href="{{ VENUE.facebook }}" title="Facebook"><i class="fa fa-facebook-official"></i></a>{% endif %}
    {% if VENUE.instagram %}<a href="{{ VENUE.instagram }}" title="Instagram"><i class="fa fa-instagram"></i></a>{% endif %}
    {% if VENUE.flickr %}<a href="{{ VENUE.flickr }}" title="Flickr"><i class="fa fa-flickr"></i></a>{% endif %}
    {% if VENUE.vimeo %}<a href="{{ VENUE.vimeo }}" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>{% endif %}
    {% if VENUE.youtube %}<a href="{{ VENUE.youtube }}" title="Youtube"><i class="fa fa-youtube"></i></a>{% endif %}
</div><!-- end .social-media -->