{% extends "base.html" %}

{% block title %}
Mailout dispatch
{% endblock %}

{% block css %}
<style type="text/css">
    @import url('{{ STATIC_URL }}css/lib/smoothness/jquery-ui.css');
    p.mail {
        border: thin solid black;
        background: #cccccc;
        padding: 2px;
        margin: 0 20px;
    }
    p#subject {
        font-family: monospace;
        white-space: nowrap;
    }
    p#body {
        font-family: monospace;
        white-space: pre-wrap;
    }
    body {
        font-family: sans-serif;
    }
    p.label {
        font-size: 8pt;
        margin: 15px 5px 0 5px;
    }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}diary/js/mailout.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    mailoutController({
        progressURL: "{% url "mailout-progress" %}",
        execURL: "{% url "exec-mailout" %}",
        progressBarId: "progress",
        jQuery: $
    });
});
</script>
{% endblock %}

{% block body %}
<h1>Mailout: confirm</h1>
<p id="status">Please wait, page loading...</p>
<p id="progress"></p>
<p class="label">Subject:</p>
<p class="mail" id="subject">{{ subject }}</p>
<p class="label">Body:</p>
<p class="mail" id="body">{{body}}</p>

{% endblock %}

