{% extends "base_admin.html" %}

{% block title %}
Mailout dispatch
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
    @import url('{{ STATIC_URL }}css/lib/smoothness/jquery-ui.css');
    p.mail {
        border: thin solid black;
        background: #dddddd;
        padding: 0.5em;
        overflow: auto;
        font-size: 10pt;
    }
    p#subject {
        font-family: monospace;
        white-space: nowrap;
    }
    p#body {
        font-family: monospace;
        white-space: pre-wrap;
    }
    p.label {
        margin-bottom: 0;
    }
</style>
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}diary/js/mailout.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var subject = "{{ subject|safe|escapejs }}";
    var body = "{{ body|safe|escapejs }}";
    mailoutController({
        progressURL: "{% url "mailout-progress" %}",
        execURL: "{% url "exec-mailout" %}",
        testURL: "{% url "mailout-test-send" %}",
        progressBarId: "progress",
        jQuery: $,
        subject: subject,
        body: body
    });
});
</script>
{% endblock %}

{% block body %}
<h1>Mailout: confirm</h1>
<p id="status">Please wait, page loading...</p>
<p id="progress"></p>
<p id="test">Optionally, <span id="test_send">send</span> the email to a
<label for="id_test_email">single recipient
(</label><input id="id_test_email" type="email" placeholder="something@example.com"></input>*),
to test everything is working as expected. (* must be a cube member!)</p>
<p class="label">Subject:</p>
<p class="mail" id="subject">{{ subject }}</p>
<p class="label">Body:</p>
<p class="mail" id="body">{{body}}</p>

{% endblock %}

