{% extends "base.html" %}

{% block title %}
CUBE role rota
{% endblock %}

{% block css %}
<style type="text/css">
    @import url('/static/css/smoothness/jquery-ui.css');
    h1, h2 { margin: 1mm; }
    td.cell_day {
        font-weight: bold;
        text-align: right;
    }
    td.event_name {
        font-weight: bold;
    }
    td.rl {
        text-align: right;
    }
    td.rer { width: 3.5cm; }
    td.rel { width: 3.5cm; text-align: right;}
</style>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
        // Add date picker:
        $('#id_from_date').datepicker({
            dateFormat : 'dd-mm-yy',
            onSelect : dateRangeSelected,
            minDate : 0,
        });
        $('#id_to_date').datepicker({
            dateFormat : 'dd-mm-yy',
            onSelect : dateRangeSelected,
            minDate : 0,
        });
});
function parse_date_from_control(control_id) {
    var text = $(control_id)[0].value;
    return $.datepicker.parseDate('dd-mm-yy', text);
}
function dateRangeSelected(dateText, inst) {
    var from_date = parse_date_from_control('#id_from_date');
    var to_date = parse_date_from_control('#id_to_date');
    // Calculate days between those two dates:
    var days_ahead = Math.ceil((to_date.getTime() - from_date.getTime())/86400000);
    if(days_ahead <= 0) {
        days_ahead = 0;
    }
    window.location.href = "{% url view_rota %}/" + (from_date.getYear() + 1900) + "/" + (from_date.getMonth() + 1) + "/" + from_date.getDate() +  "?daysahead=" + days_ahead;
}
</script>
{% endblock %}

{% block body %}

<p align='center'><label for="id_from_date">Rota from </label><input type="text" name="from_date" value="{{ start_date|date:'j-m-Y'}}" id="id_from_date" />
<label for="id_to_date"> to </label><input type="text" name="to_date" value="{{ end_date|date:'j-m-Y'}}" id="id_to_date" /></p>
<table border="0" cellspacing="0">

{% for showing in showings %}
    {% ifchanged %}<tr><td><h1>{{ showing.start|date:"Y" }} </h1></td><td colspan="6"></td></tr>{% endifchanged %}
    {% ifchanged %}<tr><td></td><td><h2>{{ showing.start|date:"F" }}</h2></td><td colspan="5"></td></tr>{% endifchanged %}
    <tr><td> </td><td class="cell_day">{{ showing.start|date:"D"}}&nbsp;{{ showing.start|date:"j" }}</td><td>{{ showing.start|date:"H:i" }}</td><td class="event_name" colspan="4">{{ showing.event.name.upper }} </td></tr>
    {% for rota_entry in showing.rotaentry_set.all %}
        {% if forloop.counter|divisibleby:2 %}
            <td class="rer">|   </td><td>&gt; {{ rota_entry.role.name }}-{{ rota_entry.rank }} </td></tr>
        {% else %}
            <tr><td colspan="3"></td><td class="rl"> {{ rota_entry.role.name }}-{{ rota_entry.rank }} &lt; </td><td class="rel">|</td>
            {% if forloop.last %}
                <td colspan="2"></td></tr>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}

</table>

{% endblock %}

