{% extends "base_public.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}diary/css/programme.css" type="text/css" title="Preferred" media="screen,projection">
<link rel="stylesheet" href="{{ STATIC_URL }}diary/css/archive.css" type="text/css" title="Preferred" media="screen,projection">
<link rel="stylesheet" href="{{ STATIC_URL }}css/lib/smoothness/jquery-ui.css" type="text/css" title="Preferred" media="screen,projection">
{% endblock %}

{% block body %}
<div class="programme">

{% block archive_body %}{% endblock %}


</div>
<div class="footer">
    <p><a href="http://www.cubecinema.com/">Home</a> | <a href="{% url "default-view" %}">What's on</a> | <a href="{% url "archive-view-index" %}">Programme archive index</a> | <a href="{% url "archive-search" %}">Archive search</a></p>
</div>
{% endblock body%}
