{% extends "showing_archive_base.html" %}
{% block title %}
Cube Programme Archive: Search{% if search_term %} for "{{ search_term }}"{% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
        $('#id_start_date').datepicker({ dateFormat : 'dd/mm/yy' });
        $('#id_end_date').datepicker({ dateFormat : 'dd/mm/yy' });
});
</script>
{% endblock %}
{% block archive_body %}
<h1>Cube programme archive: Search {% if search_term %}results for "{{ search_term }}"{% endif %}</h1>

<form class="search_form" action="{% url "archive-search" %}">
<ul>
{{ form.as_ul }}
    <input type="submit" value="Search" />
</ul>
</form>
{% if search_submitted %} {# Don't show the 'Results: 0' if no search was performed: #}
    <h3>{{ showing_list|length }} Result{{ showing_list|length|pluralize }}</h3>
    <ul>
        <li style="display: none;">
        <ul>
        {% for showing in showing_list %}
        {% ifchanged showing.start.day %}
        </ul>
        </li>
        <li> {{showing.start|date:"D d" }}
            <span class="resultdate">
                <a href="{% url "archive-view-month" year=showing.start.year month=showing.start.month %}">{{showing.start|date:"N" }}</a>
                <a href="{% url "archive-view-year" year=showing.start.year %}">{{showing.start|date:"y"}}</a>
            </span>
            <ul>
        {% endifchanged %}
        <li>{{ showing.start|date:"H:i" }} 
            <a href="{% url "single-event-view" event_id=showing.event_id %}" {% if showing.cancelled  %}class="cancelled"{% endif %}>{{ showing.event.name }}</a>
            {% if showing.cancelled %}{%if not "cancelled" in showing.event.name.lower %}(Cancelled){% endif %}{%endif%}
        </li>
        {% endfor %}
    </ul></ul>
{% endif %}
{% endblock archive_body%}
