{% load hash_filter %}
<div class="event">
<span id="showing_{{ showing.id }}">
<h2>{{ showing.event.name|capfirst}}</h2>

{% with media|lookup:showing.event_id as media_item %}
{% if media_item %}
<a href="{{ media_url }}{{ media_item.media_file }}"><img src="{{ media_url}}{{ media_item.thumbnail }}" alt="Picture for event {{ showing.event.name }}"></a>
{% if media_item.credit %}
<p class="image_caption">Image by: {{ media_item.credit }}</p>
{% endif %}
{% endif %}
{% endwith %}
<p>
{% include "showing_time_fragment.html" %}
</p>
<p>{{showing.event.copy_html}}</p>
<p>[<a href="#top">top of page</a>]</p>
</span> 
</div>
