{% load markup %}
<div class="event">
<span id="showing_{{ showing.id }}">
<h2>{{ showing.event.name|capfirst}}</h2>

{% if showing.event.media.all.0 %}
<a href="{{ showing.event.media.all.0.media_file.url }}"><img src="{{ showing.event.media.all.0.thumbnail.url }}" alt="Picture for event {{ showing.event.name }}"></a>
{% if showing.event.media.all.0.credit %}
<p class="image_caption">Image by: {{ showing.event.media.all.0.credit }}</p>
{% endif %}
{% endif %}
<p>
{% include "showing_time_fragment.html" %}
</p>

<p>{{showing.event.copy|markdown}}</p>
<p>[<a href="#top">top of page</a>]</p>
</span> 
</div>
