{% extends "base_view_eventfield.html" %}

{% block title %}
{{ venue.name }} programme of events - terms report
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
    p, h1, h2{
        font-family: monospace;
    }

    div.terms p.divider {
        padding: 10pt;
    }
    .terms {
        white-space: pre-wrap;
        padding-left: 50pt;
    }
    .flags {
        font-weight: bold;
    }
</style>
{% endblock %}
{% block script %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
        // Change edit links to open in a new window:
        $('.terms a').click(function(e) {
            window.open(e.currentTarget.href,"edit_form","height=800,width=800,scrollbars,resizable,toolbar");
            return false;
        });
});
</script>
{% endblock %}

{% block body %}
{{ block.super }}
<img src="{{ STATIC_URL }}diary/{{ venue.internal_header_img }}" alt="{{ venue.name }} logo">
<h3>{{ venue.name }} programme of events - terms report</h3>
<form id="form_search">
    <input type="text" name="search" {% if search %}value="{{ search }}"{% endif %}>
    <input type="submit" value="Search">
    <input type="hidden" value="{{ days_ahead }}" name="daysahead">
</form>
<div class="terms">
{% for showing in showings %}
{% spaceless %}
{% ifchanged %}<h1 class="pad">{{ showing.start|date:"Y" }}</h1>{% endifchanged %}
{% ifchanged %}<h2 class="pad">{{ showing.start|date:"F"|upper }}</h2>{% endifchanged %}
{% ifchanged %}<p class="day">{{ showing.start|date:"D"}} {{ showing.start|date:"d" }}{% else %} <p>      {% endifchanged %} {{showing.start|date:"H:i"}} .... {{ showing.event.name|capfirst }}</p>
<p>{{ showing.event.name|upper }}</p>
<p class="flags">{% if showing.cancelled %}CANCELLED / {% endif %}{% if showing.event.outside_hire %}External event{% else %}Cube event{% endif %} / {% if showing.event.private or showing.hide_in_programme %}Private event{% else %}Public event{% endif %} / {% if showing.confirmed %}Confirmed{% else %}Unconfirmed{% endif %}{% if showing.discounted %} / Discounted{% endif %}</p>
<p class="terms">{{ showing.event.terms.strip }}</p>
{% endspaceless %}

{% endfor %}

</div>
{% endblock %}
