{% extends "base_public.html" %}
{% load thumbnail %}

{% block title %}
Cube Programme{% if extra_title %}: {{ extra_title }}{% endif %}
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}diary/css/programme.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}diary/css/font-awesome/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/diary/js/masonry.pkgd.min.js" ></script>
<script src="/static/diary/js/jquery.touchSwipe.min.js"></script>

<script type="text/javascript">
    $(document).ready(function($){

        $('.programme').masonry({ gutter: '.gutter-sizer', columnWidth: '.showing-sizer', itemSelector: '.showing' });

        //If the User resizes the window, adjust the #container height
        $(window).bind("resize", resizeWindow);
        function resizeWindow( e ) {
            var newWindowWidth = $(window).width();

            if(newWindowWidth<1008){
                $('.programme').masonry();
            } else {
                $('.programme').masonry();
            }
        }

    });
</script>
<script type="text/javascript">
  $(document).ready(function() {
  $("#mobile-menu-btn").click(function() {
    var toggle_el = $(this).data("toggle");
    $(toggle_el).toggleClass("open-sidebar");
    $(".black_overlay").toggleClass("active-search-bg");
  });
     
});


$(function() {      
    $(".black_overlay").swipe( {
      swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
        $(".grid").removeClass("open-sidebar");
        $(".black_overlay").removeClass("active-search-bg");
      },
      threshold:75
      });
    });
  
</script>

<script>
$(document).ready(function(){

  $('#navmenu > ul > li:has(ul)').addClass("has-sub");

  $('#navmenu > ul > li > a').click(function() {
    var checkElement = $(this).next();
    
    $('#navmenu li').removeClass('active');
    $(this).closest('li').addClass('active'); 
    
    
    if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
      $(this).closest('li').removeClass('active');
      checkElement.slideUp('normal');
    }
    
    if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
      $('#navmenu ul ul:visible').slideUp('normal');
      checkElement.slideDown('normal');
    }
    
    if (checkElement.is('ul')) {
      return false;
    } else {
      return true;  
    }   
  });

});

</script>
<script>

$(function(){ 
    $('a#listbtn.switcher').click(function(){    
        $('.programme').animate({opacity:0},function(){
            $('.programme').hide();
            $('.list').addClass('active');
            $('.list.active').stop().animate({opacity:1});
        });
    });

    $('a#gridbtn.switcher').click(function(){  
        $('.list').animate({opacity:0},function(){
            $('.list').removeClass('active');
            $('.programme').show();
            $('.programme').masonry({ gutter: '.gutter-sizer', columnWidth: '.showing-sizer', itemSelector: '.showing'  });
            $('.programme').stop().animate({opacity:1});
        });
    });
});

</script>
{% endblock %}

{% block header %}
{{ block.super }}
<div id="container" class="body">
<div id="sidebar" class="panel">
  <div class="nav-wrap">
<!--      <div class="mobile-wrap">
        <a href="#nav-mobile" id="mobile-menu-btn"><i class="fa fa-bars"></i><span>Menu</span></a>
      </div><!-- end #mobile-wrap -->
      <div id="site-title" class="clearfix">
          <h1><a href="/programme/" title= "Cube Programme">Cube Programme</a></h1>
      </div><!-- end #site-title -->

      <div class="site-description">
          {% if event_type %}
              <h4 class="site-description">{{ event_type }} events
          {% endif %}
          {% if showings|length == 0 %}
              
              {% if event_type %}
              - couldn't find anything tagged {{ event_type }}
              {% else %}
              Nothing on between {{ start|date:"l j M Y"  }} and {{ end|date:"l j M Y" }}
              {% endif %}
              </h4>
          {% endif %}
      </div><!-- end .site-description -->
  </div><!-- end .nav-wrap -->      
  <nav id="site-nav" class="clearfix">
      <div id="navmenu" class="menu-wrap">
        <ul>
            <li><a href="http://www.cubecinema.com/">Home</a></li>
            <li><a href="/programme/">Programme</a>
                <ul class="sub-menu">
                    <li><a href="/programme/view/film/"><span>Film</span></a></li>
                    <li><a href="/programme/view/music/">Music</a></li>
                    <li><a href="/programme/view/performance/">Performance</a></li>
                    <li><a href="/programme/view/comedy/">Comedy</a></li>
                    <li><a href="/programme/"><span>All</span></a></li>
                </ul>
            </li>
            <li><a href="#">Projects</a>
                <ul class="sub-menu">
                    <li><a href="http://www.cubecinema.com/freehold/">Freehold</a></li>
                    <li><a href="http://www.cubecinema.com/film/">The Film That Buys The Cinema</a></li>
                    <li><a href="http://nanoplex.cubecinema.com/haiti_kids_kino.php">Haiti Kids Kino Project</a></li>
                    <li><a href="http://www.feraltrade.org/">Feral Trade</a></li>
                    <li><a href="http://cube-cola.org/">Cube Cola</a></li>
                    <li><a href="http://exhibitions.cubecinema.com/">Exhibitions</a></li>
                    <li><a href="http://www.bristol-channel.org/skomer/category/lab-activity/">Nachleben Film Lab</a></li>
                </ul>
            </li>
            <li><a href="#">Regular Events</a>
                <ul class="sub-menu">
                    <li><a href="http://www.cubecinema.com/cubewebsite/babycinema.html">Babycinema</a></li>
                    <li><a href="http://nanoplex.cubecinema.com/">Nanoplex</a></li>
                    <li><a href="http://bluescreenfilms.weebly.com/">Bluescreen</a></li>
                    <li><a href="http://www.cubecinema.com/bioskop/">Bioskop</a></li>
                    <li><a href="http://qujunktions.com/">Qu Junktions</a></li>
                </ul>
            </li>
            <li><a href="#">Links</a>
                <ul class="sub-menu">
                    <li><a href="http://blog.cubecinema.com/">Cube Blog</a></li>
                    <li><a href="http://sparror.cubecinema.com/">Sparror Art Server</a></li>
                    <li><a href="http://www.cubecinema.com/programme/archive/">Cube Programme Archive</a></li>
                    <li><a href="http://sparror.cubecinema.com/adam/">Adam's Photo Archive</a></li>
                    <li><a href="http://sparror.cubecinema.com/mr_hopkinson/">mr_hopkinson's Photo Archive</a></li>
                    <li><a href="http://www.bruced.smugmug.com/Music/The-Cube-Bristol">Bruce's Photo Archive 1</a></li>
                    <li><a href="http://www.bruced.smugmug.com/Performing-Arts/The-Cube-Bristol">Bruce's Photo Archive 2</a></li>
                </ul>
            </li>
            <li><a href="#">About</a>
                <ul class="sub-menu">
                    <li><a href="http://www.cubecinema.com/cubewebsite/about.html">The Cube</a></li>
                    <li><a href="http://www.cubecinema.com/cubewebsite/directions.html">Directions</a></li>
                    <li><a href="http://www.cubecinema.com/cubewebsite/membership.html">Membership</a></li>
                    <li><a href="http://www.cubecinema.com/cubewebsite/contact.html">Contact</a></li>
                    <li><a href="http://www.cubecinema.com/signiup.html">Newsletter</a></li>
                    <li><a href="http://www.cubecinema.com/cubewebsite/tickets.html">Advance Tickets</a></li>
                    <li><a href="http://www.cubecinema.com/images-of-cube/">Pictures</a></li>
                    <li><a href="http://www.cubecinema.com/cubewebsite/spec.html">Our Tech</a></li>
                    <li><a href="http://www.cubecinema.com/cubewebsite/hires.html">Hire</a></li>
                </ul>
            </li>
        </ul>     
        <div class="grid-switcher">
          <p>View:</p>
          <a href="#" id="listbtn" class="switcher"><i class="fa fa-th-list"></i>&nbspList</a>
          <a href="#" id="gridbtn" class="switcher"><i class="fa fa-th"></i>&nbspGrid</a>
        </div><!-- end .grid-switcher -->
        <div class="social-media">
            <p>Social:</p>
            <a href="https://twitter.com/cubecinema" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/cubecinema/" title="Facebook"><i class="fa fa-facebook-official"></i></a>
            <a href="https://secure.flickr.com/groups/cubemicroplex/" title="Flickr"><i class="fa fa-flickr"></i></a>
            <a href="https://vimeo.com/cubemicroplex/" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
            <a href="https://www.youtube.com/user/cubelog" title="Youtube"><i class="fa fa-youtube"></i></a>
        </div><!-- end .social-media -->
        <div class="print-media">
            {% if printed_programmes %}
            <p>Print:</p>
            {% for printed_programme in printed_programmes %}
            <a href="{{ printed_programme.programme.url }}" title="Printed programme for {{ printed_programme.month|date:"M Y" }}"><i class="fa fa-file"></i></a>
            {% endfor %}
            {% endif %}
        </div><!-- end .print-media -->
      </div><!-- end .menu-wrap -->
    </nav><!-- end #site-nav -->
</div><!-- end #sidebar -->
<!--
  <header id="masthead" class="cf" role="banner">
      
  </header><!-- end #header -->



<!--
<div class="header group">
    <div class="col span_6_of_6">
        <div id="programmelinks">
       {% if event_type %}
           <strong>Events tagged "{{ event_type }}"</strong><br>
       {% endif %}
       <a href="{% url "view-this-week" %}">THIS WEEK</a> &nbsp; | &nbsp;
       <a href="{% url "view-next-week" %}">NEXT WEEK</a> &nbsp; | &nbsp;
       <a href="{% url "view-this-month" %}">THIS MONTH</a> &nbsp; | &nbsp;
       <a href="{% url "view-next-month" %}">NEXT MONTH</a>  &nbsp; | &nbsp;
       <a href="{% url "default-view" %}"> EVERYTHING </a><br>
       <br>
       {% if printed_programmes %}
           {% for printed_programme in printed_programmes %}
           <img src="{{ STATIC_URL }}diary/tiny_pdf_file_icon.gif" alt="Link to PDF"><a href="{{ printed_programme.programme.url }}">Printed programme for {{ printed_programme.month|date:"M Y" }}</a><br>
           {% endfor %}
       {% endif %}
       </div>
    </div>
</div> 
{% endblock %}

{% block body %}
-->
<div class="grid">
    <div class="black_overlay"></div>
    <div class="navigation-wrap">
        <div class="mobile-wrap">
          <a href="#nav-mobile" data-toggle=".grid" id="mobile-menu-btn"><i class="fa fa-bars"></i><span>Menu</span></a>
        </div><!-- end #mobile-wrap -->
        <div id="site-title" class="clearfix">
            <h1><a href="/programme/" title= "Cube Programme">Cube Programme</a></h1>
        </div><!-- end #site-title -->

        <div class="site-description">
            {% if event_type %}
                <h4 class="site-description">{{ event_type }} events
            {% endif %}
            {% if showings|length == 0 %}
                
                {% if event_type %}
                - couldn't find anything tagged {{ event_type }}
                {% else %}
                Nothing on between {{ start|date:"l j M Y"  }} and {{ end|date:"l j M Y" }}
                {% endif %}
                </h4>
            {% endif %}
        </div><!-- end .site-description -->
    </div><!-- end .nav-wrap -->  
    <div class="programme">
            <div class="showing-sizer"></div>
            <div class="gutter-sizer"></div>
    {% for event, showings in events.iteritems %}
            <div class="showing" id="event_{{ event.id }}">
                <div class="event_image">
                {% with media_item=event.media.all.0 event_slug=event.name|slugify %}{% if media_item %}<a href="{% url "single-event-view-with-slug" event_id=event.id event_slug=event_slug %}"><img src="{{ media_item.media_file|thumbnail_url:'indexview' }}" alt="Picture for event {{ event.name }}"></a>{% endif %}
                {% if event.tags.all %}<span class="tags">{% for tag in event.tags.all %}<a href="{% url "type-view" tag.slug %}" class="tag_{{tag.name}}">{{tag.name}}</a> {% endfor %}</span>{% endif %}
                </div><!-- div event_image -->
                
                <p>
                    <a href="{% url "single-event-view-with-slug" event_id=event.id event_slug=event_slug %}"><span class="pre_title">
                        {{ event.pre_title }}
                    </span>
                    <h3>{{ event.name }}</h3>
                    <span class="post_title">
                        {{ event.post_title }}
                    </span>
                    </a>
                </p>
                
                <div class="event_details">
                    <p class="start_and_pricing">
                        {% for showing in showings %}
                        {% if showing.sold_out %}<span class="sold_out">{% endif %}
                        {% if showing.cancelled %}<span class="cancelled">{% endif %}
                        {{ showing.start|date:"D j F " }}//{{ showing.start|date:" H:i" }}
                        {% if showing.cancelled %}</span> (cancelled){% endif %}
                        {% if showing.sold_out %}</span> (SOLD OUT){% endif %}
                        {% if showing.discounted %}<abbr class="discounted" title="Ticket Tout Tuesday">(TTT)</abbr>{% endif %}<br>
                        {% endfor %}
                    </p>
                    <p class="copy">{{ event.copy_summary|truncatewords:16 }} [<a class="more" href="{% url "single-event-view-with-slug" event_id=event.id event_slug=event_slug %}">more</a>]</p>
                </div>{% endwith %}

            </div>{% endfor %}<!-- end .showing -->
    </div><!-- end #programme -->

    <div class="list">
      {% for showing in showings %}
        
        {% ifchanged %}<p class="month">{{ showing.start|date:"F"|upper }}{% endifchanged %}{% ifchanged %}<span class="year">{{ showing.start|date:" Y" }}</span>{% endifchanged %}</p>
        {% ifchanged %}<p class="day">{{ showing.start|date:"D"}} {{ showing.start|date:"d" }}{% else %}
        <p class="sameday"> {% endifchanged %} <span class="time">{{showing.start|date:"H:i"}}</span> .... {% if showing.hide_in_programme or showing.event.private %}Closed for private event.{% else %}<a href="{% url "single-event-view" event_id=showing.event_id %}">{{ showing.event.pre_title|title }} {{ showing.event.name|capfirst }} {{ showing.event.post_title|title }}{% if showing.cancelled %} (CANCELLED){% endif %}{% if showing.sold_out %} (SOLD OUT){% endif %}{% if showing.discounted %} (TTT){% endif %}{% endif %}</a></p>
    {% endfor %}
    </div><!-- end .list -->
    {% endblock %}
</div> <!-- end .grid -->

</div> <!-- end #container -->



{% block footer %}
{{ block.super }}
<footer id="colophon" class="site-footer cf">
    <div id="footer-sidebar-one" class="widget-area" role="complementary">
        <aside id="nav_menu-2" class="widget widget_nav_menu"><h3 class="widget-title">Entrance Address</h3>
            <div class="menu-footer-menu-container">
                <ul>
                  <li>Cube Cinema</li>
                  <li>Dove Street South</li>
                  <li>Bristol</li>
                  <li>BS2 8JD</li>
                </ul>
            </div>
        </aside>   
        <aside id="nav_menu-2" class="widget widget_nav_menu"><h3 class="widget-title">Postal Address</h3>
            <div class="menu-footer-menu-container">
                <ul>
                  <li>Cube Cinema</li>
                  <li>4 Princess Row</li>
                  <li>Bristol</li>
                  <li>BS2 8NQ</li>
                </ul>
            </div>
        </aside> 
    </div><!-- .widget-area -->
    <div id="footer-sidebar-two" class="widget-area" role="complementary">
      <aside id="categories-2" class="widget widget_categories"><h3 class="widget-title">Programme</h3>    
        <ul>
          <li id="menu-item-111" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-111"><a href="/programme/view/film/">Film</a></li>
          <li id="menu-item-112" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-112"><a href="/programme/view/music/">Music</a></li>
          <li id="menu-item-113" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-113"><a href="/programme/view/performance/">Performance</a></li>
          <li id="menu-item-113" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-113"><a href="/programme/view/comedy/">Comedy</a></li>
        </ul>
      </aside>    
    </div><!-- .widget-area -->
    <div id="footer-sidebar-three" class="widget-area" role="complementary">
      <aside id="categories-2" class="widget widget_categories"><h3 class="widget-title">Programme</h3>    
        <ul>
          <li id="menu-item-111" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-111"><a href="/programme/view/film/">Film</a></li>
          <li id="menu-item-112" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-112"><a href="/programme/view/music/">Music</a></li>
          <li id="menu-item-113" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-113"><a href="/programme/view/performance/">Performance</a></li>
          <li id="menu-item-113" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-113"><a href="/programme/view/comedy/">Comedy</a></li>
        </ul>
      </aside>     
    </div><!-- .widget-area -->
    <div id="footer-sidebar-four" class="widget-area" role="complementary">
      <aside id="blog_subscription-2" class="widget widget_blog_subscription"><h3 class="widget-title"><label for="subscribe-field">Weekly Newsletter via Email</label></h3>
        <form action="https://www.cubecinema.com/cgi-bin/join/signiup.pl" method="post" accept-charset="utf-8" id="subscribe-blog">
            <p>Sign up to receive a weekly email from the Cube detailing the forthcoming attractions</p>
            <p><input type="text" name="realname" style="width: 95%; padding: 1px 2px" placeholder="Enter your name" value="" id="subscribe-field"/></p>
            <p><input type="text" name="email" style="width: 95%; padding: 1px 2px" placeholder="Enter your email address" value="" id="subscribe-field"/></p>
            <p><input type="text" name="postcode" style="width: 45%; padding: 1px 2px" placeholder="Enter first part of postcode" value="" id="subscribe-field"/></p>
            <p>
              <input type="hidden" name="subject" value="Cube mailing list request" />
              <input type="hidden" name="required" value="realname,email" />
              <input type="hidden" name="title" value="Cube Programme Mailing List Submission" />
              <input type="hidden" name="return_link_title"  value="Back to Cube Microplex Home" />
              <input type="hidden" name="return_link_url"  value="/programme/" />
            </p>
            <p id='bsub-subscribe-button'><input input value="Submit" type="submit" /></p>
        </form>
      </aside>    
    </div><!-- .widget-area -->
      <div id="social" class="widget-area" role="complementary">  
        <div class="social-media">
          <p>Social:</p>
          <a href="https://twitter.com/cubecinema" title="Twitter"><i class="fa fa-twitter"></i></a><a href="https://secure.flickr.com/groups/cubemicroplex/" title="Flickr"><i class="fa fa-flickr"></i></a>
          <a href="https://www.facebook.com/cubecinema/" title="Facebook"><i class="fa fa-facebook-official"></i></a>
          <a href="https://vimeo.com/cubemicroplex/" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
          <a href="https://www.youtube.com/user/cubelog" title="Youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="print-media">
          {% if printed_programmes %}
          <p>Print:</p>
          {% for printed_programme in printed_programmes %}
          <a href="{{ printed_programme.programme.url }}" title="Printed programme for {{ printed_programme.month|date:"M Y" }}"><i class="fa fa-file"></i></a>
          {% endfor %}
          {% endif %}
      </div>
    </div>
</footer><!-- end #colophon -->

{% endblock %}
