{% extends "base_admin.html" %}
{% load thumbnail_l %}
{% load static %}
{% load noprefix_url %}
{% block title %}
Details for: {{ event.name }}
{% endblock %}
{% block css %}
{{ block.super }}
<style type="text/css">
    body {
        font-size: 100%;
        font-family: Arial;
    }
    div#booking {
        margin: 0 2em;
    }
    h1 {
        font-size: 1.8em;
        margin: 0;
        padding: 0.5em 1em;
        background-color: #c0c0c0;
    }
    p {
        margin: 0;
        padding: 0.5em 1em;
        background-color: #c0c0c0;
    }
    p.d {
        background-color: #d0d0d0;
    }
    .copy {
        background-color: #d0d0d0;
        padding: 0.5em;
    }
    .copy p {
        background-color: #d0d0d0;
    }
    p.image_caption {
        font-style: italic;
    }
    .pre {
        white-space: pre-wrap;
    }
    p#cancel {
        margin: 1em;
    }

</style>
{% endblock %}

{% block body %}
<img src="{{ STATIC_URL }}diary/{{ VENUE.internal_header_img }}" alt="{{ VENUE.longname }}"
    width="{{ VENUE.internal_header_img_width }}px">
<h3>{{ VENUE.longname }} events diary</h3>

<div id="booking">
    <h1>Details for {{ event.name }} {% if not event.all_showings_in_past %}[<a href="{% url "edit-event-details" event.pk %}">edit</a>]{% endif %}</h1>
    <p class="d">
    <b>Pre-title:</b> {{event.pre_title }} <br>
    <b>Name:</b>{{ event.name }}<br>
    <b>Post-title:</b> {{event.post_title }} </p>
    <p class="d"><b>Tags:</b> {{ event.tags.all|join:", " }}</p>
    <p><b>Public programme:</b> {% if event.showings.public and not event.private %}<a href="{% noprefix_url "single-event-view" event.pk %}">{% noprefix_url "single-event-view" event.pk %}</a>{% else %}
    Event not visible in online programme: {% if event.private %}It's marked private.{% endif %} {% if not event.showings.public %}Bookings are all unconfirmed or hidden in programme.{% endif %}
    {% endif %}</p>
    <p>
{% for showing in event.showings.all %}
    {% if showing.in_past %}
    Booked for: <span title="Showing has started, can't edit">{{ showing.start|date:"H:i d/m/Y" }} {% if MULTIROOM_ENABLED %}in {{ showing.room }}{% endif %}(past)</span><br>
    {% else %}
    Booked for: <a href="{% url "edit-showing" showing.pk %}">{{ showing.start|date:"H:i d/m/Y"  }} {% if MULTIROOM_ENABLED %}in {{ showing.room }}{% endif %}</a><br>
    {% endif %}
{% endfor %}
    </p>
    <p><b>Pricing:</b> {{ event.pricing }}
    </p>
    {% if event.ticket_link %}<p><b>Online tickets:</b> <a href="{{ event.ticket_link }}">{{ event.ticket_link }}</a></p>{% endif %}
    <p class="d"><b>Film information:</b> {{ event.film_information }}<br>
    <p class="d"><b>Programmer's notes:</b><br>
    {{event.notes}}<br>
    {% comment %}
    {% if event.template %}
    <p class="d"><b>Created from template:</b>{{ event.template }} </p>
    {% endif %}
    {% endcomment %}

<p><b>Event image.</b><br>

{% with event.media.all.0 as media_item %}
{% if media_item %}
<a href="{% get_media_prefix %}{{ media_item.media_file }}"><img src="{{ media_item.media_file|thumbnail_url:'editpreview' }}" alt="Picture for event {{ event.name }}"></a>
{% if media_item.credit %}
<p class="image_caption">Image by: {{ media_item.credit }}</p>
{% endif %}
{% else %}
<i>no image yet</i>
{% endif %}
{% endwith %}
</p>

<p class="d"><b>Copy for "{{ event.name }}" (for web page)</b></p>
<div class="copy">{{event.copy_html}}</div>

<p><b>Copy summary for "{{ event.name }}" (for printed programme)</b></p>
<p class="pre">{{event.copy_summary}}</p>

<p class="d"><b>Terms for "{{ event.name }}"</b></p>
<p class="d pre">{{event.terms}}</p>

{% if not event.all_showings_in_past %}<p><a href="{% url "edit-event-details" event.pk %}">[edit]</a></p>{% endif %}
</div>
<!-- urgh -->
<p id="cancel"><a href="{% url "cancel-edit" %}">Back</a></p>

{% endblock %}

