{% extends "base_public.html" %}
{% load thumbnail_l %}

{% block title %}
{{ VENUE.name }} Programme{% if extra_title %}: {{ extra_title }}{% endif %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}diary/css/programme.css" type="text/css">
    <link rel="alternate" type="application/rss+xml" title="{{ VENUE.name }} Programme RSS" href="{% url "view-diary-rss" %}">
{% endblock %}

{% block script-page-setup %}
<script>
setup_page(true);
</script>
{% endblock script-page-setup %}

{% block navmenu-title %}
<h1><a href="{% url "default-view" %}" title= "{{ VENUE.name }} Programme">{{ VENUE.name }} Programme</a></h1>
{% endblock %}

{% block site-description %}
{% if event_type %}
<h4 class="site-description">{{ event_type|title }} events</h4>
{% endif %}
{% if showings|length == 0 %}
    <h4 class="site-description">
    {% if event_type %}
    - couldn't find anything tagged {{ event_type }}
    {% else %}
    Nothing on between {{ start|date:"l j M Y"  }} and {{ end|date:"l j M Y" }}
    {% endif %}
    </h4>
{% endif %}
{% endblock site-description %}

{% block navmenu-footer %}
<div class="grid-switcher">
  <p>View:</p>
  <a href="#" id="listbtn" class="switcher"><i class="fa fa-list"></i>&nbsp;List</a>
  <a href="#" id="gridbtn" class="switcher"><i class="fa fa-th"></i>&nbsp;Grid</a>
</div><!-- end .grid-switcher -->
{{ block.super }}
<div class="print-media">
    {% if printed_programmes %}
        <p>Print:</p>
        {% for printed_programme in printed_programmes %}
            <a href="{{ printed_programme.programme.url }}" title="Printed programme for {{ printed_programme.month|date:"M Y" }}">
            <i class="fa fa-file"></i></a>
        {% endfor %}
    {% endif %}
</div><!-- end .print-media -->
<div class="print-media">
   <p>RSS:</p>
   <a href="{% url "view-diary-rss" %}" title="Programme RSS feed">
       <span class="fa fa-rss-square fa-lg"></span></a>
</div>

{% endblock navmenu-footer %}

{% block body %}
{{ block.super }}
<div class="programme">
    <div class="showing-sizer"></div>
    <div class="gutter-sizer"></div>
{% for cms_page in cms_pages %}
    <div class="showing">
        <div class="event_image">
        {% if cms_page.image %}
            <a href="{{ cms_page.url }}">
                <img src="{{ cms_page.image.file|thumbnail_url:'indexview' }}" alt="Picture for page {{ cms_page.title }}">
            </a>
        {% endif %}
        </div>
        <a href="{{ cms_page.url }}">
            <p>
            <h3>{{ cms_page.title }}</h3>
        </a>
        <div class="event_details">
            <p class="copy">
                {{ cms_page.body|striptags|truncatewords:16 }} [<a class="more" href="{{ cms_page.url }}">more</a>]
            </p>
        </div>
    </div>
{% endfor %}
{% for event, showings in events.items %}
    <div class="showing" id="event_{{ event.id }}">

        <div class="event_image">
            {% with media_item=event.media.all.0 event_slug=event.name|slugify %}
            {% if media_item %}<a href="{% url "single-event-view-with-slug" event_id=event.id event_slug=event_slug %}">
                <img src="{{ media_item.media_file|thumbnail_url:'indexview' }}" alt="Picture for event {{ event.name }}"></a>
            {% endif %}
            {% if event.tags.all %}
                <span class="tags">
                    {% for tag in event.tags.all %}
                       <a href="{% url "type-view" tag.slug %}" class="tag_{{tag.name}}">{{tag.name}}</a>
                    {% endfor %}
                </span>
            {% endif %}
        </div><!-- div event_image -->
        <a href="{% url "single-event-view-with-slug" event_id=event.id event_slug=event_slug %}">
            <p><span class="pre_title">
                {{ event.pre_title }}
            </span></p>
            <h3>{{ event.name }}</h3>
            <span class="post_title">
                {{ event.post_title }}
            </span>
        </a>
        <p><div class="event_details">
            <p class="start_and_pricing">
                {% for showing in showings %}
                    {% if showing.sold_out %}<span class="sold_out">{% endif %}
                    {% if showing.cancelled %}<span class="cancelled">{% endif %}
                    {{ showing.start|date:"D j F " }}//{{ showing.start|date:" H:i" }}
                    {% if showing.cancelled %}</span> (cancelled){% endif %}
                    {% if showing.sold_out %}</span> (SOLD OUT){% endif %}
                    {% if showing.discounted %}<abbr class="discounted" title="* cheap night">*</abbr>{% endif %}<br>
                    {% endfor %}
            </p>
            <p class="copy">{{ event.copy_summary|truncatewords:16 }} [<a class="more" href="{% url "single-event-view-with-slug" event_id=event.id event_slug=event_slug %}">more</a>]</p>
        </div>{% endwith %}
    </div>{% endfor %}<!-- end .showing -->
</div><!-- end #programme -->

<div class="list">
  {% for showing in showings %}
    {% ifchanged %}<p class="month">{{ showing.start|date:"F"|upper }}{% endifchanged %}
    {% ifchanged %}{{ showing.start|date:" Y" }}{% endifchanged %}
    {% ifchanged %}<p class="day">{{ showing.start|date:"D"}} {{ showing.start|date:"d" }}
    {% else %}
        <p class="sameday">
    {% endifchanged %}
    <span class="time">{{showing.start|date:"H:i"}}</span> ....
    {% if showing.hide_in_programme or showing.event.private %}Closed for private event.
    {% else %}
        <a href="{% url "single-event-view" event_id=showing.event_id %}">{{ showing.event.pre_title|title }} {{ showing.event.name|capfirst }} {{ showing.event.post_title|title }}
    {% if showing.cancelled %} (CANCELLED){% endif %}
    {% if showing.sold_out %} (SOLD OUT){% endif %}
    {% if showing.discounted %} *{% endif %}{% endif %}</a></p>
{% endfor %}
<p>&nbsp;</p>
<p>* cheap night</p>
</div><!-- end .list -->

{% endblock body %}
