{% extends "form_base.html" %}
{% load thumbnail_l %}
{% load static %}
{% load noprefix_url %}
{% block title %}
Details for: {{ event.name }}
{% endblock %}
{% block css %}
{{ block.super }}
<style type="text/css">
    p {
    }
    .copy {
        padding: 0.5em;
    }
    p.image_caption {
        font-style: italic;
    }
    .pre {
        white-space: pre-wrap;
    }
    p#cancel {
        margin: 1em;
    }
    #form-errors { color: red }

</style>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{{ STATIC_URL }}diary/js/edit_event.js"></script>
<script>
$(document).ready(function() { setupPage({
  "csrfmiddlewaretoken": "{{ csrf_token }}",
  "add_booking_url": "{% url "add-showing" event_id=event.id %}",
})});
</script>
{% endblock %}

{% block body %}
<div id="booking">
    <h1>{{ event.name }}
 </h1>

<div id="bookings">
<h3>Bookings</h3>
<form>
{% csrf_token %}
<table class="table">
    <tr>
        <th>When</th>
        <th>Booked by</th>
        <th>Confirmed</th>
        <th>Secret</th>
        <th>Cancelled</th>
        <th>Discounted</th>
        <th>Sold-out</th>
        <th></th>
    </tr>
{% for showing in event.showings.all %}
    {% include "view_event_privatedetails_showingrow.html" %}
{% endfor %}
    <tr id="form-errors">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{ form.clone_start }}</td>
        <td>{{ form.booked_by }}</td>
        <td colspan="6"><input type="submit" class="btn btn-primary" value="Add booking" /></td>
    </tr>
</table>
</form>
</div>
<h3>Details {% if not event.all_showings_in_past %}<a href="{% url "edit-event-details" event.pk %}">[edit]</a>{% endif %}</h3>
    <table class="table">
    <tr><td>Pre-title</td><td>{{event.pre_title }}</td></tr>
    <tr><td>Name</td><td>{{ event.name }}</td></tr>
    <tr><td>Post-title</td><td>{{event.post_title }}</td></tr>
    <tr><td>Tags</td><td>{{ event.tags.all|join:", " }}</td></tr>
    <tr><td>Public programme link</td><td>{% if event.showings.public and not event.private %}<a href="{% noprefix_url "single-event-view" event.pk %}">{% noprefix_url "single-event-view" event.pk %}</a>{% else %}
    Event not visible in online programme: {% if event.private %}It's marked private.{% endif %} {% if not event.showings.public %}Bookings are all unconfirmed or hidden in programme.{% endif %}
    {% endif %}</td></tr>
    <tr><td>Pricing</td><td>{{ event.pricing }}</td></tr>
    {% if event.ticket_link %}<tr><td>Online tickets</td><td><a href="{{ event.ticket_link }}">{{ event.ticket_link }}</a></td></tr>{% endif %}
    <tr><td>Film information</td><td>{{ event.film_information }}</td></tr>
    <tr><td>Programmer's notes</td><td>{{event.notes}}</td></tr>
    {% comment %}
    {% if event.template %}
    <tr><td>Created from template:</b>{{ event.template }} </p>
    {% endif %}
    {% endcomment %}
    <tr><td>Event image</td><td>

{% with event.media.all.0 as media_item %}
{% if media_item %}
<a href="{% get_media_prefix %}{{ media_item.media_file }}"><img src="{{ media_item.media_file|thumbnail_url:'editpreview' }}" alt="Picture for event {{ event.name }}"></a>
{% if media_item.credit %}
<p class="image_caption">Image by: {{ media_item.credit }}</p>
{% endif %}
{% else %}
<i>no image yet</i>
{% endif %}
{% endwith %}
 </td></tr>

 <tr><td>Copy (for event web page)</td><td><div class="copy">{{event.copy_html}}</div></td></tr>
 <tr><td>Copy summary (for web index and printed programme)</td><td>
 <p class="pre">{{event.copy_summary}}</p></td></tr>
 <tr><td>Terms</td><td><p class="pre">{{event.terms}}</p></td></tr>
</table>
<p id="cancel"><a href="{% url "cancel-edit" %}">Back to diary</a></p>

{% endblock %}

