{% block css %}
<style type="text/css">
    body { font-family:Arial,Helvetica,sans-serif; }
    h1, h2 { margin: 1mm; }
    h1 { font-size: 13pt; }
    h2 { font-size: 11pt; }
    p { font-size: 10pt; }
</style>
{% endblock %}

{% block body %}
<h1>{{ VENUE.longname }} rota roles that need filling in the next {{ days_ahead }} days</h1>

<p><i>Login to <a href="{{ VENUE.url }}{% url "rota-edit" %}">the rota</a> at {{ VENUE.url }}{% url "rota-edit" %}</i>.
Your username is <strong>{{ user }}</strong></p>

<p>Doors open 30 minutes before a screening/event. Volunteer shifts start 60 minutes before a screening/event.  Thanks!</p>

<div id="missing_list">
{% for showing, vacant_roles in showings_vacant_roles.items %}
    {% if vacant_roles %}
    <p><b>
        {% if showing.start < now_plus_1d %}
        <span style="color: red;">Urgent!
            {% if showing.start.day == now.day %}
             Today!
            {% else %}
             Tomorrow!
            {% endif %}
            ({{ showing.start|date:"D jS H:i" }})
        </span>
        {% else %}
            {{ showing.start|date:"D jS H:i" }}
        {% endif %} &mdash;
        <a href="{{ VENUE.url }}{% url "single-showing-view" showing.pk %}">{{ showing.event.name }}</a></b> <i>needs</i>
        {% for rota_entry in vacant_roles %}
            {{ rota_entry.role.name }}{% if rota_entry.rank > 1 %} #{{ rota_entry.rank }}{% endif %}{% if not forloop.last %},{% endif %}
        {% empty %}
            Nobody!
        {% endfor %}
    </p>
    {% endif %}
{% endfor %}
</div>

{% endblock %}
