{% extends "base_public.html" %}
{% load thumbnail %}

{% block title %}
Cube: {{ event.name }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}diary/css/event.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}diary/css/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}diary/js/masonry.pkgd.min.js" ></script>
    <script src="{{ STATIC_URL }}diary/js/imagesloaded.pkgd.min.js" ></script>

    <script type="text/javascript">
        $(document).ready(function($){

            // init Masonry
        var $grid = $('.grid').masonry({
          percentPosition: true, gutter: '.gutter-sizer', columnWidth: '.grid-sizer', itemSelector: '.grid-item'
        });
        // layout Masonry after each image loads
        $grid.imagesLoaded().progress( function() {
          $grid.masonry('layout');
        });

        });
    </script>

    <script type="text/javascript">
    $(document).ready(function(){$("#mobile-menu-btn").on("click",function(e){e.preventDefault();var a=$("#site-nav"),t=$(".nav-wrap"),n=$(".grid"),i=$(".list");a.toggleClass("open"),a.hasClass("open")?(a.animate({left:"0px"},200),t.animate({left:"170px"},200),n.animate({left:"170px"},200),i.animate({left:"170px"},200)):(a.animate({left:"-170px"},200),t.animate({left:"0px"},200),n.animate({left:"0px"},200),i.animate({left:"0px"},200))})});
    </script>
    <script>
    $(document).ready(function(){$("#navmenu > ul > li:has(ul)").addClass("has-sub"),$("#navmenu > ul > li > a").click(function(){var l=$(this).next();return $("#navmenu li").removeClass("active"),$(this).closest("li").addClass("active"),l.is("ul")&&l.is(":visible")&&($(this).closest("li").removeClass("active"),l.slideUp("normal")),l.is("ul")&&!l.is(":visible")&&($("#navmenu ul ul:visible").slideUp("normal"),l.slideDown("normal")),l.is("ul")?!1:!0})});

    </script>


{% endblock %}

{% block header %}
{{ block.super }}
<div id="container" class="body">
    <div id="sidebar" class="panel">
      <div class="nav-wrap">
          <div class="mobile-wrap">
            <a href="#nav-mobile" id="mobile-menu-btn"><i class="fa fa-bars"></i><span>Menu</span></a>
          </div><!-- end #mobile-wrap -->
          <div id="site-title" class="clearfix">
              <h1><a href="/toolkit/programme/" title= "Cube Programme">Cube Programme</a></h1>
          </div><!-- end #site-title -->

          <div class="site-description">
              {% if event_type %}
                  <h4 class="site-description">{{ event_type }} events
              {% endif %}
              {% if showings|length == 0 %}
                  
                  {% if event_type %}
                  - couldn't find anything tagged {{ event_type }}
                  {% else %}
                  Nothing on between {{ start|date:"l j M Y"  }} and {{ end|date:"l j M Y" }}
                  {% endif %}
                  </h4>
              {% endif %}
          </div><!-- end .site-description -->
      </div><!-- end .nav-wrap -->      
      <nav id="site-nav" class="clearfix">
          <div id="navmenu" class="menu-wrap">
            <ul>
                <li><a href="http://www.cubecinema.com/">Home</a></li>
                <li><a href="/toolkit/programme/">Programme</a>
                    <ul class="sub-menu">
                        <li><a href="/toolkit/programme/view/film/"><span>Film</span></a></li>
                        <li><a href="/toolkit/programme/view/music/">Music</a></li>
                        <li><a href="/toolkit/programme/view/performance/">Performance</a></li>
                        <li><a href="/toolkit/programme/view/comedy/">Comedy</a></li>
                        <li><a href="/toolkit/programme/"><span>All</span></a></li>
                    </ul>
                </li>
                <li><a href="#">Projects</a>
                    <ul class="sub-menu">
                        <li><a href="http://www.cubecinema.com/freehold/">Freehold</a></li>
                        <li><a href="http://www.cubecinema.com/film/">The Film That Buys The Cinema</a></li>
                        <li><a href="http://nanoplex.cubecinema.com/haiti_kids_kino.php">Haiti Kids Kino Project</a></li>
                        <li><a href="http://www.feraltrade.org/">Feral Trade</a></li>
                        <li><a href="http://cube-cola.org/">Cube Cola</a></li>
                        <li><a href="http://exhibitions.cubecinema.com/">Exhibitions</a></li>
                        <li><a href="http://www.bristol-channel.org/skomer/category/lab-activity/">Nachleben Film Lab</a></li>
                    </ul>
                </li>
                <li><a href="#">Regular Events</a>
                    <ul class="sub-menu">
                        <li><a href="http://www.cubecinema.com/cubewebsite/babycinema.html">Babycinema</a></li>
                        <li><a href="http://nanoplex.cubecinema.com/">Nanoplex</a></li>
                        <li><a href="http://bluescreenfilms.weebly.com/">Bluescreen</a></li>
                        <li><a href="http://www.cubecinema.com/bioskop/">Bioskop</a></li>
                        <li><a href="http://qujunktions.com/">Qu Junktions</a></li>
                    </ul>
                </li>
                <li><a href="#">Links</a>
                    <ul class="sub-menu">
                        <li><a href="http://blog.cubecinema.com/">Cube Blog</a></li>
                        <li><a href="http://sparror.cubecinema.com/">Sparror Art Server</a></li>
                        <li><a href="http://www.cubecinema.com/programme/archive/">Cube Programme Archive</a></li>
                        <li><a href="http://sparror.cubecinema.com/adam/">Adam's Photo Archive</a></li>
                        <li><a href="http://sparror.cubecinema.com/mr_hopkinson/">mr_hopkinson's Photo Archive</a></li>
                        <li><a href="http://www.bruced.smugmug.com/Music/The-Cube-Bristol">Bruce's Photo Archive 1</a></li>
                        <li><a href="http://www.bruced.smugmug.com/Performing-Arts/The-Cube-Bristol">Bruce's Photo Archive 2</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a>
                    <ul class="sub-menu">
                        <li><a href="http://www.cubecinema.com/cubewebsite/about.html">The Cube</a></li>
                        <li><a href="http://www.cubecinema.com/cubewebsite/directions.html">Directions</a></li>
                        <li><a href="http://www.cubecinema.com/cubewebsite/membership.html">Membership</a></li>
                        <li><a href="http://www.cubecinema.com/cubewebsite/contact.html">Contact</a></li>
                        <li><a href="http://www.cubecinema.com/signiup.html">Newsletter</a></li>
                        <li><a href="http://www.cubecinema.com/cubewebsite/tickets.html">Advance Tickets</a></li>
                        <li><a href="http://www.cubecinema.com/images-of-cube/">Pictures</a></li>
                        <li><a href="http://www.cubecinema.com/cubewebsite/spec.html">Our Tech</a></li>
                        <li><a href="http://www.cubecinema.com/cubewebsite/hires.html">Hire</a></li>
                    </ul>
                </li>
            </ul>     
            <div class="social-media">
                <p>Social:</p>
                <a href="https://twitter.com/cubecinema" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/cubecinema/" title="Facebook"><i class="fa fa-facebook-official"></i></a>
                <a href="https://secure.flickr.com/groups/cubemicroplex/" title="Flickr"><i class="fa fa-flickr"></i></a>
                <a href="https://vimeo.com/cubemicroplex/" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
                <a href="https://www.youtube.com/user/cubelog" title="Youtube"><i class="fa fa-youtube"></i></a>
            </div><!-- end .social-media -->
            <div class="print-media">
                {% if printed_programmes %}
                <p>Print:</p>
                {% for printed_programme in printed_programmes %}
                <a href="{{ printed_programme.programme.url }}" title="Printed programme for {{ printed_programme.month|date:"M Y" }}"><i class="fa fa-file"></i></a>
                {% endfor %}
                {% endif %}
            </div><!-- end .print-media -->
          </div><!-- end .menu-wrap -->
        </nav><!-- end #site-nav -->
    </div><!-- end #sidebar -->

    <div class="grid{% if all_showings_sold_out %} sold_out{% endif %}{% if all_showings_cancelled %} cancelled{% endif %}">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        <div class="grid-item grid-item--width3">
            <div class="event_image">
            {% with event.media.all.0 as media_item %}
                {% if media_item %}
                    <a href="{{ media_url }}{{ media_item.media_file }}"><img src="{{ media_item.media_file|thumbnail_url:'eventdetail' }}" alt="Picture for event {{ showing.event.name }}" {% if media_item.credit %}title="Image credit: {{ media_item.credit }}"{% endif %}></a>
                {% endif %}
            {% endwith %}
            </div><!-- end .event_image -->
        </div><!-- end .grid-item -->
        <div class="grid-item grid-item--width2">
            <p>{% if event.pre_title %}<span class="pre_title">{{ event.pre_title }}</span>{% endif %}<h3>{{ event.name|capfirst }}</h3>{% if event.post_title %}<span class="post_title">{{ event.post_title }}</span>{% endif %}</p>
            {% if event.film_information %}
            <p class="info">{{ event.film_information }}</p>
            {% endif %}
            <p class="showings">
            -<br>
            {% for showing in showings %}
                {% if showing.cancelled %}<span class="cancelled">{% endif %}
                {% if showing.discounted %}<span class="discounted">{% endif %}
                {% if showing.start.year != current_year %}
                    {{ showing.start|date:"D jS M Y " }}//{{ showing.start|date:" P" }}
                {% else %}
                    {{ showing.start|date:"D jS M " }}//{{ showing.start|date:" P" }}
                {% endif %}
                {% if showing.discounted %} <abbr title="Ticket Tout Tuesday">(TTT)</abbr></span>{% endif %}
                {% if showing.sold_out %}<span class="sold_out">(SOLD OUT)</span>{% endif %}
                {% if showing.cancelled %} (cancelled)</span>{% endif %}
                </p>
            {% endfor %}
            {% if event.pricing %}
                <p class="tickets">Tickets: {{ event.pricing }}</p>
            {% endif %}
            {% if event.ticket_link and not all_showings_finished %}
               <p class="action"><a href="{{ event.ticket_link }}" target="_blank">Book tickets</a></p>
            {% endif %}
        </div><!-- end .grid-item -->
        <div class="grid-item grid-item--width3">
            <div class="copy">
                {{ event.copy_html }}
            </div><!-- end .copy -->
        </div><!-- end .grid-item -->
    </div><!-- end .grid -->   
    <div class="related-events">
        <!--<p>Related Events</p>-->
    </div><!-- end .related-events --> 
</div><!-- end #container .body -->    
{% endblock %}


