{% extends "base_public.html" %}
{% load thumbnail %}

{% block title %}
{{ event_list_name|default:"Cube Programme" }}{% if event_type %}: {{ event_type }}{% endif %}
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}diary/css/programme.css" type="text/css">
{% endblock %}

{% block body %}
<div class="programme">
    <a href="http://www.cubecinema.com/"><img id="cubelogo" src="{{ STATIC_URL }}diary/prog_logo_captioned_300.png" alt="Cube Programme"></a>
    <div id="programmelinks">
       {% if event_type %}
           <strong>Events tagged "{{ event_type }}"</strong><br>
       {% endif %}
       See events tagged <a href="{% url "type-view" "music"%}">Music</a> | <a href="{% url "type-view" "film"%}">Film</a> |
       <a href="{% url "default-view" %}">Everything</a><br>
       <a href="{% url "day-view" year=start.year day=start.day month=start.month %}?daysahead=30">See 1 month</a> |
       <a href="{% url "day-view" year=start.year day=start.day month=start.month %}?daysahead=60">See 2 months</a> |
       <a href="{% url "day-view" year=start.year day=start.day month=start.month %}?daysahead=90">See 3 months</a><br>
       <br>
       {% if printed_programmes %}
           {% for printed_programme in printed_programmes %}
           <img src="{{ STATIC_URL }}diary/tiny_pdf_file_icon.gif" alt="Link to PDF"><a href="{{ printed_programme.programme.url }}">Printed programme for {{ printed_programme.month|date:"M Y" }}</a><br>
           {% endfor %}
       {% endif %}
    </div>

    {% if showings|length == 0 %}
    <p>
    {% if event_type %}
    Couldn't find anything tagged <strong>{{ event_type }}</strong>
    {% else %}
    Nothing on between {{ start|date:"l j M Y"  }} and {{ end|date:"l j M Y" }}
    {% endif %}
    </p>
    {% endif %}
    <div id="listing">
    {% for showing in showings %}
        <div class="showing{% if showing.start_date == today %} today{% endif %}{% if showing.cancelled %} cancelled{% endif %}">
            {% with showing.event.media.all.0 as media_item %}{% if media_item %}<img src="{{ media_item.media_file|thumbnail_url:'indexview' }}" alt="Picture for event {{ showing.event.name }}">{% endif %}{% endwith %}
            {% if showing.event.tags.all or showing.discounted %}<span class="tags">{% if showing.discounted %}{% if showing.start.weekday == 1 %}<abbr title="Ticket Tout Tuesday">ttt</abbr>{%else%}discounted{% endif %}{% endif %}{% for tag in showing.event.tags.all %}<a href="{% url "type-view" tag.name %}" class="tag_{{tag.name}}">{{tag.name}}</a> {% endfor %}</span>{% endif %}
            <h1>
                <a href="{% url "single-event-view" showing.event.id %}"><span class="pre_title">
                    {{ showing.event.pre_title }}
                </span>
                {{ showing.event.name }}
                <span class="post_title">
                    {{ showing.event.post_title }}
                </span>
                </a>
            </h1>
            <div class="copy">
                <p class="start_and_pricing">{{showing.start|date:"D j F H:i"}} {% if showing.event.pricing %}/ {{ showing.event.pricing }}{% endif %}</p>
            <p>{{ showing.event.copy_summary|truncatewords:50 }} [<a class="more" href="{% url "single-event-view" showing.event.id %}">more...</a>]</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

