{% extends "base_view_eventfield.html" %}

{% block title %}
CUBE role rota
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
    body {font-family:Arial,Helvetica,sans-serif; }

    .rota-wrapper{
        max-width: 1080px;
    }

    h1, h2 { margin: 1mm; }
    h1 { font-size: 16pt; }
    h2 { font-size: 14pt; }

    table {
        border-collapse: collapse;
    }
    tr.event_head {
        font-weight: bold;
        font-size: 13pt;
    }
    tr.event_head td {
        padding: 0.2em 0 0.1em 0;
        border-top: thin grey dashed;
    }
    .right {
        text-align: right;
    }
    tr {
        font-size: 10pt;
    }
    td.rota_box {
        width: 5cm;
        height: 0.65cm;
        border-style: solid;
        border-width: 1px;
        border-color: gray;
        font-family: monospace;
    }
    td.rota_notes {
        font-family: monospace;
        white-space: pre-wrap;
    }
    td {
        padding: 0.5em;
    }

    @media print {
        /* Don't show header when printed */
        #eventfield_header {
            display: none;
        }
    }
</style>
{% endblock %}

{% block body %}
{{ block.super }}
<div class="rota-wrapper">
<h1>Rota from {{ start_date|date:"D d/m/y" }} to {{ end_date|date:"D d/m/y" }}</h1>
<table>
    <tbody>

{% for showing in showings %}
    {% ifchanged %}<tr><td colspan="6"><h2>{{ showing.start|date:"F Y" }}</h2></td></tr>{% endifchanged %}
    <tr class="event_head"><td>{{ showing.start|date:"D j H:i"}}</td><td colspan="2">{{ showing.event.name }} </td><td> </td></tr>
    {% for rota_entry in showing.rotaentry_set.all %}
        {% if forloop.counter|divisibleby:2 %}
            <td class="rota_box">   {{ rota_entry.name }}</td><td> {{ rota_entry.role.name }}-{{ rota_entry.rank }} </td></tr>
        {% else %}
            <tr><td class="right"> {{ rota_entry.role.name }}-{{ rota_entry.rank }} </td><td class="rota_box">{{ rota_entry.name }}</td>
            {% if forloop.last %}
            <td></td><td></td></tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if showing.rota_notes %}
        <tr><td class="right">Notes: </td><td class="rota_notes" colspan="2">{{ showing.rota_notes }}</td><td> </td></tr>
    {% endif %}
{% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

