{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
{{ event_list_name|default:"Cube Programme" }}
{% endblock %}

{% block css %}
<link href="http://www.cafeoto.co.uk/CafeotoTemplateStyle.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div align="center">
  <table width="0" border="0" cellpadding="0" cellspacing="0" id="mainTable">

    <tr>
        <td colspan="2" id="header"><a href="index.shtm"><img src="{{ STATIC_URL }}/diary/1cafe-oto4.gif" alt="cafe OTO" width="625" height="83" border="0"></a></td>
    </tr>
    <tr>
      <td colspan="2" id="navbar">
          <a href="/programme.shtm" onmouseover=
          "MM_swapImage('Image3','','/images/banner/menu_cafe_oto_rollover_01.gif',1)" onmouseout=
          "MM_swapImgRestore()"><img src="http://www.cafeoto.co.uk//images/banner/menu_cafe_oto_01.gif" alt="programme" name="Image3" width=
          "116" height="17" border="0" id="Image3"></a><a href="/about.shtm" onmouseover=
          "MM_swapImage('Image4','','/images/banner/menu_cafe_oto_rollover_02.gif',1)" onmouseout=
          "MM_swapImgRestore()"><img src="http://www.cafeoto.co.uk//images/banner/menu_cafe_oto_02.gif" alt="about" name="Image4" width="67"
          height="17" border="0" id="Image4"></a><a href="/otoprojects.shtm" onmouseover=
          "MM_swapImage('Image5','','/images/banner/menu_cafe_oto_rollover_03.gif',1)" onmouseout=
          "MM_swapImgRestore()"><img src="http://www.cafeoto.co.uk//images/banner/menu_cafe_oto_03.gif" alt="OTOprojects" name="Image5" width=
          "125" height="17" border="0" id="Image5"></a><a href="/cafe.shtm" onmouseover=
          "MM_swapImage('Image6','','/images/banner/menu_cafe_oto_rollover_04.gif',1)" onmouseout=
          "MM_swapImgRestore()"><img src="http://www.cafeoto.co.uk//images/banner/menu_cafe_oto_04.gif" alt="cafe" name="Image6" width="55"
          height="17" border="0" id="Image6"></a><a href="/shop.shtm" onmouseover=
          "MM_swapImage('Image7','','/images/banner/menu_cafe_oto_rollover_05.gif',1)" onmouseout=
          "MM_swapImgRestore()"><img src="http://www.cafeoto.co.uk//images/banner/menu_cafe_oto_05.gif" alt="shop" name="Image7" width="57"
          height="17" border="0" id="Image7"></a><a href="/support.shtm" onmouseover=
          "MM_swapImage('Image8','','/images/banner/menu_cafe_oto_rollover_06.gif',1)" onmouseout=
          "MM_swapImgRestore()"><img src="http://www.cafeoto.co.uk//images/banner/menu_cafe_oto_06.gif" alt="support" name="Image8" width="84"
          height="17" border="0" id="Image8"></a><a href="/contact.shtm" onmouseover=
          "MM_swapImage('Image9','','/images/banner/menu_cafe_oto_rollover_07.gif',1)" onmouseout=
          "MM_swapImgRestore()"><img src="http://www.cafeoto.co.uk//images/banner/menu_cafe_oto_07.gif" alt="contact &amp; directions" name=
          "Image9" width="266" height="17" border="0" id="Image9"></a>
        </td>
      </tr>
      <tr>
        <td id="maincontent">
          <table width="0" border="0" cellspacing="0" cellpadding="0">
            {% for showing in showings %}
            <tr>
                {% spaceless %}
                <td id="progpics">
                <a href="{% url "single-event-view" event_id=showing.event_id %}">
                {% with showing.event.media.all.0 as media_item %}
                {% if media_item %}
                <img src="{{ media_item.media_file|thumbnail_url:'std' }}" alt="Picture for event {{ showing.event.name }}" width="82" height="82" class="ProgPic">
                {% else %}
                    <img src="{{ STATIC_URL }}/diary/default_programme_image.gif" alt="Picture for event {{ showing.event.name }}" width="82" height="82" class="ProgPic">
                {% endif %}
                {% endwith %}
                </a></td>
                {% endspaceless %}

              <td class="buyticket" id="programme">
              <p class="bandname">{{ showing.event.name }}<br></p>

              <p class="bodytext">{{ showing.start|date:"D j F 'y"|upper }} &bull; {{ showing.start|date:"gA" }}</p><br>
              <a href="{% url "single-event-view" event_id=showing.event_id %}">{{ showing.event.copy_html|truncatewords_html:50 }}.......MORE&gt;<br>
                <br>
                <em>Single line review that we don't have</em> (From someone)</a><br>
                <br>

                <div align="right">
                  <a href="http://www.sadtrombone.com/" target="_blank">&raquo; BUY TICKETS</a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
        </td>

        <td id="sidebar">
          <table width="0" border="0" cellpadding="0" cellspacing="0" id="rollingnews">
            <tr>
              <td>
                <em>NB: concerts start approx 30-45 minutes after doors open</em><br>
                - - - -<br>
                <br>

                <p class="headerNoline">OTO PROJECT SPACE</p><br>
                Help us build our new project space!<br>
                <br>
                <a href="oto-project-space.shtm">More information here</a><br>
                <br>
                - - - -<br>
                <br>
                <a href="associated-artists.shtm"><img src="http://www.cafeoto.co.uk/images/aap-logo.jpg" width="120px" alt=
                "Associated Artists Programme" border="0"></a><br>
                <br>
                - - - -<br>
                <br>

                <p class="headerNoline">Mailing list</p><br>

                <form action="http://tommygrace.createsend.com/t/1/s/duhji/" method="post">
                  <p><input name="mb-name" type="text" class="txtboxstyle" id="mb-name" onfocus=
                  "if(this.value==this.defaultValue)this.value='';" onblur=
                  "if(this.value=='')this.value=this.defaultValue;" value="Name"></p>

                  <p><br>
                  <input name="mb-duhji-duhji" type="text" class="txtboxstyle" id="mb-duhji-duhji" onfocus=
                  "if(this.value==this.defaultValue)this.value='';" onblur=
                  "if(this.value=='')this.value=this.defaultValue;" value="Email"></p>

                  <p class="submit"></p>

                  <p><br>
                  <input name="submit" type="submit" class="subscribe" value="Subscribe"></p>
                </form>

                <p>&nbsp;</p><br>
                <a href="http://twitter.com/cafeoto"><img src="http://www.cafeoto.co.uk/images/twitter.jpg" alt=
                "Follow Cafe OTO on Twitter" height="33" width="32" border="0" style="padding-right: 5px;"></a>
                <a href="http://www.facebook.com/cafeoto"><img src="http://www.cafeoto.co.uk/images/facebook.jpg" alt=
                "" width="30" height="33" border="0"></a><br>
                <br>

                <p><em>Media Partners:</em></p>

                <p><a href="http://resonancefm.com/" target="_blank"><img src="http://www.cafeoto.co.uk/images/resonancefm5_002.jpg" width="110"
                height="99" border="0"></a></p>

                <p><a href="http://www.thewire.co.uk/" target="_blank"><img src="http://www.cafeoto.co.uk/images/wi_005.jpg" width="95" height=
                "42" border="0"></a></p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p style="text-align:justify;">&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td colspan="2" id="footer">
          <table width="0" border="0" cellpadding="0" cellspacing="0" id="footerinner">
            <tr>
              <td>Cafe OTO | 18-22 Ashwin St | Dalston | London | E8 3DL</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div><!-- InstanceEnd -->
{% endblock %}

