{% extends "base_public.html" %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}about/css/static_pages.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/respond.min.js" ></script>
    <script src="{{ STATIC_URL }}js/lib/masonry.pkgd.min.js" ></script>
    <script src="{{ STATIC_URL }}js/lib/imagesloaded.pkgd.min.js" ></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function($){
            // init Masonry
            var $grid = $('.programme').masonry({
                percentPosition: true,
                gutter: '.gutter-sizer',
                columnWidth: '.grid-sizer',
                itemSelector: '.grid-item'
            });
            // layout Masonry after each image loads
            $grid.imagesLoaded().progress(function() {
               $grid.masonry('layout');
            });
        });

        $(document).ready(function() {
            $("#mobile-menu-btn").click(function() {
                var toggle_el = $(this).data("toggle");
                $(toggle_el).toggleClass("open-sidebar");
                $(".black_overlay").toggleClass("active-search-bg");
            });
        });

        $(function() {
            $(".black_overlay").swipe({
                swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
                    $(".grid").removeClass("open-sidebar");
                    $(".black_overlay").removeClass("active-search-bg");
                },
                threshold: 0
            });
        });

        $(document).ready(function() {
            $('#navmenu > ul > li:has(ul)').addClass("has-sub");
            $('#navmenu > ul > li > a').click(function() {
                var checkElement = $(this).next();

                $('#navmenu li').removeClass('active');
                $(this).closest('li').addClass('active');

                if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                    $(this).closest('li').removeClass('active');
                    checkElement.slideUp('normal');
                }

                if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                    $('#navmenu ul ul:visible').slideUp('normal');
                    checkElement.slideDown('normal');
                }

                if (checkElement.is('ul')) {
                    return false;
                } else {
                    return true;
                }
            });
        });
    </script>
{% endblock %}

{% block header %}
{{ block.super }}
<div id="container" class="body">
    <div id="sidebar" class="panel">
      <div class="nav-wrap">
          <div id="site-title" class="clearfix">
              <h1><a href="{% url "default-view" %}" title= "Cube Programme">Cube Microplex</a></h1>
          </div><!-- end #site-title -->
      </div><!-- end .nav-wrap -->
      <nav id="site-nav" class="clearfix">
          <div id="navmenu" class="menu-wrap">
            {% include "fragment_navmenu.html" %}
            {% include "fragment_sociallinks.html" %}
          </div><!-- end .menu-wrap -->
        </nav><!-- end #site-nav -->
    </div><!-- end #sidebar -->
    <div class="grid">
        <div class="black_overlay"></div>
        <div class="navigation-wrap">
            <div class="mobile-wrap">
              <a href="#" data-toggle=".grid" id="mobile-menu-btn"><i class="fa fa-bars"></i><span>Menu</span></a>
            </div><!-- end #mobile-wrap -->
            <div id="site-title" class="clearfix">
                <h1><a href="{% url "default-view" %}" title= "Cube Programme">Cube Microplex</a></h1>
            </div><!-- end #site-title -->
            <div class="site-description">
            </div><!-- end .site-description -->
        </div><!-- end .nav-wrap -->
{% endblock %}

{% block footer %}
    </div><!-- end .grid -->
</div><!-- end #container .body -->
{{ block.super }}
{% endblock %}
