{% extends "base_public.html" %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}about/css/static_pages.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/respond.min.js" ></script>
    <script src="{{ STATIC_URL }}js/lib/masonry.pkgd.min.js" ></script>
    <script src="{{ STATIC_URL }}js/lib/imagesloaded.pkgd.min.js" ></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.touchSwipe.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function($){

            // init Masonry
        var $grid = $('.programme').masonry({
          percentPosition: true, gutter: '.gutter-sizer', columnWidth: '.grid-sizer', itemSelector: '.grid-item'
        });
        // layout Masonry after each image loads
        $grid.imagesLoaded().progress( function() {
          $grid.masonry('layout');
        });

        });
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
      $("#mobile-menu-btn").click(function() {
        var toggle_el = $(this).data("toggle");
        $(toggle_el).toggleClass("open-sidebar");
        $(".black_overlay").toggleClass("active-search-bg");
      });

    });


    $(function() {
        $(".black_overlay").swipe( {
          swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
            $(".grid").removeClass("open-sidebar");
            $(".black_overlay").removeClass("active-search-bg");
          },
          threshold:0
          });
        });

    </script>

    <script>
        $(document).ready(function(){

          $('#navmenu > ul > li:has(ul)').addClass("has-sub");

          $('#navmenu > ul > li > a').click(function() {
            var checkElement = $(this).next();

            $('#navmenu li').removeClass('active');
            $(this).closest('li').addClass('active');


            if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
              $(this).closest('li').removeClass('active');
              checkElement.slideUp('normal');
            }

            if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
              $('#navmenu ul ul:visible').slideUp('normal');
              checkElement.slideDown('normal');
            }

            if (checkElement.is('ul')) {
              return false;
            } else {
              return true;
            }
          });

        });

    </script>

{% endblock %}
