{% extends "base_content.html" %}

{% block title %}
Cube Microplex: ReBox
{% endblock %}

{% block body %}
{{ block.super }}
<div class="programme">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item grid-item--width">
        &nbsp;
    </div><!-- end .grid-item -->
    <div class="grid-item grid-item--width4">
        <div class="event_image">
          <img src="http://www.cubecinema.com/rebox/rebox_header.jpg" alt="ReBox header">
        </div><!-- end .event_image -->
        <br>
        <h3>CUBE ReBox</h3>
        <br>
        <div class="copy">
            <p>As many of you will know, on April Fools Day last year, the Cube volunteers bought the building <a href="http://www.cubecinema.com/freehold" title= "Freehold Project">Freehold</a> from our landlord, and in doing so took on responsibility for its future. We knew all of its quirks and problems from the start and now this charming wreck that we all love needs work. It needs a new roof, new toilets and disabled access, it needs to be cooler in the summer and warmer in the winter and it needs to be environmentally sustainable.</p>
            <p>We want to start this work next year.</p>
            <p>Our plans go beyond the basics of what is needed and imagine what is possible. We want to remove walls, raise ceilings, let light in and create more flexible spaces. We will retain what's good and improve what isn't. Imagine one of our beautiful old cinema seats but just with new upholstery — that's the ethos of the whole project. It's a huge build that — subject to raising the needed funds - would see us pupate for a large chunk of 2016, emerging later in the year, transformed into a new beast. A mongrel mix of 1960s wood panelling, creaky seats, a bigger bar with a dance floor you can go ape on, a new cinema screen and toilets that don't smell. Most importantly, our friends who have different mobility needs can join us for the first time as audience members, performers and staff.</p>
            <p>If you would like more information, please email <script type="text/javascript">
            //<![CDATA[
            <!--
            var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
            "=50){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
            ".substr(0,ol);}f(\")27,\\\"82:)\\\\\\\\C530\\\\TF420\\\\720\\\\420\\\\X420\\"+
            "\\130\\\\620\\\\430\\\\030\\\\320\\\\n\\\\410\\\\030\\\\710\\\\+630\\\\700\\"+
            "\\100\\\\520\\\\620\\\\000\\\\120\\\\710\\\\000\\\\_B300\\\\-(|7385320\\\\v" +
            "610\\\\m+ >!2d`430\\\\SSY620\\\\WYW^GOOJSGbTpuhhsa~r4c~doeo\\\"\\\\!F730\\\\"+
            "220\\\\700\\\\330\\\\Q610\\\\QIAt\\\\t\\\\600\\\\520\\\\6/,w#;6<:.$-\\\"(f}" +
            ";o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;++y)27<i(fi" +
            "{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"            ;
            while(x=eval(x));
            //-->
            //]]>
            </script></p>
        </div><!-- end .copy -->
    </div><!-- end .grid-item -->
</div><!-- end .programme -->
{% endblock %}
