{% extends "base_about.html" %}

{% block title %}
Cube Microplex: Advance Tickets
{% endblock %}

{% block body %}
{{ block.super }}
<div class="programme">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item grid-item--width2 event-image">
        <div class="event_image">
          <img src="{{ STATIC_URL }}about/tickets-01.jpg" alt="Automaticket">
        </div><!-- end .event_image -->
    </div><!-- end .grid-item -->
    <div class="grid-item grid-item--width3">
        <h3>Advance Tickets</h3>
        <br>
        <div class="copy">
            <p>Tickets for cinema showings are sold from the door approximately
            30 minutes before the advertised showing time. You can buy advance
            tickets on line for selected screenings through <a
            href="https://www.ticketsource.co.uk/venue/EGGKKD" title= "Ticket Source">www.ticketsource.co.uk</a> (booking fee applies).</p>
            <p>Tickets will be available to buy on line until 4 hours before
            the screening. There will usually be a small number of tickets
            available first-come-first-served on the door on the night even if
            the advance allocation is sold out. Early arrival is
            recommended.</p>
            <p>Advance tickets for other Cube events can be purchased from the
            following outlets:</p>
            <p>BRISTOL TICKET SHOP (telephone/internet bookings)
            <br>41 High St
            <br>Bristol
            <br>BS1 2AT
            <br>0870 4444 400
            <br>0117 929 9008
            <br><a href="http://www.bristolticketshop.co.uk/" title= "Bristol Ticket Shop">www.bristolticketshop.co.uk</a></p>
            <p>HERE SHOP
            <br>108 Stokes Croft
            <br>Bristol
            <br>BS1 3RU
            <br>0117 942 2222
            <br><a href="http://www.heregallery.co.uk/" title= "Here Shop">www.heregallery.co.uk</a></p>
        </div><!-- end .copy -->
    </div><!-- end .grid-item -->
</div><!-- end .programme -->
{% endblock %}
