{% extends "base_about.html" %}

{% block title %}
Cube Microplex: About
{% endblock %}

{% block body %}
{{ block.super }}
<div class="programme">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item grid-item--width2 event-image">
        <div class="event_image">
          <img src="{{ STATIC_URL }}about/cube-images/snowcube-small-01.jpg" alt="Snow Cube">
        </div><!-- end .event_image -->
    </div><!-- end .grid-item -->
    <div class="grid-item grid-item--width3">
        <h3>About The Cube</h3>
        <br>
        <div class="copy">
            <p>Hello. The Cube is a Microplex Cinema, Arts venue, adult creche
            and progressive social wellbeing enterprise in Central Bristol,
            England. It was formed in 1998 by 4 artists who had no idea what
            they were getting into.  Idealists, amateurs, fools, material
            positivists, stilt walkers, film directors, screen writers,
            occultists. But not even running illegal cinema speakeasy events in
            Bristol (Club Rombus) could prepare them for the monster they gave
            birth to one cold and rainy October evening in 1998. The building
            until that point in time had been a glass recylcle depo, an am-dram
            theatre, a gay avant garde 70's art centre, an extension of the
            Chinese Overseas Association, a girls school, a deaf and dumb
            institute, a second run family cinema, a secret gig venue, an
            illegal gambling den.  All these ghosts hang on in there.</p>
            <p>The am-dram group who once occupied the space hand-built the
            wooden staging, racked seats and wood panelled walls of the
            auditorium and this DIY ethic is still the life-blood of the Cube.
            Every job needed to run this venue seven days a week is carried out
            by devoted volunteers who give up their time for the love of it. We
            are amateurs, but we resist the negative connotations of that word.
            The organisation runs as a not-for-profit worker's
            co-operative.</p>
            <p>The Cube has evolved over time. Older guests
            will remember entering via King Square past the kitchen of a
            Chinese restaurant. When that kitchen burnt down in 2001, we were
            closed down for a year, but reopened with a new entrance and a new
            garden, a small urban oasis where cigarette papers get swapped for
            a smile and a story.  Volunteers have come and gone too. Some have
            fallen in love and had children, who now come to Babycinema
            screenings and Nanoplex kids workshops.</p>
            <p>Our volunteers work
            hard at presenting cinema, music, cabaret, discussions, amateur
            film-makers nights, children's events, performance art, comedy and
            other events that can't easily be categorized.  The money we make
            from these events funds the organisation.  We get no external
            funding. We are truly independent.</p>
            <p>We aim to offer
            alternatives and make a difference - in our programming and in the
            way we trade. We don't sell Coca Cola - we make our own recipe
            cola. We don't serve Nescafe - we ship feral trade coffee from
            Central America. We have sent volunteers to Haiti to screen films
            for earthquake survivors. We provide an internet server for
            Kingsdown. We are the cheapest cinema in town and always will be
            and if you're an asylum seeker you can come in for free.</p>
            <p>Come and visit soon us soon. You can buy a lifetime membership
            card - it's the best £1 you'll ever spend.</p>
            <p><a href="{% url "about-volunteer" %}" title= "Volunteering at the Cube">Volunteering at the Cube</a></p>
        </div><!-- end .copy -->
    </div><!-- end .grid-item -->
</div><!-- end .programme -->
{% endblock %}
