{% extends "base_about.html" %}

{% block title %}
Cube Microplex: Membership
{% endblock %}

{% block body %}
{{ block.super }}
<div class="programme">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item grid-item--width2 event-image">
        <div class="event_image">
          <img src="{{ STATIC_URL }}about/membership-03.JPG" alt="Membership Cards">
        </div><!-- end .event_image -->
    </div><!-- end .grid-item -->
    <div class="grid-item grid-item--width3">
        <h3>Membership</h3>
        <br>
        <div class="copy">
            <p>The Cube is a membership Cinema, therefore you must purchase
            membership before you can come to any films or events promoted by
            us at The Cube Cinema. Membership costs £1 and you can purchase it
            on the door. Please remember to bring your membership card with you
            every time you visit.</p>
        </div><!-- end .copy -->
    </div><!-- end .grid-item -->
</div><!-- end .programme -->
{% endblock %}
