{% extends "base_about.html" %}

{% block title %}
Cube Microplex: Newsletter
{% endblock %}

{% block body %}
{{ block.super }}
<div class="programme">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item grid-item--width2 event-image">
        <div class="event_image">
          <img src="{{ STATIC_URL }}about/tickets-01.jpg" alt="Automaticket">
        </div><!-- end .event_image -->
    </div><!-- end .grid-item -->
    <div class="grid-item grid-item--width3">
        <h3>Newsletter</h3>
        <br>
        <div class="copy">
            <form method="post" action="http://www.cubecinema.com/cgi-bin/join/signiup.pl">
             <input type="hidden" name="subject" value="Cube mailing list request"/>
             <input type="hidden" name="required" value="realname,email"/>
             <input type="hidden" name="title" value="Cube Programme Mailing List Submission"/>
             <input type="hidden" name="return_link_title" value="Back to Cube Microplex Home"/>
             <input type="hidden" name="return_link_url" value="/"/>
              <table>
               <tr>
                <td>Your name: </td>
                <td><input type="text" name="realname" size="27"/></td>
               </tr>
               <tr>
                <td>Your email address: </td>
                <td><input type="text" name="email" size="27"/></td>
               </tr>
               <tr>
                <td>First part of your postcode: </td>
                <td><input type="text" name="postcode" size="27"/></td>
               </tr>
               <tr>
                <td>If you are a cube member, please enter any additional information to help us find you in our records,
                 eg membership number, previous email address:</td>
                <td><input type="text" name="additional" size="27"/></td>
               </tr>
               <tr>
                <td> Are you happy to check this box?</td>
                <td><input type="radio" name="happy" value="yesHappy"/> Yes
                    <input type="radio" name="happy" value="noHappy"/> No
                    <input type="radio" name="happy" value="notSure"/> Not Sure
                </td>
               <tr/>
                <td/>
                <td colspan="2"><input value="Submit" type="submit"/></td>
               </tr>
              </table>
             </form>
        </div><!-- end .copy -->
    </div><!-- end .grid-item -->
</div><!-- end .programme -->
{% endblock %}
