{% extends "base_content.html" %}

{% block title %}
Cube Microplex: Tech Spec
{% endblock %}

{% block body %}
{{ block.super }}
<div class="programme">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item grid-item--width2 event-image">
        <div class="event_image">
          <img src="{{ STATIC_URL }}about/projection-01.jpg" alt="Cube Projection Room">
        </div><!-- end .event_image -->
    </div><!-- end .grid-item -->
    <div class="grid-item grid-item--width3">
        <h3>Cube Cinema Tech Spec</h3>
        <br>
        <div class="copy">
            <p><b>AUDITORIUM</b></p>
            <p>107 seats.</p>
            <p>Screen measurements in MM
            <br>Screen H = 2640, W = 6230 (<b>Scope</b>) (6230 divided by 2640 = 2:35 Cinemascope)
            <br>Screen H = 2640, W = 4884 (<b>Flat</b>) (4884 divided by 2640 = 1:85 Flat, Widescreen)
            <br>Screen H = 2640, W = 3511 (<b>Academy</b>) (3511 divided by 2640 = 1:33, Academy)</p>
            <p>Projection Throw: 14m</p>
            <p>Stage 4.6m deep x 7m wide (13.8 ft x 21ft)</p>
            <p><b>SOUND</b></p>
            <p>2000W Bi-Amped PA.</p>
            <p>The Cube auditorum is acoustically dry with little or no reverb.</p>
            <p><b>DESK</b></p>
            <p>Soundcraft Impact Si 32 channel digital desk</p>
            <p><b>STAGE</b></p>
            <p>Sommer Groove+ 32/8 multicore</p>
            <p><b>OUTBOARD</b></p>
            <p>Tascam CD writer</p>
            <p><b>MONITORS</b></p>
            <p>4 x HK Audio L5 112X<br>
            2 x Yamaha P5000S amplifiers<br>
            2 x Turbosound TXD 12M wedges<br>
            Ecler APA1000 Switching Power Mosfet Amp</p>
            <p><b>FOH</b></p>
            <p>DBX driverack PA2
            <br>Crest Audio FA2401 Power Amp
            <br>Amcron Geodyne II</p>
            <p><b>MICS / DIs</b></p>
            <p>3 x SM58
            <br>3 x SM57
            <br>1 x AKG D112
            <br>2 x AKG C2000B
            <br>4 x Stageline DIB-100 1-channel passive DIs
            <br>About 10 channels of DI via boxes</p>
            <p><b>PROJECTION</b></p>
            <p><b>AUDITORIUM PICTURE</b></p>
            <p>DCP (2k), 35mm, 16mm, Super 8 (inc sound), BD (upto 1080i), DVD. BetaSP, VHS, S-VHS, mini DV, DVCAM. Any file format within reason. Apple formats are not within reason.</p>
            <p><b>SOUND</b></p>
            <p>Dolby CP750 for all digital formats. CP650 for analogue and historic formats.</p>
            <p>Live audio and video streaming from auditorium.</p>
            <p><b>BAR</b></p>
            <p>Technics Decks, CD &amp; Tape Player.</p>
            <p><b>PROGRAMME</b></p>
            <p>Between 3000 and 4000 two colour programmes are distributed across Bristol each month.</p>
            <p><b>WEB SPACE</b></p>
            <p>This site has extra space for publicity, projects or
            documentation of events. We have a server here previously made from trash. The
            url is <a href="http://sparror.cubecinema.com" title= "Sparror Art
            Server">sparror.cubecinema.com</a></p>
        </div><!-- end .copy -->
    </div><!-- end .grid-item -->
</div><!-- end .programme -->
{% endblock %}
