{% extends "base_content.html" %}

{% block title %}
Cube Microplex: Tech Spec
{% endblock %}

{% block body %}
{{ block.super }}
<div class="programme">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item grid-item--width2 event-image">
        <div class="event_image">
          <img src="{{ STATIC_URL }}about/hire-seats-01.JPG" alt="Cube Seats">
        </div><!-- end .event_image -->
    </div><!-- end .grid-item -->
    <div class="grid-item grid-item--width3">
        <h3>Guide to private hire at the Cube Cinema</h3>
        <br>
        <div class="copy">
            <p>The Cube is open for all kinds of events and hires. It
            can be booked to put on private screenings, public
            meetings, rehearsals, conferences, music, festivals,
            etc.</p>
            <p>CINEMA seats: 105 people.
            <br>THE LICENSED BAR: 50 people comfortably.
            <br>THE GARDEN: 25 people</p>
            <p>Hire rates and conditions will vary depending on the type,
            timing, tech and staffing requirements of the event. Rates can vary
            from £150 to £1500. Sunday-Wednesday hires will generally be
            cheaper than weekends. If you have any further questions or would
            like to make a booking, please email us at <script type="text/javascript">
            //<![CDATA[
            <!--
            var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
            "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
            "\\\\,l=x.length;for(i=0;i<l;i++){if(i==62)y+=i;y%=127;o+=String.fromCharCod" +
            "e(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\ZP#4/&*1h0: >. #fml0r;&00j\\\\"+
            "\\\\004{7:51*0Z\\\\\\\\002\\\\\\\\027\\\\\\\\001\\\\\\\\001\\\\\\\\004\\\\\\"+
            "\\002\\\\\\\\n\\\\\\\\001\\\\\\\\007*\\\\\\\\010\\\\\\\\031\\\\\\\\017\\\\\\"+
            "\\013\\\\\\\\014\\\\\\\\031\\\\\\\\037\\\\\\\\027\\\\\\\\036\\\\\\\\025[\\\\"+
            "\\\\025\\\\\\\\030\\\\\\\\025%X[OUIRZ}\\\\\\\\035`\\\\\\\\006)$/+h<9\\\\\\\\"+
            "027ns-:24379<8\\\\\\\\027;,8>?40:\\\\\\\\r\\\\\\\\000L\\\\\\\\000\\\\\\\\01" +
            "3\\\\\\\\010ZH\\\\\\\\tWHBW]U\\\"\\\\,62)\\\"(f};)lo,0(rtsbus.o nruter};)i(" +
            "tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)29=!)31/l(tAedoC" +
            "rahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"             ;
            while(x=eval(x));
            //-->
            //]]>
            </script>.</p>
            <p><b>NOTES</b></p>
            <p>Hire includes Cube manager, front of house, bar staff,
            projectionist, usher. Our evening opening times are 7pm-11/12pm;
            afternoon hires are also possible. If it is a public event, it it
            will also be put in our monthly publicity and Programme. Price does
            not include cost of Film/Video hire &amp; transport and any extra
            specific equipment. Hirer should provide own DJs.</p>
            <p><b>BOOKING FILMS</b></p>
            <p>We also have extensive search facilities available to book
            films. Specialist searches can be undertaken at extra costs.</p>
        </div><!-- end .copy -->
    </div><!-- end .grid-item -->
</div><!-- end .programme -->
{% endblock %}
