{% extends "base_content.html" %}

{% block title %}
Cube Microplex: Babycinema
{% endblock %}

{% block body %}
{{ block.super }}
<div class="programme">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item grid-item--width event-image">
        &nbsp;
    </div><!-- end .grid-item -->
    <div class="grid-item grid-item--width3">
        <h3>Babycinema</h3>
        <br>
        <div class="copy">
            <p>Happens most Wednesdays at 11am.</p>
            <p>The watching-with-baby screenings are for parents/carers with young babies (up to 1 year) to enjoy a movie in the company of other parents and their offspring.</p>
            <p>With our film programme you'll be able to see the latest blockbusters, foreign language films and classic favourites. The Cube provides an area for prams, baby changing facilities, lowered movie volume and extra lighting in the auditorium. Our bar/cafe sells yummy homemade cakes and a wide range of beverages and soft drinks at reasonable prices. There will always be a friendly Front of House on hand to help.</p>
            <p>See our <a href="{% url "type-view" "babycinema" %}" title= "current babycinema programme">current babycinema programme</a> for film details.</p>
            <p>If you would like more information, please email <script type="text/javascript">
            //<![CDATA[
            <!--
            var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){y%=127;o+=St" +
            "ring.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\" 2&*>\\\"##n)x){(\\" +
            "\"4$w1u5f~\\177r0\\014\\\\\\032M\\010\\000\\010\\000\\034\\001F\\007Q\\002\\"+
            "002T\\007\\031\\033\\037\\021]\\016Y\\033\\021\\033\\t?\\022\\032e@v+h*74!(" +
            "7=<$u{bhik?(n,t2'w'`}~TBJ\\013A\\014]ZUOEY\\004D\\023C\\035\\000\\tZ\\n\\01" +
            "0\\006\\014Q\\024\\027\\022GR\\025\\0028o!+%7\\0073` cp1?+;%#<s;{%\\\":*.)t" +
            "mr0\\014HY\\036\\002MDN\\\\X[G0O7>+\\007\\016\\020I\\001\\020COM\\002OEKB82" +
            "(/<*568UV9 )9&;4?ow!%'DEVP)..C|qpxpX\\023\\025\\030uvA\\034\\034\\036sl`mul" +
            "q\\001\\006\\010ef\\017\\r\\rbc1\\000\\006\\nsuv\\033\\024\\000\\000\\010\\" +
            "007\\000\\016\\010\\023\\004.\\r1,!=./,#s&9!\\030\\020\\000O5T\\013\\010\\0" +
            "23\\tM\\014UKE\\003\\035\\024\\034/(ADG$%LJL!\\\"402_XQt[T?8;PQ<= MN '%JK()" +
            "*G@*,/|}\\026\\020\\024yz\\021\\032\\031vwp\\017\\006IM\\n]\\023ZGCC]KG\\00" +
            "0\\025\\024\\025\\0249i\\034j-m2\\006--%\\010>,&,~)z60:\\025%91\\03163/8q\\" +
            "007\\017\\013\\021\\0206[L\\007R]Y]PK\\026\\013XYX\\035N\\032K\\021BJF\\025" +
            "U\\014og9kpbhbd'r6`!R-L3/|8|6eyoa2e1f7F\\001LLMQEI]O\\010\\002\",70)"        ;
            while(x=eval(x));
            //-->
            //]]>
            </script></p>
        </div><!-- end .copy -->
    </div><!-- end .grid-item -->
</div><!-- end .programme -->
{% endblock %}
