{% extends "base_about.html" %}
{% load thumbnail_l %}

{% block title %}
Cube Microplex: Volunteer
{% endblock %}

{% block body %}
{{ block.super }}
<div class="programme">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item grid-item--width2 event-image">
        <div class="event_image">
          <img src="{{ STATIC_URL }}about/volunteer-01.JPG" alt="Volunteer">
        </div><!-- end .event_image -->
    </div><!-- end .grid-item -->
    <div class="grid-item grid-item--width3">
        <h3>Volunteer</h3>
        <br>
        <div class="copy">
            <p>People volunteer at The Cube for many reasons. Some because they
            are self motivated individuals who love the notion of running (as a
            member of a cooperative) a cinema-come-live-music-come-art space.
            Others are attracted by the social opportunities. For many of us,
            The Cube was our first port of call when we arrived in Bristol and
            we've been hanging around ever since. Some volunteers are
            professional artists with their own practice, which adds to the
            Cube's uniqueness, and to their practice.</p>
            <p>Volunteers can get
            free films, cheap beer, and as many opportunities as they want.
            There are so many roles within The Cube and more than 100
            volunteers doing them, so it's impossible to describe everything.
            Here are a few: Usher, membership assistant, bar staff, front of
            house manager, cleaner, projectionist, computer programmer,
            technical helper, film programmer, music programmer, website
            co-ordinator, curator, etc.</p>
            <p>We mostly have events in the evenings, so this is when we need
            most of our volunteers to be available. People are around in the
            daytime too though, and we do have a few daytime events so don't be
            put off if you work unusual hours. We prefer people to try and work
            regularly, ideally once a week, as this helps you get more out of
            the cube and helps us with staffing events. Committing to work
            regular shifts is particularly useful (e.g. every monday evening),
            but by no means compulsary.</p>
            <p>We always start new volunteers
            off on the bar or assisting the front of house manager with
            memberships. These two roles are a good introduction to working
            here and give you an understanding of how the place works. They are
            both responsible yet don't need quite as much specific training as
            some of the other jobs. They get you working here and interacting
            with other volunteers, and through this you'll get to see what the
            other jobs are, what they entail and find out who to contact if
            you're interested in doing them or being trained to do them.</p>
            <p>We run regular induction sessions for new volunteers to allow us
            to give a bit more information about working here, and allow you to
            have a look around and ask us any questions you might have.</p>
            <p>If you would like to volunteer, please email
            <script type="text/javascript">
            //<![CDATA[
            <!--
            var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
            "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
            "\\\\,l=x.length;for(i=0;i<l;i++){if(i==62)y+=i;y%=127;o+=String.fromCharCod" +
            "e(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\ZP#4/&*1h0: >. #fml0r;&00j\\\\"+
            "\\\\004{7:51*0Z\\\\\\\\002\\\\\\\\027\\\\\\\\001\\\\\\\\001\\\\\\\\004\\\\\\"+
            "\\002\\\\\\\\n\\\\\\\\001\\\\\\\\007*\\\\\\\\010\\\\\\\\031\\\\\\\\017\\\\\\"+
            "\\013\\\\\\\\014\\\\\\\\031\\\\\\\\037\\\\\\\\027\\\\\\\\036\\\\\\\\025[\\\\"+
            "\\\\025\\\\\\\\030\\\\\\\\025%X[OUIRZ}\\\\\\\\035`\\\\\\\\006)$/+h<9\\\\\\\\"+
            "027ns-:24379<8\\\\\\\\027;,8>?40:\\\\\\\\r\\\\\\\\000L\\\\\\\\000\\\\\\\\01" +
            "3\\\\\\\\010ZH\\\\\\\\tWHBW]U\\\"\\\\,62)\\\"(f};)lo,0(rtsbus.o nruter};)i(" +
            "tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)29=!)31/l(tAedoC" +
            "rahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"             ;
            while(x=eval(x));
            //-->
            //]]>
            </script>
            and tell us your name, and why you'd like to come and work here.
            It'd be useful to know when and how often you think you might be
            able to work too.</p>
        </div><!-- end .copy -->
    </div><!-- end .grid-item -->
</div><!-- end .programme -->
{% endblock %}
