{% extends "base.html" %}
{% load hash_filter %}
{% load markup %}

{% block title %}
Editing {{ event_list_name }}
{% endblock %}

{% block css %}
<style type="text/css">
  .private {
  font-style: italic;
  }
  .external {
  font-weight: bold;
  }
  .discounted {
    color: #a000FF;
  }
  .cancelled {
    color: red;
  }
  h3 { font-family: Arial; }

  table { border-collapse: collapse; }
  tr:nth-child(odd) td {
      background-color: #d0d0d0;
  }
  tr:nth-child(even) td {
      background-color: #c0c0c0;
  }
  td:first-child {
      text-align: right;
      width: 100px;
      padding-right: 10px;
  }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
        // Change links in table to open in a new window:
        $('table a').click(function(e) {
            window.open(e.currentTarget.href,"edit_form","height=800,width=800,scrollbars,resizable,toolbar");
            return false;
        });
});
</script>
{% endblock %}

{% block body %}
<img src="/static/diary/diary_edit_list_header.gif" alt="Cube Microplex" width="150px">
<h3>CUBE events diary</h3>

<p><a name="top"></a></p>
<h4>Key:</h4>
<p><span class="private">Private events are in italics</span><br>
<span class="external">Outside hires are bolded</span><br>
<span class="discounted">Discounted events (like TTT) are magenta</span><br>
<span class="cancelled">Cancelled events are red</span></p>

<div class="programme"><p align='center'><a href="{% url day-edit year=start.year day=start.day month=start.month %}?daysahead=30">See 1 month</a> | 
<a href="{% url day-edit year=start.year day=start.day month=start.month %}?daysahead=60">See 2 months</a> | 
<a href="{% url day-edit year=start.year day=start.day month=start.month %}?daysahead=90">See 3 months</a></p>
<table class="summary">
    <tr><td></td><td colspan="3"><a href="{% url add-event %}?date={{start|date:"j-m-Y"}}">New event</a></td></tr>

{% for day, showings in dates.items %}
    {% ifchanged %}<tr class="row_year"><td><h1>{{ day|date:"Y" }} </h1></td><td colspan="3"></td></tr>{% endifchanged %}
    {% ifchanged %}<tr class="row_month"><td><h2>{{ day|date:"F" }}</h2></td><td colspan="3"></td></tr></tr>
    {% endifchanged %}
    {% if day in ideas %}
    <tr><td><a href="{% url edit-ideas year=day.year month=day.month %}">IDEAS</a></td><td colspan="3">{{ ideas|lookup:day|markdown }}</td></tr>
    {% endif %}
    <tr class="row_day"><td class="cell_day"><a href="{% url add-event %}?date={{day|date:"j-m-Y"}}">{{ day|date:"D"}}&nbsp;{{ day|date:"j" }}</a></td>

    {% for showing in showings %}
    <td>
    <a href="{% url edit-showing showing_id=showing.pk %}">{{ showing.start|date:"H:i" }}</a>
    </td>
    <td class="table_gap">&nbsp;</td>
    <td>{{ showing.booked_by }} <a href="{% url edit-event-details-view pk=showing.event.pk %}">
    <span class="{% if showing.cancelled or showing.event.cancelled %}cancelled{% endif %}{% if showing.discounted %} discounted{% endif %}{% if showing.event.private %} private{% endif %}{% if showing.event.outside_hire %} external{% endif %}">
        {% if showing.confirmed %}
        {{ showing.event.name|upper }}
        {% else %}
        {{ showing.event.name }}
        {% endif %}{% if showing.discounted %}(TTT){% endif %}{% if showing.cancelled or showing.event.cancelled %}(CANCELLED){% endif %}
    </span>
    </a></td></tr>
    <tr><td>&nbsp;</td>
    {% endfor %}
    <td colspan="3">&nbsp;</td></tr>

{% endfor %}

</table>
</div>

{% endblock %}

