{% extends "base.html" %}
{% load hash_filter %}
{% load markup %}

{% block title %}
Editing {{ event_list_name }}
{% endblock %}

{% block css %}
<style>
  .private {
  font-style: italic;
  }
  .external {
  font-weight: bold;
  }
  .discounted {
    color: #a000FF;
  }
  .cancelled {
    color: red;
  }
</style>
{% endblock %}

{% block body %}

<p><a name="top"></a></p>
<h4>Key:</h4>
<p><span class="private">Private events are in italics</span><br>
<span class="external">Outside hires are bolded</span><br>
<span class="discounted">Discounted events (like TTT) are magenta</span><br>
<span class="cancelled">Cancelled events are red</span></p>

<div class="programme"><p align='center'><a href="{% url day-edit year=start.year day=start.day month=start.month %}?daysahead=30">See 1 month</a> | 
<a href="{% url day-edit year=start.year day=start.day month=start.month %}?daysahead=60">See 2 months</a> | 
<a href="{% url day-edit year=start.year day=start.day month=start.month %}?daysahead=90">See 3 months</a></p>
<p><a href=" ">New event</a></p>
<table class="summary">


{% for day, showings in dates.items %}
    {% ifchanged %}<tr class="row_year"><td colspan="4"><h1>{{ day|date:"Y" }} </h1></td></tr>{% endifchanged %}
    {% ifchanged %}<tr class="row_month"><td colspan="4"><h2>{{ day|date:"F" }}</h2></td></tr>
    {% endifchanged %}
    {% if day in ideas %}
    <tr><td><a href="">IDEAS</a></td><td colspan="3">{{ ideas|lookup:day|markdown }}</td></tr>
    {% endif %}
    <tr class="row_day"><td class="cell_day"> {{ day|date:"D"}}&nbsp;{{ day|date:"j" }}</td>

    {% for showing in showings %}
    <td>
    <a href="{% url edit-event-showings event_id=showing.event.pk %}">{{ showing.start|date:"H:i" }}</a>
    </td>
    <td class="table_gap">&nbsp;</td>
    <td>{{ showing.booked_by }} <a href="{% url edit-event-details event_id=showing.event.pk %}">
    {% if showing.cancelled or showing.event.cancelled %} <span class="cancelled"> {% endif %}
    {% if showing.discounted %} <span class="discounted"> {% endif %}
    {% if showing.event.private %} <span class="private"> {% endif %}
    {% if showing.event.outside_hire %}<span class="external">{% endif %}
    {% if showing.confirmed %}
    {{ showing.event.name|upper }}
    {% else %}
    {{ showing.event.name }}
    {% endif %}
    {% if showing.event.outside_hire %}</span>{% endif %}
    {% if showing.event.private %} </span> {% endif %}
    {% if showing.discounted %} </span> {% endif %}
    {% if showing.cancelled or showing.event.cancelled %} </span> {% endif %}
    </a></td></tr>
    <tr><td>&nbsp;</td>
    {% endfor %}
    <td colspan="3">&nbsp;</td></tr>

{% endfor %}

</table>
</div>

{% endblock %}

