{% extends "base.html" %}
{% load markup %}
{% block title %}
Details for: {{ event.name }}
{% endblock %}
{% block css %}
<style type="text/css">
    div#detail p {
        margin: 0 16px 0 16px;
        padding: 16px;
        background-color: #c0c0c0;
    }
    div#detail p.d {
        background-color: #d0d0d0;
    }
</style>
{% endblock %}

{% block body %}
<h1>Details for {{ event.name }}</h1>

{% for showing in event.showings.all %}
<p>Booked for: <a href="{% url edit-showing showing.pk %}">{{ showing.start|date:"H:i d/m/Y"  }}</a></p>
{% endfor %}

<div id="detail">
    <p class="d"><b>Name:</b>{{ event.name }} <a href="{% url edit-event-details event.pk %}">[edit]</a></p>

<p><b>Event image.</b><br>
Todo</p>

<p class="d"><b>Copy for "{{ event.name }}"</b></p>
{{event.copy|markdown}}
<p><a href="{% url edit-event-details event.pk %}">[edit]</a></p>

<p class="d"><b>Copy summary for "{{ event.name }}"</b></p>
{{event.copy_summary|markdown}}
<p><a href="{% url edit-event-details event.pk %}">[edit]</a></p>

<p class="d"><b>Terms for "{{ event.name }}"</b></p>
<p>{{event.terms}}</p>
<p><a href="{% url edit-event-details event.pk %}">[edit]</a></p>

<p class="d"><b>Other notes for "{{ event.name }}"</b></p>
<p>{{event.notes}}</p>
<p><a href="{% url edit-event-details event.pk %}">[edit]</a></p>
</div>
<!-- urgh -->
<p><a href="#" onclick="self.close(); opener.location.reload(true);">back</a></p>

{% endblock %}

