{% extends "base.html" %}

{% block title %}
{{ event_list_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/programme.css" type="text/css" title="Preferred" media="screen,projection">
{% endblock %}

{% block body %}

<p><a name="top"></a></p>
<div class="programme"><a href="http://www.cubecinema.com/"><img class="cubelogo" src="/static/prog_logo_captioned.png" alt="Cube Programme"></a>

<p align='center'><a href="{% url day-view year=start.year day=start.day month=start.month %}?daysahead=30">See 1 month</a> | 
<a href="{% url day-view year=start.year day=start.day month=start.month %}?daysahead=60">See 2 months</a> | 
<a href="{% url day-view year=start.year day=start.day month=start.month %}?daysahead=90">See 3 months</a></p>

<table class="summary">
{% for showing in showings %}
    {% ifchanged %}<tr class="row_year"><td colspan="4"><h1>{{ showing.start|date:"Y" }} </h1></td></tr>{% endifchanged %}
    {% ifchanged %}<tr class="row_month"><td colspan="4"><h2>{{ showing.start|date:"F" }}</h2></td></tr>{% endifchanged %}
    {% ifchanged %}
        <tr><td colspan="4">&nbsp;</td></tr>
        {% if showing.start.weekday == 0 %}<tr class="row_weekstart"> {% else %} <tr class="row_day"> {% endif %}
        {% if showing.start_date == today %}<td class="cell_day_today">{% else %}<td class="cell_day">{% endif %}
        {{ showing.start|date:"D"}}&nbsp;{{ showing.start|date:"j" }}
        </td>
    {% else %}
        <tr><td>&nbsp;</td>
    {% endifchanged %}
    <td class="cell_time">{{showing.start|date:"H:i"}}</td><td class="table_gap">&nbsp;</td>
    <td class="cell_event"><a href="#showing_{{showing.id}}">{% if showing.discounted %}<span class="discounted">{% endif %}{% if showing.cancelled %}<span class="cancelled">{% endif %}{{ showing.event.name|capfirst }}{% if showing.cancelled %} (CANCELLED) </span>{% endif %}{% if showing.discounted %} (Discount)</span>{% endif %}</a></td></tr>
{% endfor %}

</table>
</div>

<div class="details">
{% for showing in showings %}
{% include "showing_fragment.html" %}
{% endfor %}
</div>
{% endblock %}

