{% extends "base.html" %}

{% block css %}
<link href='http://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,500' rel='stylesheet' type='text/css'>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:400" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:100" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:100italic" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:300" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:300italic" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Mono:500" />
<![endif]-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/lib/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome/css/font-awesome.min.css">
<style>
body {
  padding: 4rem 1.4rem;
}
</style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}/js/lib/bootstrap/vendor/jquery-slim.min.js"></script>
    <script src="{{ STATIC_URL }}/js/lib/bootstrap/vendor/popper.min.js"></script>
    <script src="{{ STATIC_URL }}/js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/js/lib/bootstrap/ie10-viewport-bug-workaround.js"></script>
{% endblock %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block header %}
    {% if user.is_superuser %}
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    {% elif user.groups.all.0.name == "Programmers" %}
      <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    {% else %}
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #0a588f;">
    {% endif %}
      <img alt="{{ VENUE.name }}" src="{{ STATIC_URL }}/{{ VENUE.internal_header_img }}" height="40px">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url "toolkit-index" %}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if user.is_superuser or user.groups.all.0.name == "Programmers" %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url "default-edit" %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Diary</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{% url "default-edit" %}">Edit</a>
                <a class="dropdown-item" href="{% url "diary-edit-calendar" %}">Calendar</a>
              </div>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "default-view" %}">Public Programme</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url "rota-edit" %}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rota</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url "rota-edit" %}">Edit</a>
              <a class="dropdown-item" href="{% url "view-rota-vacancies" %}">Upcoming vacancies</a>
            </div>
          </li>
          {% if user.is_superuser %}

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url "search-members" %}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="{% url "add-member" %}">Add Member</a>
                <a class="dropdown-item" href="{% url "search-members" %}">Search Members</a>
                <a class="dropdown-item" href="{% url "member-statistics" %}">Member Statistics</a>
                <a class="dropdown-item" href="{% url "member-duplicates" %}">Member Duplicates</a>
                {% if membership_expiry_enabled %}
                   <a class="dropdown-item" href="{% url "member-expired" %}">Expired Members</a>
                {% endif %}
              </div>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url "view-volunteer-summary" %}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Volunteers</a>
              <div class="dropdown-menu" aria-labelledby="dropdown03">
                <a class="dropdown-item" href="{% url "view-volunteer-summary" %}">Volunteers summary</a>
                <a class="dropdown-item" href="{% url "view-volunteer-list" %}">Volunteers profiles</a>
                <a class="dropdown-item" href="{% url "add-volunteer" %}">Add new volunteer</a>
                <a class="dropdown-item" href="{% url "retire-select-volunteer" %}">Retire volunteer</a>
                <a class="dropdown-item" href="{% url "unretire-select-volunteer" %}">Unretire volunteer</a>
                <a class="dropdown-item" href="{% url "view-volunteer-export" %}">Export volunteers as CSV</a>
                <a class="dropdown-item" href="{% url "view-volunteer-role-report" %}">Volunteer role report</a>
                <a class="dropdown-item" href="{% url "view-volunteer-training-report" %}">Volunteer training report</a>
              </div>
            </li>
          {% endif %}
          {% comment TODO Make this work properly when not logged in %}
              if VENUE.show_user_management
          {% endcomment %}
          {% if user.is_superuser %}
          {% comment super user can edit themselves %}{% endcomment %}
              {% if user.volunteer.pk %}
                  <li class="nav-item">
                   <a class="nav-link" href="{% url "edit-volunteer" user.volunteer.pk %}"><span class="fa fa-user"></span> {{ user.volunteer.member.name }}</a>
                  </li>
              {% endif %}
          {% else %}
              {% if user.volunteer.pk %}
                 <li class="nav-item">
                   <a class="nav-link" href="{% url "edit-member" user.volunteer.member.pk %}?k={{ user.volunteer.member.mailout_key }}"><span class="fa fa-user"></span> {{ user.volunteer.member.name }}</a>
                 </li>
              {% endif %}
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}"><span class="fa fa-sign-out"></span> Log out</a>
          </li>
        </ul>
        {% block header-navbar-extra-post %}{% endblock %}
      </div>
    </nav>

    <div class="container">
        <div class="admin-template">
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
        </div><!-- /.admin-template -->
    </div><!-- /.container -->
{% endblock %}
