{% extends "base.html" %}

{% block title %}
Cube Toolkit
{% endblock %}

{% block css %}
<style>
    .index-edit {
        color: #a3a3a3;
        font-size: 8pt;
    }
    .index-edit a {
        color: #a3a3a3;
    }
</style>
{% endblock %}

{% block body %}
<h1>Cube toolkit</h1>

<h2>Programming</h2>
<ul>
    <li><a href="{% url "default-view" %}">Diary for the public</a></li>
    <li><a href="{% url "archive-view-index" %}">Public diary archive</a></li>
    <li><a href="{% url "default-edit" %}">Edit the diary</a></li>
    <li><a href="{% url "view_event_field" field="copy" %}">Copy report</a></li>
    <li><a href="{% url "view_event_field" field="copy_summary" %}">Copy summary report</a></li>
    <li><a href="{% url "view_event_field" field="terms" %}">Terms report</a></li>
    <li><a href="{% url "edit-printed-programmes" %}">Upload printed programme PDFs</a></li>
</ul>
<h2>Rota</h2>
<ul>
    <li><a href="{% url "rota-edit" %}">Edit the rota</a></li>
    <li><a href="{% url "view-rota-vacancies" %}">List vacancies in the next 6 days</a> (for easy emailing)</li>
</ul>
<h2>Meta-programming</h2>
<ul>
    <li><a href="{% url "edit_event_tags" %}">Edit available event tags</a></li>
    <li><a href="{% url "edit_event_templates" %}">Edit available event templates</a></li>
    <li><a href="{% url "edit_roles" %}">Edit available volunteer/event roles</a></li>
</ul>
<h2>Volunteers</h2>
<ul>
    <li><a href="{% url "view-volunteer-list" %}">Volunteers profiles</a></li>
</ul>
<h2>Members</h2>
<ul>
    <li><a href="{% url "add-member" %}">Members database</a></li>
    <li><a href="{% url "member-homepages" %}">Members homepages</a></li>
    <li><a href="{% url "members-mailout" %}">Members mailout</a></li>
</ul>


<ul>
{% for link in object_list %}
{% ifchanged link.category %}
</ul>
<h2>{{ link.category.name }}
    <span class="index-edit">[<a href="{% url "update-index-category" pk=link.category.pk %}">e</a>]</span></h2>
<ul>
{% endifchanged %}
<li><a href="{{ link.link }}">{% firstof link.text link.link %}</a> <span class="index-edit">
[<a href="{% url "update-index-link" pk=link.pk %}">e</a>]
[<a href="{% url "delete-index-link" pk=link.pk %}">x</a>]
</span></li>
{% endfor %}
</ul>
<hr>
<p><a href="{% url "create-index-link" %}">Add link</a> &#xb7;
<a href="{% url "create-index-category" %}">Add link group</a> &#xb7;
<a href="{% url "logout" %}">Log out</a></p>

{% endblock %}

