{% extends "base_admin.html" %}

{% block title %}
Mailer jobs
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/lib/htmx.min.js"></script>
{% endblock %}

{% block body %}
<h1>Mailer jobs</h1>

<div class="form-check">
  <label class="form-check-label">
    <input name="poll-for-updates"
           hx-get="{% url "mailer:jobs-table" %}" hx-target="#jobs-table" hx-swap="outerHTML" hx-include='input[type="checkbox"]'
           class="form-check-input" type="checkbox" {{ poll_for_updates|yesno:"checked," }}>
    Update this page automatically
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input name="show-completed"
           hx-get="{% url "mailer:jobs-table" %}" hx-target="#jobs-table" hx-swap="outerHTML" hx-include='input[type="checkbox"]'
           class="form-check-input" type="checkbox" {{ show_completed|yesno:"checked," }}>
  Show Completed
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input name="show-failed"
           hx-get="{% url "mailer:jobs-table" %}" hx-target="#jobs-table" hx-swap="outerHTML" hx-include='input[type="checkbox"]'
           class="form-check-input" type="checkbox" {{ show_failed|yesno:"checked," }}>
    Show Failed
  </label>
</div>

<p>


{% include "jobs-list-table.html" %}

{% endblock %}
