
/*  NORMALISE  ============================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

html,
button,
input,
select,
textarea {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 400;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

p,
pre {
    margin: 0;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.45em;
}

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal; 
    *margin-left: -7px; 
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle; 
}

button,
input {
    line-height: normal;
}

button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px; 
}

input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top; 
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}


/*  BASE  ============================================================== */


body {
    font-family: 'Roboto', sans-serif;
    color: black;;
    background-color: #FFFFF;
    font-size: 15px;
    line-height: 1.4;
    margin: 0.5em;
}

.event {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.pre_title, .post_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    font-size: 0.4em;
    line-height: 1.6em;
    padding-bottom: 0.6em;
}
.post_title {
    padding-top: 0.6em;
} 
h1 {
    font-weight: 300;
    font-size: 1.8em;
    line-height: 1.2em;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 1.2em;
}
h1 a {
    text-decoration: none;
    color: black;
}
h1 a:visited {
    color: black;
}

.showings {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.2em;
    border-top: thin dotted black;
    padding-top: 0.6em; 
    border-bottom: thin dotted black; 
    padding-bottom: 0.6em;  
}
.info {
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.2em;
    padding: 0.6em 0;
}
.tickets {
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.2em;
    padding-top: 0.6em;
    padding-bottom: 1.2em;    
}

.action a {
    color: white !important;
    background: black !important;
    border: 1px solid black;
    border-radius: 0 !important;
    outline: none;
    font: 0.6em "Roboto", sans-serif;
    line-height: 1.2em;
    font-weight: 400;
    padding: 8px 10px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;    
}

.copy p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:     1em;
    line-height: 1.2em;
    padding: 0.5em 0.5em 0.5em 0;
    margin: 0;
}
.copy p a {
    color: #282828;
    text-decoration: none;
    border-bottom: 1px dotted #282828;
}
.copy p a:visited {
    color: black;
}

.event img {
    border: none;
    float: left;
    padding-right: 1.5em;
    width: 100%;
    height: auto;
}

.event iframe {
    max-width: 100%;
}

div.sold_out::before {
    /* If entire event series is sold out */
    content: "SOLD OUT";
    text-decoration: none;
    color: black;
    background-color: white;
    border: thin solid lightgray;
    opacity: 0.9;

    font-size: 3em;
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 140px;
    margin: 0;
    padding: 0 0.15em;
    border-radius: 0.2em;
    transform: rotate(-15deg);
    transform-origin: 0 50%;
    -webkit-transform: rotate(-15deg);
    -webkit-transform-origin: 0 50%;
}

div.cancelled::before {
    /* If entire event series is cancelled */
    content: "CANCELLED (sorry)";
    text-decoration: none;
    color: red;
    background-color: white;
    border: thin solid lightgray;
    opacity: 0.9;

    font-size: 3em;
    display: inline-block;
    position: absolute;
    left: 30%;
    margin: 0;
    padding: 0 0.15em;
    border-radius: 0.2em;
    transform: rotate(15deg);
    transform-origin: 0 50%;
    -webkit-transform: rotate(15deg);
    -webkit-transform-origin: 0 50%;
}

p span.cancelled {
    color: red;
}

p span.sold_out {
    font-weight: bold;
}

.footer {
    border-top: thin dotted black;
    margin: auto;
     width: 75%;
}
.footer a, .footer a:visited {
    color: black;
    text-decoration: none;
}
.footer p {
    font-weight: 300;
    color: black;
    font-size:     0.8em;
    line-height: 1.4;
    margin: 0;
}
.header {
    border-bottom: thin dotted black;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.6em;
    padding-top: 0;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    overflow: auto;
}
.header p {
    font-weight: 300;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}
.header a, .header a:visited {
    color: black;
    text-decoration: none;
}
#cubelogo {
    border: none;
    float: left;
    max-width: 100%;
}

/*  SECTIONS  ============================================================== */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  GROUPING  ============================================================== */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP  ===================================================== */

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*  REMOVE MARGINS AND PADDING AS ALL GO FULL WIDTH AT 1024 PIXELS */

@media only screen and (max-width: 1024px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}


/*  GRID OF SIX  =========================================================== */

.span_6_of_6 {
    width: 100%;
}

.span_5_of_6 {
      width: 83.06%;
}

.span_4_of_6 {
      width: 66.13%;
}

.span_3_of_6 {
      width: 49.2%;
}

.span_2_of_6 {
      width: 32.26%;
}

.span_1_of_6 {
      width: 15.33%;
}



/*  GO FULL WIDTH AT LESS THAN 1024 PIXELS */

@media only screen and (max-width: 1024px) {
    #cubelogo {
        width: 20%;
    }
    .span_6_of_6 {
        width: 100%;
    }
    .span_5_of_6 {
        width: 100%;
    }
    .span_4_of_6 {
        width: 100%;
    }
    .span_3_of_6 {
        width: 100%;
    }
    .span_2_of_6 {
        width: 100%;
    }
    .span_1_of_6 {
        width: 100%;
        /*display: none;*/
    }
}

/*  DECREASE MARGIN AT 767 PIXELS */

@media only screen and (max-width: 767px) {
    .header {
        width: 90%;
    }
    .event {
        width: 90%;
    }
    .footer {
        width: 90%;
    }   
    .action a {
        font: 0.7em "Roboto", sans-serif;    
    } 
}

/*  GO FULL WIDTH FOR PORTRAIT ORIENTATION */

@media (orientation: portrait) {
    .span_6_of_6 {
        width: 100%;
    }
    .span_5_of_6 {
        width: 100%;
    }
    .span_4_of_6 {
        width: 100%;
    }
    .span_3_of_6 {
        width: 100%;
    }
    .span_2_of_6 {
        width: 100%;
    }
    .span_1_of_6 {
        width: 100%;
        /*display: none;*/
    }
}
