/* Header
-------------------------------------------------------------------------------*/

/* --- Main Menu + Main Search --- */
.navigation-wrap {
    position: relative;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-spacing: 0px;
    padding-top: 37px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 10px;
}
.mobile-wrap {
    position: relative;
    height: 50px;
}
#mobile-menu-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: block;
    text-align: left;
    z-index: 100;
}
#mobile-menu-btn:before {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 1.3571em;
    vertical-align: top;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 0;
    color: #000;
}
#mobile-menu-btn span {
    text-indent: -99999px;
    display: block;
}

/* --- Sidebar Layout --- */
#sidebar {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    min-height: 100%;
    width: 240px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-y: auto;
}
.grid--open-sidebar {
    opacity: 0.5;
    left: 240px;
}
#site-nav {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 220px;
    background: #fff;
    padding-top: 37px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 22px;
}
.nav-wrap {
    display: block;
    position: absolute;
    left: 0px;
    width: 220px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-spacing: 0px;
    padding-top: 21.7647%;
    padding-right: 0;
    padding-bottom: 11.7647%;
    padding-left: 12.9411%;
}
#site-title h1 {
    display: block;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 0.7857em;
    line-height: 1.4;
}
#site-title h1 a {
    border-bottom: 0.1em solid;
}
.site-description h4 {
    font-size: 0.7857em;
    font-weight: 400;
    text-transform: lowercase;
    line-height: 1.4;
    color: #000000;
    margin: 0;
}
.grid-switcher {
    font-size: 0.7857em;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 2em;
}
.social-media {
    font-size: 0.7857em;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 2em;
}
.print-media {
    font-size: 0.7857em;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 2em;
}
/* --- Menus --- */
#site-nav ul {
    padding: 0;
}
#site-nav ul li a {
    display: block;
    font-size: 0.7857em;
    font-weight: 400;
    line-height: 1.4;
    padding: 3.5px 0 14px;
}
#site-nav ul li a:hover {
    text-decoration: underline;
}
#site-nav ul ul li {
    padding-left: 0.714em;
}
/* --- Sub menu --- */
#navmenu ul ul {
    display: none;
}
#navmenu ul ul li {

}
#navmenu ul ul li:last-child {

}
#navmenu ul ul a {
    padding: 3.5px 0 14px;
    display: block;
    text-indent: -0.886em;
    padding-left: 0.714em;
}
#navmenu ul ul a:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-right: 10px;
    vertical-align: baseline;
}
#navmenu ul ul a:hover {
    text-decoration: underline;
}


@media screen and (min-width: 360px) {
    .navigation-wrap {
        padding-left: 12px;
    }
}

@media screen and (min-width: 475px) {
    .navigation-wrap {
        padding-left: 14px;
    }
}

@media screen and (min-width: 600px) {
    .navigation-wrap {
        padding-left: 22px;
    }
}

@media screen and (min-width: 1000px) {
    #container {
        display: block;
        padding-top: 37px;
        padding-bottom: 20px;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .navigation-wrap {
        display: none;
    }
    #mobile-menu-btn {
        display: none;
    }

    /* --- Sidebar Layout --- */
    #sidebar {
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        min-height: 100%;
        width: 170px;
        margin: 0;
        padding: 0;
        background-color: #fff;
        overflow-y: hidden;
    }
    #site-nav {
        position: relative;
        left: 0;
        top: 0;
        width: 170px;
        background: transparent;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-spacing: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
        padding-left: 22px;
    }
    .nav-wrap {
        position: relative;
        left: 0;
        width: 170px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-spacing: 0px;
        padding-top: 42px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 22px;
    }
    #site-title h1 {
        font-weight: 400;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-size: 0.7142em;
        line-height: 1.4;
    }
    #site-title h1 a {
        border-bottom: 0.1em solid;
    }
    .site-description h4 {
        font-size: 0.7142em;
        font-weight: 400;
        text-transform: lowercase;
        line-height: 1.4;
        color: #000000;
        margin: 0;
    }
    .grid-switcher {
        font-size: 0.7142em;
        line-height: 1.4;
        margin-top: 2em;
    }
    .social-media {
        font-size: 0.7142em;
        line-height: 1.4;
        margin-top: 2em;
    }
    .print-media {
        font-size: 0.7142em;
        line-height: 1.4;
        margin-top: 2em;
    }

    /* --- Menus --- */
    .mobile-wrap {
        display: none;
    }
    #site-nav {
        display: block;
        margin-top: 1em;
    }
    #site-nav ul {
        padding: 0;
    }
    #site-nav ul li a {
        display: block;
        font-size: 0.7142em;
        line-height: 1.4;
        padding: 3.5px 0 7px;
    }
    #site-nav ul li a:hover {
        text-decoration: underline;
    }
    #site-nav ul ul li {
        padding-left: 0.714em;
    }
    /* --- Sub menu --- */
    #navmenu ul ul {
        display: none;
    }
    #navmenu ul ul a {
        padding: 3.5px 0 7px;
        display: block;
        text-indent: -0.886em;
        padding-left: 0.714em;
    }
    #navmenu ul ul a:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 1260px) {
    /* --- Site Nav --- */
    .mobile-wrap {
        display: none;
    }

    /* --- Menus --- */
    #site-nav ul li a {
        padding: 3.5px 0;
    }

    /* --- Sub menu --- */
    #navmenu ul ul a {
        padding: 3.5px 0;
    }
}

@media screen and (min-width: 1600px) {
    /* --- Sidebar Layout --- */
    #sidebar {
        width: 192px;
    }
    #site-nav {
        width: 192px;
        padding-bottom: 20px;
        padding-left: 27px;
    }
    .nav-wrap {
        width: 192px;
        padding-top: 42px;
        padding-left: 27px;
    }
}

@media screen and (min-width: 1900px) {
    /* --- Sidebar Layout --- */
    #sidebar {
        width: 192px;
    }
    #site-nav {
        width: 192px;
        padding-bottom: 20px;
        padding-left: 30px;
    }
    .nav-wrap {
        width: 192px;
        padding-top: 42px;
        padding-left: 30px;
    }
}