/* Media Queries
-------------------------------------------------------------------------------*/

/* Minimum width of 360 pixels (large smartphones portrait)
------------------------------------------------------------------------------------ */
@media screen and (min-width: 360px) {

    /* --- General --- */
    .navigation-wrap {
        padding-left: 12px;
    }
    /* --- Text --- */
    #site-title h1, .site-description h4, .grid-switcher, .social-media, .print-media, #site-nav ul li a, .showing h3, .list p {
        font-size: 0.892754em;
        line-height: 1.4;
    }
    .pre_title, .post_title {
        font-size: 0.8035em;
        line-height: 1.4;
    }
    #mobile-menu-btn:before {
        font: normal 1.696375em;
    }
    p.start_and_pricing, p.copy, span.tags {
        font-size: 0.802875em;
        line-height: 1.4;
    }
    /* --- Event Image --- */
    .event_image img {
        max-height: 350px;
    }
    /* --- List Layout --- */
    p.day {
        display: block;
        padding-left: 70px;
        text-indent: -70px;
    }
    p.sameday {
        display: block;
        padding-left: 70px;
    }
}

/* Minimum width of 475 pixels (smartphones landscape)
------------------------------------------------------------------------------------ */
@media screen and (min-width: 475px) {

    /* --- General --- */
    .navigation-wrap {
        padding-left: 14px;
    }
    /* --- Grid --- */

    .programme {
        margin-left: 1.0526%;
        margin-right: 1.0526%
    }
    .gutter-sizer {
        width: 1.0526%;
    }
    .showing-sizer {
        width: 47.8947%;
    }
    .showing {
        padding-top: 1.0526%;
        padding-left: 1.0526%;
        padding-right: 1.0526%;
        padding-bottom: 40px;
        width: 48.4210%;
        border: 0.07142857142857142em solid transparent;
    }
    .event_image {
        width: 100%;
    }
    .showing:hover {
        border: 0.07142857142857142em solid #cccccc;
    }

    /* --- List Layout --- */
    .list.active {
        padding-left: 12px;
    }
    p.day {
        display: block;
        padding-left: 134px;
        text-indent: -134px;
    }
    p.sameday {
        display: block;
        padding-left: 134px;
        text-indent: -76px;
    }

    /* --- Text --- */
    #site-title h1, .site-description h4, .grid-switcher, .social-media, .print-media, #site-nav ul li a, .showing h3, .list p {
        font-size: 0.7142em;
        line-height: 1.4;
    }
    .pre_title, .post_title {
        font-size: 0.6428em;
        line-height: 1.4;
    }
    p.start_and_pricing, p.copy, span.tags {
        font-size: 0.571em;
        line-height: 1.4;
    }
}


/* Minimum width of 600 pixels (tablets portrait)
------------------------------------------------------------------------------------ */
@media screen and (min-width: 600px) {

    /* --- General --- */
    .navigation-wrap {
        padding-left: 22px;
    }
    /* --- Grid --- */
    .programme {
        margin: 64px 5px 48px;
        margin-left: 0.625%;
        margin-right: 0.625%;
        display: block;
        position: relative;
    }
    .gutter-sizer {
        width: 0.625%;
    }
    .showing-sizer {
        width: 32.5%;
    }
    .showing {
        width: 32.5%;
        padding-top: 0.625%;
        padding-left: 0.625%;
        padding-right: 0.625%;
        padding-bottom: 40px;
        margin-bottom: 5px;
        border: 0.07142857142857142em solid transparent;
    }
    .showing:hover {
        border: 0.07142857142857142em solid #cccccc;
    }
    .event_image {
        width: 100%;
    }
    .event_image img {
        max-height: 300px;
    }
    .showing:nth-child(7n+3) {
        width: 65.625%;
        padding-top: 0.625%;
        padding-left: 0.625%;
        padding-right: 0.625%;
        padding-bottom: 40px;
        margin-bottom: 5px;
    }
    .showing:nth-child(7n+3) > .event_image {
        width: 100%;
    }
    .showing:nth-child(7n+3) > .event_image img {
        max-height: 450px;
    }

    /* --- List Layout --- */
    .list.active {
        padding-left: 12px;
    }

    /* --- Text --- */
    span.tags {
        font-size: 0.5em;
        line-height: 1.4;
    }

}
/* Minimum width of 1000 pixels (tablets landscape)
------------------------------------------------------------------------------------ */
@media screen and (min-width: 1000px) {

    /* --- General --- */
    #container {
        display: block;
        padding-top: 37px;
        padding-bottom: 20px;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .navigation-wrap {
        display: none;
    }
    #mobile-menu-btn {
        display: none;
    }

    /* --- Sidebar Layout --- */
    #sidebar {
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        min-height: 100%;
        width: 170px;
        margin: 0;
        padding: 0;
        background-color: #fff;
        overflow-y: hidden;
    }
    #site-nav {
        position: relative;
        left: 0;
        top: 0;
        width: 170px;
        background: transparent;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-spacing: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
        padding-left: 22px;
    }
    .nav-wrap {
        position: relative;
        left: 0;
        width: 170px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-spacing: 0px;
        padding-top: 42px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 22px;
    }
    #site-title h1 {
        font-weight: 400;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-size: 0.7142em;
        line-height: 1.4;
    }
    #site-title h1 a {
        border-bottom: 0.1em solid;
    }
    .site-description h4 {
        font-size: 0.7142em;
        font-weight: 400;
        text-transform: lowercase;
        line-height: 1.4;
        color: #000000;
        margin: 0;
    }
    .grid-switcher {
        font-size: 0.7142em;
        line-height: 1.4;
        margin-top: 2em;
    }
    .social-media {
        font-size: 0.7142em;
        line-height: 1.4;
        margin-top: 2em;
    }
    .print-media {
        font-size: 0.7142em;
        line-height: 1.4;
        margin-top: 2em;
    }

    /* --- Menus --- */
    .mobile-wrap {
        display: none;
    }
    #site-nav {
        display: block;
        margin-top: 1em;
    }
    #site-nav ul {
        padding: 0;
    }
    #site-nav ul li a {
        display: block;
        font-size: 0.7142em;
        line-height: 1.4;
        padding: 3.5px 0 7px;
    }
    #site-nav ul li a:hover {
        text-decoration: underline;
    }
    #site-nav ul ul li {
        padding-left: 0.714em;
    }
    /* --- Sub menu --- */
    #navmenu ul ul {
        display: none;
    }
    #navmenu ul ul a {
        padding: 3.5px 0 7px;
        display: block;
        text-indent: -0.886em;
        padding-left: 0.714em;
    }
    #navmenu ul ul a:hover {
        text-decoration: underline;
    }
    /* --- Grid --- */
    .grid {
        width: 820px;
        top: 0;
        left: 170px;
    }
    .programme {
        margin: 64px 5px 48px;
        width: 820px;
        margin: 0px 6px 48px;
        display: block;
        position: relative;
    }
    .gutter-sizer {
        width: 5px;
    }
    .showing-sizer {
        width: 265px;
    }
    .showing {
        width: 265px;
        padding: 5px 5px 40px;
        margin-bottom: 5px;
        border: 1px solid transparent;
    }
    .showing:hover {
        border: 1px solid #cccccc;
    }
    .event_image {
        width: 253px;
    }
    .event_image img {
        max-width: 100%;
        max-height: 300px;
    }
    .showing:nth-child(7n+3) {
        width: 540px;
        padding: 5px 5px 40px;
        margin-bottom: 5px;
    }
    .showing:nth-child(7n+3) > .event_image {
        width: 528px;
    }
    .showing:nth-child(7n+3) > .event_image img {
        max-width: 100%;
        max-height: 400px;
    }
    .showing:nth-child(7n+3) > .event_details > p.copy {
        width: 90%;
    }

    /* --- List Layout --- */
    .list {
        display: none;
    }
    .list.active {
        display: block;
        position: relative;
        top: 0;
        max-width: 840px;
        margin: 0px 6px 48px;
        padding-left: 0;
    }
    .list p {
        font-size: 0.7142em;
        font-weight: 400;
        line-height: 1.4;
    }
    .list a:hover {
        text-decoration: underline;
    }
    p.month:first-of-type {
        margin-top: 5px;
    }
    p.month {
        text-decoration: underline;
    }
    p.day {
        display: block;
        padding-left: 146px;
        text-indent: -146px;
    }
    p.day > span.time {
        padding-left: 10px;
    }
    p.sameday {
        display: block;
        padding-left: 146px;
        text-indent: -83px;
    }

    /* --- Text --- */
    #site-title h1, .site-description h4, .grid-switcher, .social-media, .print-media, #site-nav ul li a {
        font-size: 0.7142em;
        line-height: 1.4;
    }
    .showing h3, .list p {
        font-size: 0.7857em;
        line-height: 1.4;
    }
    .pre_title, .post_title {
        font-size: 0.7142em;
        line-height: 1.4;
    }
    p.start_and_pricing, p.copy {
        font-size: 0.67857em;
        line-height: 1.4;
    }
    span.tags {
        font-size: 0.64285em;
        line-height: 1.4;
    }

    /* --- Footer --- */

}


/* Minimum width of 1260 pixels
------------------------------------------------------------------------------------ */
@media screen and (min-width: 1260px) {

    /* --- General --- */


    /* --- Grid Layout --- */
    .grid, .programme {
        width: 1090px;
    }
    .grid {
        left: 170px;
    }

    /* --- Site Nav --- */
    .mobile-wrap {
        display: none;
    }

    /* --- Menus --- */
    #site-nav ul li a {
        padding: 3.5px 0;
    }

    /* --- Sub menu --- */
    #navmenu ul ul a {
        padding: 3.5px 0;
    }

    /* --- Footer --- */

}

@media screen and (min-width: 1600px) {

    /* --- Grid Layout --- */

    .grid {
        width: 1356px;
        left: 192px;
    }
    .programme {
        width: 1356px;
        margin: 0px 6px 48px;
        display: block;
        position: relative;
    }
    .gutter-sizer {
        width: 6px;
    }
    .showing-sizer {
        width: 328px;
    }
    .showing {
        width: 328px;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 40px;
        margin-bottom: 6px;
        border: 0.07142857142857142em solid transparent;
    }
    .showing:hover {
        border: 0.07142857142857142em solid #cccccc;
    }
    .event_image {
        width: 316px;
    }
    .event_image img {
        max-width: 100%;
        max-height: 400px;
    }
    .showing:nth-child(7n+3) {
        width: 662px;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 40px;
        margin-bottom: 6px;
    }
    .showing:nth-child(7n+3) > .event_image {
        width: 650px;
    }
    .showing:nth-child(7n+3) > .event_image img {
        max-width: 100%;
        max-height: 500px;
    }
    /* --- Text --- */


    /* --- Sidebar Layout --- */
    #sidebar {
        width: 192px;
    }
    #site-nav {
        width: 192px;
        padding-bottom: 20px;
        padding-left: 27px;
    }
    .nav-wrap {
        width: 192px;
        padding-top: 42px;
        padding-left: 27px;
    }

    /* --- List Layout --- */
    p.day {
        display: block;
        padding-left: 146px;
        text-indent: -146px;
    }
    p.sameday {
        display: block;
        padding-left: 146px;
        text-indent: -83px;
    }

    /* --- Text --- */
    #site-title h1, .site-description h4, .grid-switcher, .social-media, .print-media, #site-nav ul li a, .showing h3, .list p {
        font-size: 0.785714286em;
        line-height: 1.4;
    }
    .pre_title, .post_title {
        font-size: 0.714285714em;
        line-height: 1.4;
    }
    #mobile-menu-btn:before {
        font: normal 1.696375em;
    }
    p.start_and_pricing, p.copy, span.tags {
        font-size: 0.714285714em;
        line-height: 1.4;
    }
}

@media screen and (min-width: 1900px) {

    /* --- Grid Layout --- */

    .grid {
        left: 192px;
        width: 1700px;
    }
    .programme {
        width: 1670px;
        margin: 0px 10px 48px;
        display: block;
        position: relative;
    }
    .gutter-sizer {
        width: 10px;
    }
    .showing-sizer {
        width: 400px;
    }
    .showing {
        position: relative;
        float: left;
        overflow: hidden;
        width: 400px;
        height: 482px;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 74px;
        margin-bottom: 6px;
        border: 0.07142857142857142em solid transparent;
    }
    .showing:hover {
        border: 0.07142857142857142em solid #cccccc;
    }
    .event_image {
        position: relative;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 386px;
        height: 232px;
    }
    .event_image img {
        min-width:100%;
        min-height:100%;
        object-fit: cover;
    }
    .showing:nth-child(7n+3) {
        width: 400px;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 74px;
        margin-bottom: 6px;
    }
    .showing:nth-child(7n+3) > .event_image {
        width: 386px;
    }
    .showing:nth-child(7n+3) > .event_image img {
        min-width:100%;
        min-height:100%;
        object-fit: cover;
    }

    /* --- Text --- */


    /* --- Sidebar Layout --- */
    #sidebar {
        width: 192px;
    }
    #site-nav {
        width: 192px;
        padding-bottom: 20px;
        padding-left: 30px;
    }
    .nav-wrap {
        width: 192px;
        padding-top: 42px;
        padding-left: 30px;
    }

    /* --- List Layout --- */
    p.day {
        display: block;
        padding-left: 146px;
        text-indent: -146px;
    }
    p.sameday {
        display: block;
        padding-left: 146px;
        text-indent: -83px;
    }
}
