/* This still looks horrible. */

body {
	font-family: 'Droid Sans', sans-serif;
	color: black;
	background-color: #bcbcbc;
	font-size: 10pt;
}

.programme {
	background-color: white;
}

img#cubelogo {
	text-align: center;
	border: none;
}

.programme {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 1.4em;
}

#listing {
	background-color: white;
	border-bottom: thin solid black;
}

#listing h1,#listing h2 {
	font-size: 1.1em;
	padding: 0.1em;
	margin: 0;
	border: thin solid black;
	border-bottom: none;
	clear: both;
}

.pre_title, .post_title {
	font-weight: normal;
	display: block;
	font-weight: bold;
	font-size: 0.6em;
}
#listing h3 {
	font-size: 1.5em;
	padding: 0.15em;
	margin: 0;
	text-transform: uppercase;
}
#listing .factoids {
	font-weight: bold;
}
#listing .copy {
	overflow: hidden;
}

#listing img {
	border: none;
	float: left;
	padding-right: 1.5em;
}
#listing .copy p {
	padding: 0.5em 0.5em 0.5em 0;
	margin: 0;
	white-space: pre-line;

}
#listing .showing {
	padding: 0.8em 0;
	border-bottom: 2px solid darkgray;
}
#listing .showing:after {
	content: "";
	clear: both;
	display: table;
}

#listing .discounted h3::after {
	content: "Discounted!";
	color: black;
	font-weight: normal;
	margin-left: 1em;
	padding: 0 0.15em;
	border-radius: 0.2em;
	background-color: yellow;
}
#listing .ttt h3::after {
	content: "Ticket Tout Tuesday";
}
#listing .cancelled h3::before {
	content: "CANCELLED (sorry)";
	text-decoration: none;
	color: white;
	background-color: red;
	font-size: 2em;
	display: inline-block;
	position: absolute;
	left: 30%;
	margin: 0;
	padding: 0 0.15em;
	border-radius: 0.2em;
	transform: rotate(15deg);
	transform-origin: 0 50%;
	-webkit-transform: rotate(15deg);
	-webkit-transform-origin: 0 50%;
}

span.tags {
	padding: none;
	margin: none;
	font-weight: normal;
	font-size: 0.8em;
	display: block;
}
span.tags a {
	margin: 0.1em;
	border-radius: 0.2em;
	text-decoration: none;
	display: none;
}
span.tags .tag_music { color: blue; display: inline;}
span.tags .tag_film { color: green; display: inline;}
span.tags .tag_party { color: red; display: inline;}
span.tags .tag_talk { color: orange; display: inline;}
span.tags .tag_cabaret { color: brown; display: inline;}
span.tags .tag_bluescreen { color: blue; display: inline;}

.footer {
	margin-top: 2em;
	padding: 0.4em;
	border: thin solid black;
}
