/* This still looks horrible. */

body {
	font-family: sans-serif;
	color: black;
	background-color: white;
	font-size: 10pt;
}

img#cubelogo {
	text-align: center;
	border: none;
}

.programme {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

#listing {
	background-color: white;
	border-bottom: thin solid black;
}

#listing h1,#listing h2 {
	font-size: 1.1em;
	padding: 0.1em;
	margin: 0;
	border: thin solid black;
	border-bottom: none;
	clear: both;
}
#listing h3 {
	font-size: 1.1em;
	padding: 0.15em;
	margin: 0;
	border: thin solid black;
	background-color: black;
	color: white;
}
#listing .copy {
	overflow: hidden;
}

#listing img {
	border: none;
	float: left;
	padding-right: 0.5em;
}
#listing .copy p {
	padding: 0.5em;
	margin: 0;
	white-space: pre-line;

}
#listing .showing {
	border-left: thin solid black;
	border-right: thin solid black;
}
#listing .today h3::before{
	content: "Today";
	border-radius: 0.2em;
	padding: 0.05em 0.15em 0.09em 0.15em;
	margin-right: 0.5em;
	color: black;
	background-color: white;

}
#listing .showing:after {
	content: "";
	clear: both;
	display: table;
}

#listing .discounted h3::after {
	content: "Discounted!";
	color: black;
	font-weight: normal;
	margin-left: 1em;
	padding: 0 0.15em;
	border-radius: 0.2em;
	background-color: yellow;
}
#listing .ttt h3::after {
	content: "Ticket Tout Tuesday";
}
#listing .cancelled h3::before {
	content: "CANCELLED (sorry)";
	text-decoration: none;
	color: white;
	background-color: red;
	font-size: 2em;
	display: inline-block;
	position: absolute;
	left: 30%;
	margin: 0;
	padding: 0 0.15em;
	border-radius: 0.2em;
	transform: rotate(15deg);
	transform-origin: 0 50%;
	-webkit-transform: rotate(15deg);
	-webkit-transform-origin: 0 50%;
}

p.tags {
	padding: none;
	margin: none;
	text-align: right;
}
p.tags a {
	color: black;
	background: gray;
	margin: 0.1em;
	padding: 0 0.15em;
	border-radius: 0.2em;
	background-color: gray;
	text-decoration: none;
}
p.tags .tag_music { background: lightblue; }
p.tags .tag_film { background: lightgreen; }
p.tags .tag_party { background: pink; }
p.tags .tag_talk { background: orange; }
p.tags .tag_cabaret { background: brown; color: white;}
p.tags .tag_bluescreen { background: blue; color: gray;}

.footer {
	margin-top: 2em;
	padding: 0.4em;
	border: thin solid black;
}
