{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css">
{% endblock %}
{% block title %}
Login required
{% endblock %}

{% block body %}

<h1>Login required</h1>
{{ form.name_of_field.errors }}
{% if message %} <p id="message">{{ message }}</p>{% endif %}
<form class="login-form"  action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Continue" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}

