{% extends 'base_admin.html' %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
{% endblock %}

{% block header %}
{% if user.is_authenticated %}
{{ block.super }}
{% endif %}
<h3>{{ VENUE.longname }} members database</h3>
{% include "messages.html" %}

{% endblock %}

{% block footer %}
{% if user.is_superuser %}
<p>
<p>
<a href="{% url "add-member" %}">Add member</a> |
<a href="{% url "search-members" %}">Search / Edit / Delete</a> |
<a href="{% url "member-statistics" %}">Statistics</a>
</p>
{{ block.super }}
{% endif %}
{% endblock %}
