{% extends 'base.html' %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
{% endblock %}

{% block header %}
<p><img alt="{{ VENUE_HEADER_IMG }} Logo" src="{{ STATIC_URL }}diary/{{ VENUE_HEADER_IMG }}"></p>
<h3>{{ VENUE_LONGNAME }} members database</h3>
{% include "messages.html" %}

{% endblock %}

{% block footer %}
{% if user.is_authenticated %}
<p>
<a href="{% url "add-member" %}">Add member</a> |
<a href="{% url "search-members" %}">Search / Edit / Delete</a> |
<a href="{% url "member-statistics" %}">Statistics</a> |
<a href="{% url "toolkit-index" %}">Toolkit home</a> |
<a href="{% url "logout" %}">Log out</a>
</p>
{% endif %}
{% endblock %}
