{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ pagetitle }} {{ volunteer.member.name }}{% endblock %}

{% block css %}
<style>
th {
    vertical-align: top;
}
#roles ul {
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
}
#roles li {
    list-style-type: none;
    /* display: inline-block; */
    margin: 5px;
}
.standard_role {
    font-weight: bold;
    /* background: lightgreen; */
}
#vol_form, #mem_form {
    display: inline-block;
    width: 400px;
    vertical-align: top;
}
input[type="text"], textarea {
    width: 290px;
}
</style>
{% endblock %}

{% block body %}
<h3>{{ pagetitle }} {{ volunteer.member.name }}</h3>
{% if message %}<h3>{{ message }}</h3>{% endif %}
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<p><input type="submit" value="Save changes"> <a href="{% url "view-volunteer-list" %}">Cancel</a></p>
<div id="mem_form">
<table>
{{ mem_form.as_table }}
<tr><td colspan = "2">&nbsp;</td></tr>
</table>
</div>

<div id="vol_form">
<table>
    <tr><td /><td>
        {% if volunteer.portrait %}
        <a href="{{ volunteer.portrait.url }}">
            <img src="{{ volunteer.portrait|thumbnail_url:'portrait' }}" border="0" width="75"></a><br>
        {% else %}
        <img src="{{ default_mugshot }}" border="0" width="75"><br>
        {% endif %}
    </td></tr>
    <tr><th><label for="id_vol-portrait">{{ vol_form.portrait.label }}:</label> </th><td> {{ vol_form.portrait.errors }}{{ vol_form.portrait }}</td></tr>
    <tr><th><label for="id_vol-notes">{{ vol_form.notes.label }}:</label> </th><td> {{ vol_form.notes.errors }}{{ vol_form.notes }}</td></tr>
</table>
</div>
<div id="roles">
    {{ vol_form.roles.errors }}
    <ul>
    {% for c in vol_form.roles.field.queryset %}
    {% ifchanged %}</ul><h3>{{ c.standard|yesno:"Event roles,Other roles" }}</h3><ul>{% endifchanged %}
    <li{% if c.standard %} class="standard_role"{% endif %}><label for="{{vol_form.roles.auto_id}}_{{ forloop.counter0 }}"><input id="{{vol_form.roles.auto_id}}_{{ forloop.counter0 }}" type="checkbox"  value={{c.id}} name="{{ vol_form.prefix }}-roles" {% if c.id in vol_form.roles.value %}checked {% endif %}/> {{ c }}</label></li> 
    {% endfor %}
    </ul>
</div>

<p><input type="submit" value="Save changes"> <a href="{% url "view-volunteer-list" %}">Cancel</a></p>
</form>


{% endblock %}
