{% extends 'base.html' %}
{% block title %}Change mailing list subscription{% endblock %}

{% block body %}
<h3>Edit Cube mailing list subscription</h3>
{% include "messages.html" %}
<form action="{% url "unsubscribe-member" member_id=member.id%}" method="POST">
{% csrf_token %}
<input name="confirm" type="hidden" value="yes" />
<input name="k" type="hidden" value="{{ member.mailout_key }}" />
<input name="action" type="hidden" value="{{ action }}" />
<table>
<tr><th>Member:</th><td>{{ member.name }}</td>
<tr><th>Current status:</th><td>{{ member.mailout|yesno:"Subscribed,Unsubscribed" }}</td>
</table>
<p><input type="submit" value="{{ member.mailout|yesno:'Unsubscribe,Re-subscribe' }}"></p>
</table>
</form>
{% endblock %}
