<!doctype html>
<html><head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<style>
</style></head>
<body>
<p>Dear {{ member_name }},</p>
{{ body|safe }}
<p>If you wish to be removed from our mailing list please use this link:<br>
<a href="{{ email_unsubscribe_host }}{{ unsubscribe_link }}?k={{ mailout_key }}">{{ email_unsubscribe_host }}{{ unsubscribe_link }}?k={{ mailout_key }}</a><br>
To edit details of your membership, please use this link:<br>
<a href="{{ email_unsubscribe_host }}{{ edit_link }}?k={{ mailout_key }}">{{ email_unsubscribe_host }}{{ edit_link }}?k={{ mailout_key }}</a><br>
</body>
</html>
