{% extends 'base.html' %}
{% block title %}Select volunteer to {{ action }}{% endblock %}

{% block body %}
<h3>Select volunteer to {{ action }}</h3>
<form action="{{ action_url }}" method="POST">
{% csrf_token %}
<select name="volunteer">{% for volunteer in volunteers %}
    <option value="{{ volunteer.pk }}">{{ volunteer.member.name }}</option>
{% endfor %}</select>
<p><input type="submit" name="submit" value="{{ action|title }}"></input> <a href="{% url "view-volunteer-list" %}">Cancel</a></p>
</form>
{% endblock %}
