{% extends 'base_admin.html' %}
{% load thumbnail_l %}
{% load hash_filter %}
{% block title %}Volunteers Summary ordered by {{ sort_type }}{% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
<style>
    .volunteer em {
        font-style: normal;
        color: red;
    }
    .volunteer {
        border-top: thin dotted gray;
        padding-top: 0.5rem;
    }
</style>
{% endblock %}

{% block body %}
<h2>{{ VENUE.name }} Volunteers Summary ordered by {{ sort_type }}</h2>
{% include "messages.html" %}

<p>
<a href="{% url "view-volunteer-list" %}" title="volunteers profiles">volunteers profiles</a> &#xb7;
<a href="{% url "add-volunteer" %}" title="add new volunteer">add volunteer</a> &#xb7;
<a href="{% url "retire-select-volunteer" %}" title="retire volunteer">retire volunteer</a> &#xb7;
<a href="{% url "unretire-select-volunteer" %}" title="unretire volunteer">unretire volunteer</a> &#xb7;
<a href="{% url "view-volunteer-role-report" %}" title="volunteer role report">volunteer role report</a> &#xb7;
<a href="{% url "view-volunteer-training-report" %}" title="volunteer training report">volunteer training report</a>
<br>
Active {{ VENUE.name }} volunteers: {{ active_count }}</p>

<div class="btn-group dropright">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Order by <span class="caret"></span>
  </button>
  <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url "view-volunteer-summary" %}">Order by name</a>
      <a class="dropdown-item" href="{% url "view-volunteer-summary" %}?order=inducted">Order by induction date (most recent first)</a>
      <a class="dropdown-item" href="{% url "view-volunteer-summary" %}?order=logged-in">Order by logged in date (most recent first)</a>
  </div>
</div>

<table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>
            Name
        </th>
        {% if VENUE.show_user_management %}
            <th>
                User Name
            </th>
            <th>
                <abbr title="administrator - has complete rights to see and do everything">Panopticon</abbr>
            </th>
            <th>
                <abbr title="Can edit the diary but not access details of volunteers and members">Programmer</abbr>
            </th>
        {% endif %}
        <th>
            Email
        </th>
        {% if not VENUE.show_user_management %}
            <th>
                GDPR opt in
            </th>
        {% endif %}
        <th>
            Inducted
        </th>
        {% if VENUE.show_user_management %}
        <th>
            Last logged in
        </th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
    {% for volunteer in volunteers %}
        {% with volunteer.member as member %}
            <tr>
                <th scope="row">
                    <a href="{% url "edit-volunteer" volunteer.pk %}">{{ member.name }}</a>
                </th>
                {% if VENUE.show_user_management %}
                    <td>
                        {{ volunteer.user.username }}
                    </td>
                    <td>
                        {% if volunteer.user.is_superuser %}
                            <span class="fa fa-check-circle fa-lg"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if volunteer.user.groups.all.0.name == "Programmers" %}
                            <span class="fa fa-check-circle fa-lg"></span>
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {{ member.email|urlize|default:"<em>Request email address</em>" }}
                </td>
                    {% if not VENUE.show_user_management %}
                    <td>
                        {% if volunteer.member.gdpr_opt_in %}
                            {{ volunteer.member.gdpr_opt_in|date:"d/m/Y" }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>{% if volunteer.is_old %}
                        before {{ dawn_of_toolkit|date:"d/m/Y" }}
                    {% else %}
                        {{ volunteer.created_at|date:"d/m/Y" }}
                    {% endif %}
                </td>
                {% if VENUE.show_user_management %}
                <td>
                    {{ volunteer.user.last_login|default:"Never" }}
                <td>
                {% endif %}
            </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table><!-- table -->
{% endblock %}
