{% extends 'base_admin.html' %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
<style>
    em {
        font-style: normal;
        color: red;
    }
    tr {
        page-break-inside: avoid;
    }
</style>
{% endblock %}

{% block title %}{{ VENUE.name }} volunteers{% endblock %}

{% block body %}

<h3>{{ VENUE.name }} Volunteers Role Summary</h3>
<table>
{% for role, names in role_vol_map %}
{% cycle '<tr>' '' '' ''%}
<td valign="top"><h5>{{ role }}</h5>
{% for name in names %}
{{ name }}<br>
{% endfor %}
<br>
</td>
{% cycle '' '' '' '</tr>' %}
{% endfor %}
</table>

{% endblock %}
