{% extends 'base.html' %}
{% load hash_filter %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
<style>
    em {
        font-style: normal;
        color: red;
    }
</style>
{% endblock %}

{% block title %}Cube volunteers{% endblock %}

{% block body %}
{# {% for v, n in roles.iteritems %} <p><b>{{ v }}</b><br> {{ n }} </p> {% endfor %} #}
<img src="{{ STATIC_URL }}members/cube_microplex_logo.gif" width="200"><p><h2>Cube volunteers report.</h2>
{% include "messages.html" %}
Total cube volunteers: {{ volunteers|length }}<p>
Report generated: {% now "d/m/Y" %}<p>
<a href="{% url "add-volunteer" %}"title="add new volunteer">[add volunteer]</a>
<a href="{% url "select-volunteer" %}?action=retire" title="retire volunteer">[retire volunteer]</a>
<a href="{% url "select-volunteer-inactive" %}?action=unretire" title="unretire volunteer">[unretire volunteer]</a><br>
<h3>Contact details:</h3>
<table>
{% for volunteer in volunteers %}
{% with volunteer.member as member %}
<div style="page-break-inside: avoid">
{% cycle '<tr>' '' %}
<td valign="top" align="right">
{% if volunteer.portrait %}
<a href="{{ volunteer.portrait.url }}">
    {% if volunteer.portrait_thumb %}<img src="{{ volunteer.portrait_thumb.url }}" border="0" width="75">{% else %}(missing preview){% endif %}</a><br>
{% else %}
<img src="{{ default_mugshot }}" border="0" width="75"><br>
{% endif %}
<a href="{% url "edit-volunteer" volunteer.pk %}">[update]</a></td>
<td>&nbsp;&nbsp;</td>
<td valign="top">
<b><font size="4">{{ member.name }}</font></b><p>
<b>notes:</b> {{ volunteer.notes|default:"" }}
<a href="{% url "edit-volunteer" volunteer.pk %}">[update]</a><p>
<b>roles:</b>{{ vol_role_map|lookup:volunteer.id|join:", "|lower|default:"<em>Request role information</em>" }} <a href="{% url "edit-volunteer" volunteer.pk %}">[update]</a><p>
{{ member.email|urlize|default:"<em>Request email address</em>" }}</a><br>
{{ member.address }}{% if member.address %}<br>{% endif %}
{{ member.postcode }}{% if member.postcode %}<br>{% endif %}
{{ member.phone|default:"<em>Request landline number</em>" }}<br>
{{ member.altphone|default:"<em>Request mobile number</em>" }}<br>
<a href="{% url "edit-volunteer" volunteer.pk %}">[update]</a><br>
<br>
</td>
{% cycle '' '</tr>' %}
</div>
{% endwith %}
{% endfor %}
</table>

<h3>Role summary:</h3>
<table>
{% for role, names in role_vol_map %}
{% cycle '<tr>' '' '' ''%}
<td valign="top"><h5>{{ role }}</h5>
{% for name in names %}
{{ name }}<br>
{% endfor %}
<br>
</td>
{% cycle '' '' '' '</tr>' %}
{% endfor %}
</table>

{% endblock %}
