{% extends 'base.html' %}
{% load thumbnail_l %}
{% load hash_filter %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
<style>
    em {
        font-style: normal;
        color: red;
    }
    tr {
        page-break-inside: avoid;
    }
</style>
{% endblock %}

{% block title %}{{ VENUE.name }} Volunteers{% endblock %}

{% block body %}
{# {% for v, n in roles.iteritems %} <p><b>{{ v }}</b><br> {{ n }} </p> {% endfor %} #}
<img src="{{ STATIC_URL }}/diary/{{ VENUE.internal_header_img }}" alt="{{ VENUE.name }} logo"><p><h2>{{ VENUE.name }} Volunteers Report</h2>
{% include "messages.html" %}
Total number of {{ VENUE.name }} volunteers: {{ volunteers|length }}<p>
Report generated: {% now "d/m/Y" %}<p>
<a href="{% url "add-volunteer" %}" title="add new volunteer">[add volunteer]</a>
<a href="{% url "retire-select-volunteer" %}" title="retire volunteer">[retire volunteer]</a>
<a href="{% url "unretire-select-volunteer" %}" title="unretire volunteer">[unretire volunteer]</a><br>
<h3>Contact details:</h3>
<table>
{% for volunteer in volunteers %}
{% with volunteer.member as member %}

{% cycle '<tr>' '' %}
<td valign="top" align="right">
{% if volunteer.portrait %}
<a href="{{ volunteer.portrait.url }}">
    <img src="{{ volunteer.portrait|thumbnail_url:'portrait' }}" border="0" width="75" alt="Photo of {{ member.name }}"></a><br>
{% else %}
<img src="{{ default_mugshot }}"  alt="Photo of {{ member.name }}" border="0" width="75"><br>
{% endif %}
<a href="{% url "edit-volunteer" volunteer.pk %}">[update]</a></td>
<td>&nbsp;&nbsp;</td>
<td valign="top">
<b><font size="4">{{ member.name }}</font></b><p>
<b>notes:</b> {{ volunteer.notes|default:"" }}<p>
<b>roles:</b>{{ volunteer.roles.all|join:", "|lower|default:"<em>Request role information</em>" }}<p>
{{ member.email|urlize|default:"<em>Request email address</em>" }}<br>
{{ member.address }}{% if member.address %}<br>{% endif %}
{{ member.postcode }}{% if member.postcode %}<br>{% endif %}
{{ member.phone }}{% if member.phone %}<br>{% endif %}
{{ member.altphone|default:"<em>Request mobile number</em>" }}<br>
<a href="{% url "edit-volunteer" volunteer.pk %}">[update]</a><br>
<br>
</td>
{% cycle '' '</tr>' %}

{% endwith %}
{% endfor %}
</table>
<h2>The volunteer role report can now be found <a href="{% url "view-volunteer-role-report" %}">here</a>.</h2>
{% endblock %}
