{% extends 'base_admin.html' %}
{% load thumbnail_l %}
{% load hash_filter %}
{% block title %}Volunteers Summary ordered by {{ sort_type }}{% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
<style>
    .volunteer em {
        font-style: normal;
        color: red;
    }
    .volunteer {
        border-top: thin dotted gray;
        padding-top: 0.5rem;
    }
</style>
{% endblock %}

{% block body %}
<h2>{{ VENUE.name }} Volunteers Summary ordered by {{ sort_type }}</h2>
{% include "messages.html" %}

<p>
<a href="{% url "view-volunteer-list" %}" title="volunteers profiles">volunteers profiles</a> &#xb7;
<a href="{% url "add-volunteer" %}" title="add new volunteer">add volunteer</a> &#xb7;
<a href="{% url "retire-select-volunteer" %}" title="retire volunteer">retire volunteer</a> &#xb7;
<a href="{% url "unretire-select-volunteer" %}" title="unretire volunteer">unretire volunteer</a> &#xb7;
<a href="{% url "view-volunteer-role-report" %}" title="volunteer role report">volunteer role report</a> &#xb7;
<a href="{% url "view-volunteer-training-report" %}" title="volunteer training report">volunteer training report</a>
<br>
Active {{ VENUE.name }} volunteers: {{ active_count }}</p>

<div class="btn-group dropend">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Order by
  </button>
  <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url "view-volunteer-summary" %}">Order by name</a>
      <a class="dropdown-item" href="{% url "view-volunteer-summary" %}?order=inducted">Order by induction date (most recent first)</a>
  </div>
</div>
<a href="?order={{ sort_type }}&include_maillist_status=y" class="btn btn-secondary">Load Mailing list Status</a><p>
{% if surprise_recipients %}<p><a href="#mailing-list-unmatched-recipients">Jump to list of mailing list recipients who are not obviously volunteers</a></p>{% endif %}

<table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Inducted
        </th>
        {% if include_maillist_status %}
        <th>
            On Volunteer list
        </th>
        <th>
            On Rota list
        </th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
    {% for volunteer in volunteers %}
        {% with volunteer.member as member %}
            <tr>
                <th scope="row">
                    <a href="{% url "edit-volunteer" volunteer.pk %}">{{ member.name }}</a>
                </th>
                <td>
                    {{ member.email|urlize|default:"<em>Request email address</em>" }}
                </td>
                <td>{% if volunteer.is_old %}
                        before {{ dawn_of_toolkit|date:"d/m/Y" }}
                    {% else %}
                        {{ volunteer.created_at|date:"d/m/Y" }}
                    {% endif %}
                </td>
                {% if include_maillist_status %}
                <td>
                    {{ volunteer.volunteers_subscribed | yesno:"&#9989,&#10060;" | safe }}
                </td>
                <td>
                    {{ volunteer.rota_subscribed | yesno:"&#9989,&#10060;" | safe }}
                </td>
                {% endif %}
            </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table><!-- table -->
{% if surprise_recipients %}
<a name="mailing-list-unmatched-recipients"></a>
<h3>Mailing list recipients who are not obviously volunteers</h3>
<div class="row">
{% for list_name, recipients in surprise_recipients.items %}
    <div class="col">
        <h4>{{ list_name }}</h4>
        <ul>
        {% for recipient in recipients %}
          <li><a href="mailto:{{ recipient }}">{{ recipient }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>
{% endif %}
{% endblock %}
