{% extends 'base_admin.html' %}


{% block title %}{{ VENUE.name }} volunteer training repor{% endblock %}

{% block css %}
{{ block.super }}
<link href="/static/css/lib/chosen.min.css" type="text/css" media="all" rel="stylesheet" />
<style>
.outdated {
    color: red;
    list-style-type: disclosure-closed;
}
.hidden {
    display: none;
}
label {
    margin-bottom: 0.2rem;
        margin-left: 1rem;

}
</style>
{% endblock css %}

{% block script %}
{{ block.super }}
<script src="{{ STATIC_URL}}js/lib/chosen.jquery.js"></script>
<script>
function update_role_display() {
    var selected = $('#id_role_select').val();
    $('.role_info').hide();
    if(selected !== null) {
        for(var i = 0; i < selected.length; i++) {
            $('#id_role_info_' + selected[i]).show();
        }
    }
    return true;
}

function update_outdated_highlights() {
    var max_age_months = +$('#id_age_highlight').val();
    var max_age_date = new Date();

    var show_all = $('#id_show_all')[0].checked;
    var show_current = $('#id_show_current')[0].checked;
    var show_expired = $('#id_show_expired')[0].checked;

    max_age_date.setMonth(max_age_date.getMonth() - max_age_months);

    var max_age_s_since_epoch = max_age_date.getTime() / 1000;

    var records = $('.training_record');
    for(var i = 0; i < records.length; i++) {
        if(records[i].dataset.trainingTime < max_age_s_since_epoch) {
            // expired
            records[i].classList.add("outdated");
            if(show_all || show_expired) {
                records[i].classList.remove("hidden");
            } else {
                records[i].classList.add("hidden");
            }
        } else {
            // current
            records[i].classList.remove("outdated");
            if(show_all || show_current) {
                records[i].classList.remove("hidden");
            } else {
                records[i].classList.add("hidden");
            }
        }
    }
}

$(document).ready(function() {
    update_role_display();
    update_outdated_highlights();

    $('#id_role_select').chosen(
        {
            width: '50%',
    }).change(update_role_display);
    $('input').change(update_outdated_highlights);
});
</script>
{% endblock script %}

{% block body %}

<h1>{{ VENUE.name }} Volunteer Training</h1>

<p><strong>Note:</strong> volunteers are only listed if they have a training
record <em>and</em> they have a role selected in their profile.<br />
(This means that out of date training is only flagged if a volunteer is
still active in that role)</p>

<p>
<span class="outdated">Higlight</span> training that is more than
<input id="id_age_highlight" type="number" value="12" min="0" style="width: 4em;">
months in the past.<br>
Show:<br>
<label><input type="radio" id="id_show_all" name="showstuff" checked> All training</label><br>
<label><input type="radio" id="id_show_current" name="showstuff"> Current training</label><br>
<label><input type="radio" id="id_show_expired" name="showstuff"> Expired training</label>
</p>

<p>Roles to display: <select multiple="multiple" id="id_role_select">
{% for role, _ in report_data %}
<option value="{{ role.id }}" {% if 'Fire' in role.name %}selected{% endif %}>{{ role.name }}</option>
{% endfor %}
</select></p>

{% for role, volunteers in report_data %}
<div class="role_info" id="id_role_info_{{ role.id }}">
  <h2>{{ role }}</h2>
  <ul>
      {% for volunteer, report in volunteers %}
      <li class="training_record" data-training-time="{{ report.training_date|date:"U" }}">
        <a href="{% url "edit-volunteer" volunteer_id=volunteer.id %}#training-record">
          {{ volunteer.member.name }}
        </a>
        &mdash; last trained {{ report.training_date|date:"d/m/Y" }}
      </li>
      {% endfor %}
  </ul>
</div>
{% endfor %}
<div>
  <h2>General Safety Training</h2>
  <ul>
  {% for volunteer in volunteers %}
      {% with volunteer.general_training.0 as record %}
      <li class="training_record"
          data-training-time="{{ record.training_date|date:"U"|default:"0" }}">
        <a href="{% url "edit-volunteer" volunteer_id=volunteer.id %}">
          {{ volunteer.member.name }}
        </a>
        &mdash;
        {% if record %}
            last trained {{ record.training_date|date:"d/m/Y" }}
        {% else %}
            never trained
        {% endif %}
      </li>
      {% endwith %}
  {% endfor %}
  </ul>
</div>

{% endblock %}
